@import "../../../../theme/mixins.scss";

//   &.passive {
//     background-color: var(--theme-var-templatePassiveBg, #e1f2fd);
//   }

//   &.active {
//     background-color: var(--theme-var-templateActiveBg, #fff6d6);
//   }
// }

.debug-name {
  padding: 4px;
  font-size: small;
}
