<ng-template [ngIf]="debugMode && !parent" [ngIfElse]="noDebugger">
  <!-- Debugger Mode -->
  <div class="debug-name">
    <div>template: {{ templatename() || "(undefined)" }}</div>
    <div>name: {{ name || "(undefined)" }}</div>
  </div>
  <!-- Template Component-->
  @for (row of templateRowService.renderedRows() | filterDisplayComponent; track row._nested_name) {
    <plh-template-component
      class="row"
      [row]="row"
      [parent]="this"
      [attr.data-name]="row.name"
      [attr.data-type]="row.type"
      data-debug-mode
    ></plh-template-component>
  }
</ng-template>

<!-- Normal Mode -->
<ng-template #noDebugger>
  @for (row of templateRowService.renderedRows() | filterDisplayComponent; track row._nested_name) {
    <plh-template-component
      class="row"
      [row]="row"
      [parent]="this"
      [attr.data-name]="row.name"
      [attr.data-type]="row.type"
    ></plh-template-component>
  }
</ng-template>
