:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
plh-template-container {
  width: 100%;
}
.template-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.passive {
    background-color: var(--theme-var-templatePassiveBg, #e3f4ff);
  }

  &.active {
    background-color: var(--theme-var-templateActiveBg, #fff6d6);
  }
}
.template-container[data-debug="true"] {
  overflow: auto;
}

.debug-container {
  display: flex;
  align-items: center;
}

.debug-name {
  padding: 4px;
  font-size: small;
}

// hide template components with hidden attribute (unless in debug mode)
.plh-tmpl-comp[data-hidden="true"] {
  display: none;
}
.plh-tmpl-comp[data-debug="true"] {
  display: block;
  border: 1px solid #c7c7c7;
  padding: 2px;
  margin: 2px;
}
