@import "../../../../theme/mixins.scss";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  h1 {
    p {
      margin: 0;
    }
  }
}

//   &.passive {
//     background-color: var(--theme-var-templatePassiveBg, #e1f2fd);
//   }

//   &.active {
//     background-color: var(--theme-var-templateActiveBg, #fff6d6);
//   }
// }

.debug-name {
  padding: 4px;
  font-size: small;
}
