<div
  [className]="'template-container ' + localVariables?.theme_name"
  [attr.data-theme]="localVariables._theme || 'default'"
  [attr.data-debug]="debugMode"
  [attr.data-isChild]="parent ? true : false"
>
  <!-- Debug Toggle -->
  <div class="debug-container" [attr.data-enabled]="debugMode">
    <div *ngIf="debugMode && !parent" class="debug-name">
      <div>template: {{ templatename || "(undefined)" }}</div>
      <div>name: {{ name || "(undefined)" }}</div>
    </div>
  </div>

  <!-- Template Component-->
  <plh-template-component
    [style.height]="onlyOneChild ? '100%' : null"
    *ngFor="let row of template.rows"
    class="row"
    [row]="row"
    [parent]="this"
    ngForTrackBy="trackByRow"
  ></plh-template-component>
</div>
