<div class="carousel-wrapper">
  <!-- Bind to attributes of Swiper WebComponent https://swiperjs.com/element -->
  <swiper-container
    (swiperinit)="handleSwiperInitialised($event)"
    [attr.slides-per-view]="params().slidesPerView"
    [attr.space-between]="params().spaceBetween"
    [attr.loop]="params().loop || null"
    [attr.loop-additional-slides]="loopAdditionalSlides()"
    [attr.centered-slides]="params().centredSlides || null"
    [attr.initial-slide]="params().initialSlideIndex"
  >
    @for (row of carouselRows(); track row._nested_name) {
      <swiper-slide>
        <plh-template-component
          [row]="row"
          [parent]="parent"
          [attr.data-rowname]="row._nested_name"
        >
        </plh-template-component>
      </swiper-slide>
    }
  </swiper-container>
</div>
