<h2>Slider</h2>
<div class="slider">
  <div class="title-slider">
    {{title}}
  </div>
  <ion-icon *ngIf="help" name="help-circle-outline" class="help" [pTooltip]="help" tooltipPosition="left" tooltipEvent="click"></ion-icon>
  <div class="slider__container">
    <div class="slider-item" >
      <ion-range class="custom-range"
                 #range
                 [class.no-touch]="no_value"
                 (ionChange)="changeValue(range)"
                 [value]="value"
                 [min]="minValue" [max]="maxValue" pin="true"
                 [style.--knob-size]="rangeBarTouched && !no_value ? '28px' : '0'"
                 ticks="false" [step]="step" snaps="true"></ion-range>
      <div class="checkbox-block" (click)="disableSlider()">
        <ion-checkbox class="custom-checkbox"  [value]="no_value" [checked]="no_value"  color="primary"></ion-checkbox>
      </div>
    </div>
    <ul class="list-numbers">
      <li [class.disabled]="disabled" *ngFor="let num of listNumbers">{{num}}</li>
    </ul>
    <div class="labels">
      <div class="min">{{min_value_label}}</div>
      <div class="max">{{max_value_label}}</div>
    </div>
  </div>
</div>
