@use "/src/theme/mixins";

$ui-color: var(--slider-ui-color, var(--ion-color-primary-700));

.slider-wrapper {
  min-width: 100%;
  padding: var(--regular-padding) 0 var(--regular-padding) var(--regular-padding);
  background: var(--ion-color-primary-contrast);
  border: var(--ion-border-standard);
  box-sizing: border-box;
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);
  position: relative;
  min-height: var(--slider-wrapper-min-height);
  .help {
    color: $ui-color;
    height: var(--help-icon-standard-size);
    width: var(--help-icon-standard-size);
    position: absolute;
    right: 5px;
    top: 12px;
  }
  .title-slider {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-tiny);
    color: var(--ion-color-primary);
    max-width: var(--slider-title-max-width) !important;
    margin-bottom: var(--regular-margin);
  }
  .slider-container {
    max-width: 95%;
    width: 100%;
    display: flex;
    .custom-slider {
      max-width: 100%;
    }
    .checkbox-block {
      @include mixins.flex-centered;
      @include mixins.tiny-square;
      margin-top: var(--tiny-margin);
      padding-left: var(--small-padding);
      margin-left: var(--tiny-margin);
    }
  }
  .labels {
    @include mixins.flex-space-between;
    max-width: var(--slider-labels-max-width);
    margin-left: -5px;
    margin-top: var(--large-margin);
    .min,
    .max {
      font-size: var(--font-size-text-tiny);
      color: $ui-color;
    }
  }
}
::ng-deep {
  .noUi-target {
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .noUi-connects {
    border: 1px solid $ui-color;
    box-sizing: border-box;
    border-radius: var(--ion-border-radius-secondary);
    height: 10px;
  }
  .noUi-handle::before,
  .noUi-handle::after {
    content: none;
  }
  .noUi-horizontal .noUi-handle {
    @include mixins.tiny-square;
    border-radius: var(--ion-border-radius-rounded);
    background: $ui-color;
    border: none;
    box-shadow: none;
    outline: none;
    top: -7px;
    right: -11px;
  }
  .noUi-pips-horizontal {
    top: 25%;
  }
  .noUi-value-horizontal {
    font-size: var(--font-size-text-large);
    color: $ui-color;
  }
  .noUi-marker-horizontal {
    display: none;
  }
  .noUi-tooltip {
    display: none;
  }
  .noUi-active .noUi-tooltip {
    @include mixins.flex-centered;
    @include mixins.small-square;
    background: $ui-color;
    color: var(--ion-color-primary-contrast);
    border: none;
    border-radius: var(--ion-border-radius-rounded);
  }
  .hide-handle {
    .noUi-horizontal .noUi-handle {
      display: none;
    }
  }
}
.custom-checkbox {
  --border-radius: var(--ion-border-radius-rounded);
  --border-color: #{$ui-color};
  --background: transparent;
  --size: var(--font-size-text-small);
}
