@import "../../../../../../theme/mixins.scss";
.slider-wrapper {
  min-width: 100%;
  padding: 20px 0 15px 20px;
  background: var(--ion-color-primary-contrast);
  border: var(--ion-border-standard);
  box-sizing: border-box;
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);
  position: relative;
  min-height: 139px;
  .help {
    color: var(--ion-color-help-tooltip);
    height: var(--help-icon-standard-size);
    width: var(--help-icon-standard-size);
    position: absolute;
    right: 5px;
    top: 12px;
  }
  .title-slider {
    font-weight: bold;
    font-size: var(--font-size-title-tiny);
    color: var(--ion-color-primary);
    max-width: 258px !important;
    margin-bottom: var(--regular-margin);
  }
  .slider-container {
    max-width: 95%;
    width: 100%;
    display: flex;
    .custom-slider {
      max-width: 100%;
    }
    .checkbox-block {
      @include flex-centered;
      margin-top: 6px;
      padding-left: 11px;
      margin-left: 7px;
      width: 30px;
      height: 30px;
    }
  }
  .labels {
    @include flex-space-between;
    max-width: 275px;
    margin-left: -5px;
    margin-top: 25px;
    .min,
    .max {
      font-size: 15px;
      color: var(--ion-color-slider);
    }
  }
}
::ng-deep {
  .noUi-target {
    border: none;
    background: transparent;
    box-shadow: none;
  }
  .noUi-connects {
    border: 1px solid var(--ion-color-slider);
    box-sizing: border-box;
    border-radius: 20px;
    height: 10px;
  }
  .noUi-handle::before,
  .noUi-handle::after {
    content: none;
  }
  .noUi-horizontal .noUi-handle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: var(--ion-color-slider);
    border: none;
    box-shadow: none;
    outline: none;
    top: -7px;
    right: -11px;
  }
  .noUi-pips-horizontal {
    top: 25%;
  }
  .noUi-value-horizontal {
    font-size: 20px;
    color: var(--ion-color-slider);
  }
  .noUi-marker-horizontal {
    display: none;
  }
  .noUi-tooltip {
    display: none;
  }
  .noUi-active .noUi-tooltip {
    @include flex-centered;
    background: var(--ion-color-slider);
    color: var(--ion-color-primary-contrast);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: var(--ion-border-radius-rounded);
  }
  .hide-handle {
    .noUi-horizontal .noUi-handle {
      display: none;
    }
  }
}
.custom-checkbox {
  --border-radius: 50%;
  --border-color: var(--ion-color-slider);
  --background: transparent;
  --size: 16px;
}
