$path-segment-width: 264px;

.journey-group-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $path-segment-width;
  max-width: 380px;
  margin: auto;
}

.journey-child-wrapper {
  position: relative;
  margin-bottom: -34px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .path-segment {
    position: absolute;
    top: 25%;
    z-index: -1;
    width: $path-segment-width;
  }

  .journey-child-content {
    width: 150px;
    text-align: center;
  }

  &.odd {
    .journey-child-content {
      align-self: flex-start;
    }
    .path-segment {
      margin-left: 32px;
    }
  }

  &.even {
    .journey-child-content {
      align-self: flex-end;
    }
    .path-segment {
      // Flip horizontally for alternate instances
      transform: scaleX(-1);
      margin-right: 32px;
    }
  }

  &:last-child {
    .path-segment {
      display: none;
    }
  }
}
