$placeholder-text: var(--combo-box-placeholder-text, var(--ion-color-gray-500));
$selected-value-text: var(--combo-box-selected-value-text, var(--ion-color-primary-800));
$background-no-value: var(--combo-box-background-no-value, #fff);
$background-with-value: var(--combo-box-background-with-value, var(--ion-color-primary-100));
$border-with-value: var(--combo-box-border-with-value, var(--ion-color-primary-300));

.disabled {
  opacity: 0.5;
}

.placeholder,
ion-select::part(placeholder) {
  color: $placeholder-text;
  opacity: 1;
}

.with-value {
  background: $background-with-value;
  color: $selected-value-text;
  border: 1px solid $border-with-value;
}
.no-value {
  background-color: $background-no-value;
  border: 1px solid var(--ion-color-gray-500);
  opacity: 0.9;
}

.open-search-dropdown,
.dropdown-container {
  width: 100%;
  display: flex;
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  ion-select {
    background-color: white;
    font-size: var(--combo-box-font-size-standard, 18px);
    border: 1px solid var(--ion-color-gray-400);
    border-radius: var(--ion-border-radius-standard, 8px);
    padding-left: var(--small-padding, 10px);
    padding-right: var(--small-padding, 10px);
    &::part(icon) {
      color: var(--ion-color-gray-500);
    }
    &.hasValue {
      background: var(--combo-box-background-with-value, var(--ion-color-gray-50));
      &::part(container) {
        color: var(--combo-box-selected-value-text, var(--ion-color-gray-800));
      }
      &::part(icon) {
        color: var(--combo-box-selected-value-text, var(--ion-color-gray-800));
      }
    }
    &.select-expanded {
      border: 1.5px solid var(--ion-color-primary-500);
      background-color: white;
      color: var(--ion-color-gray-800);
    }
  }
}

.open-search-dropdown {
  width: 100%;
  height: 58px;
  display: flex;
  min-height: var(--combo-box-min-height, 58px);
  font-size: var(--combo-box-font-size-standard, 18px);
  border-radius: var(--ion-border-radius-standard, 8px);
  background-color: white;
  padding-left: var(--small-padding, 10px);
  padding-right: var(--small-padding, 10px);

  .text,
  ion-icon {
    margin-top: auto;
    margin-bottom: auto;
  }

  ion-icon {
    margin-left: auto;
    width: 0.8125rem;
  }
}
