@if (params().showSearch) {
  <button
    class="open-search-dropdown"
    (click)="openSearch()"
    [ngClass]="searchButtonClass()"
    [disabled]="params().disabled"
    [attr.data-test]="name()"
  >
    <span class="text" [class.placeholder]="!!params().placeholder">{{
      displayValue() | translate
    }}</span>
    <ion-icon name="caret-down-sharp" size="small" aria-hidden="true"></ion-icon>
  </button>
} @else if (!params().showSearch) {
  <div class="dropdown-container">
    <ion-select
      [class.hasValue]="!!value()"
      [placeholder]="params().placeholder | translate"
      (ionChange)="onChange($event)"
      interface="popover"
      labelPlacement="stacked"
      [disabled]="params().disabled"
      [attr.data-test]="name()"
      [value]="value()"
    >
      @for (option of options(); track option[optionsKey()]) {
        <ion-select-option [value]="option[optionsKey()]">
          {{ option[optionsValue()] }}
        </ion-select-option>
      }
    </ion-select>
  </div>
}
