@use "/src/theme/mixins";

.box-wrapper {
  @include mixins.flex-centered;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: var(--regular-padding);
  width: 100%;
  min-height: var(--dashed-box-item-min-height);
  padding: var(--regular-padding) var(--largest-padding);
  border: 2px dashed var(--ion-color-primary);
  background-color: var(--ion-color-primary-contrast);
  border-radius: var(--ion-border-radius-secondary);
  position: relative;
  cursor: pointer;
  color: var(--ion-color-primary);

  &[data-toggled="true"] {
    background-color: var(--ion-color-primary-200);
    border-color: var(--ion-color-primary-shade);
  }

  .text {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-text-large);
    line-height: var(--line-height-text-largest);
  }
  .copy-button {
    margin-top: 1rem;
  }
}

.image-based-icon {
  width: 100%;
  max-width: 16px;
  height: auto;
}
