<div
  class="box-wrapper"
  [attr.data-toggled]="toggle"
  (click)="triggerCopyContent($event, _row); triggerActions('click')"
  [attr.data-language-direction]="templateTranslateService.languageDirection()"
>
  <div class="text">{{ _row?.value }}</div>
  <div class="copy-button">
    @if (_row?.parameter_list?.copy_text && _row?.parameter_list.copied_text) {
      @if (!toggle) {
        {{ _row.parameter_list.copy_text }}
      } @else {
        {{ _row.parameter_list.copied_text }}
      }
    }

    @if (_row.parameter_list?.copy_icon && _row.parameter_list.copied_text) {
      @if (!toggle) {
        <ion-icon name="{{ _row.parameter_list?.copy_icon }}"></ion-icon>
      } @else {
        <span class="copy_text">{{ _row?.parameter_list.copied_text }}</span>
      }
    }

    @if (_row.parameter_list?.copy_text && _row.parameter_list.copied_icon) {
      @if (!toggle) {
        {{ _row.parameter_list?.copy_text }}
      } @else {
        <ion-icon name="{{ _row.parameter_list?.copied_icon }}"></ion-icon>
      }
    }

    @if (_row.parameter_list?.copy_icon && _row.parameter_list?.copied_icon) {
      @if (!toggle) {
        <ion-icon name="{{ _row.parameter_list?.copy_icon }}"></ion-icon>
      } @else {
        <img class="image-based-icon" [src]="_row.parameter_list.copied_icon | plhAsset" />
      }
    }
  </div>
  <span></span>
</div>
