@use "../utils";
@use "sass:color";
@use "./overrides" as overrides;

@mixin theme-plh_kids_tz {
  // Core theme configuration variables
  $theme-name: "plh_kids_tz";
  $color-primary: hsl(209, 64%, 25%); // #174168
  $color-secondary: hsl(40, 97%, 49%); // #F6A504
  $page-background: white;
  $color-primary-variant: null;
  $color-secondary-variant: null;
  $color-red: null;
  $color-green: #92cb44;

  @include utils.theme(
    $theme-name: $theme-name,
    $color-primary: $color-primary,
    $color-secondary: $color-secondary,
    $page-background: $page-background,
    $color-primary-variant: $color-primary-variant,
    $color-secondary-variant: $color-secondary-variant,
    $color-red: $color-red,
    $color-green: $color-green,
    $variable-overrides: (
      // Custom palette
      color-accent-pink: #ee007b,
      ion-color-primary-500: #0092d4,
      ion-color-secondary-700: #ac6800,
      ion-color-yellow: #edb135,
      // color-accent-pink-50: #ffe6f3,
      // color-accent-pink-100: #ffcce6,
      // color-accent-pink-200: #ff99ce,
      // color-accent-pink-300: #fe67b5,
      // color-accent-pink-400: #fe349c,
      // color-accent-pink-500: #fe0184,
      // color-accent-pink-600: #cb0169,
      // color-accent-pink-700: #98014f,
      // color-accent-pink-800: #660035,
      // color-accent-pink-900: #33001a,
      // ICON SIZE
      icon-size-small: 16px,
      icon-size-medium: 24px,
      icon-size-large: 32px,
      icon-size-extra-large: 40px,
      icon-size-largest: 48px,

      // BORDER RADIUS
      ion-border-radius-small: 8px,
      ion-border-radius-standard: 12px,
      ion-border-radius-secondary: 20px,
      ion-border-radius-round: 50px,

      // BORDERS
      border-color-default: var(--ion-color-gray-200),
      border-width-default: 1px,
      border-standard: var(--border-width-default) solid var(--border-color-default),
      border-thin-standard: 1px solid var(--border-color-default),
      button-background-primary: var(--ion-color-primary-500),
      button-background-secondary: var(--ion-color-secondary),
      button-background-option: var(--ion-color-primary-800),
      round-button-background-secondary-light: var(--ion-color-yellow),
      // round-button-background-secondary-mid: #fa9529,
      // round-button-background-secondary-dark: #F87023,
      // tile-button-background-default: #a3d9fa,
      tile-button-background-primary: var(--ion-color-primary-500),
      tile-button-background-primary-light: var(--ion-color-primary-300),
      tile-button-background-secondary: var(--ion-color-secondary),
      tile-button-background-secondary-light: var(--ion-color-yellow),
      // audio-control-background: #1980d2,
      points-item-background: var(--ion-background-color),
      points-item-background-complete: var(--ion-color-primary-200),
      points-item-border: rgba(black, 0.07),
      display-group-background-banner-primary: var(--ion-color-primary-200),
      display-group-background-banner-secondary: var(--ion-color-secondary-300),
      // display-group-background-tool-1: #fa8e29,
      // display-group-background-tool-2: #ff7b00,
      // display-group-background-tool-3: #108ab2,
      // display-group-background-tool-4: #096a8b,
      // display-group-background-tool-5: $color-primary,
      display-group-background-home-light: var(--ion-color-primary-300),
      display-group-background-home-mid: var(--ion-color-primary-600),
      display-group-background-home-dark: var(--ion-color-primary-800),
      // timer-button-background: #1985d2,
      // combo-box-placeholder-text: rgba(13, 64, 96, 0.5),
      // combo-box-background-no-value: transparent,
      combo-box-background-with-value: var(--ion-color-primary-300),
      // slider-ui-color: #096e90,
      accordion-background-highlight: var(--ion-color-primary-300),
      tour-next-button-background: var(--ion-color-secondary),
      radio-group-background-selected: var(--ion-color-primary-300),
      radio-group-background-selected-secondary: var(--ion-color-secondary-300),
      // radio-button-font-size: 1.25rem,
      // radio-button-font-color: var(--ion-color-primary),
      ion-item-background: var(--ion-color-gray-light),
      task-progress-bar-color: var(--ion-color-primary-500),
      // checkbox-background-color: white,
      progress-path-line-background: var(--ion-color-gray-100),
      module-list-item-color-default: var(--ion-color-primary-500),
      module-list-item-color-highlighted: var(--ion-color-yellow),
      module-list-item-color-completed: var(--ion-color-secondary-700),
      ion-default-box-shadow: 0 2px 8px rgba(32, 32, 32, 0.2),
      // Text Bubbles
      text-bubble-background-color-primary: var(--ion-color-primary-50),
      text-bubble-border-color-primary: var(--ion-color-primary-700),
      text-bubble-background-color-secondary: var(--ion-color-secondary-200),
      text-bubble-border-color-secondary: var(--ion-color-secondary-500),
      text-bubble-background-color-3: var(--ion-background-color),
      text-bubble-border-color-3: var(--ion-color-yellow),
      text-bubble-background-color-4: var(--ion-background-color),
      text-bubble-border-color-4: var(--ion-color-green),
      // BOX SHADOW
      box-shadow-primary: 0px 1.5px 8px rgba(36, 120, 199, 0.5),
      box-shadow-secondary: 0px 1.5px 8px rgba(246, 207, 127, 0.6),
    )
  ) {
    @include overrides.overrides;
  }
}
