@use "../../mixins";

@mixin overrides {
  /** COMPONENTS **/

  // Module list item
  plh-module-list-item {
    .container {
      border-width: 3px;
      box-shadow: var(--box-shadow-primary);
      border-width: 1.5px;
      &[data-variant~="circle"] {
        border-width: 8px;
        box-shadow: var(--box-shadow-primary);
        // Use [class] to increase specificity without using !important
        .module-image[class] {
          padding: 0px;
        }
        &[data-completed~="false"][data-highlighted~="false"][data-locked~="false"],
        &[data-completed~="false"][data-highlighted~="true"][data-locked~="false"] {
          --circle-width: 92px !important;
        }
      }
      &[data-completed~="true"] {
        box-shadow: none;
        .module-title {
          p {
            color: var(--ion-color-secondary-700) !important;
          }
        }
        .module-image {
          width: 70px !important;
          height: 70px !important;
        }
        .nav-icon {
          opacity: 0.7;
        }
      }
      &[data-highlighted~="true"] {
        box-shadow: var(--box-shadow-secondary);
        .module-title {
          p {
            color: var(--ion-color-secondary-600) !important;
          }
        }
      }
      &[data-locked~="true"] {
        border-color: var(--ion-color-gray-300);
        .module-title {
          p {
            color: var(--ion-color-gray-300) !important;
          }
        }
        box-shadow: none;
      }
    }
  }
  // Button
  plh-button {
    ion-button {
      &.information[data-variant~="default"] {
        --box-shadow: var(--box-shadow-primary);
      }
      &.navigation {
        --box-shadow: var(--box-shadow-secondary);
      }
    }
    .navigation.standard {
      color: var(--ion-color-secondary-900);
    }
    ion-button[data-variant~="card"][data-param-style~="no-background"] {
      border: 1px solid transparent;
      background-color: transparent;
      background: transparent;
      min-height: var(--buttons-size);
      --box-shadow: none;
      p {
        font-weight: var(--font-weight-standard);
      }
      &[data-language-direction~="rtl"] {
        .left.text {
          text-align: right;
          p {
            text-align: right !important;
          }
        }
        .left.right {
          p {
            text-align: left !important;
          }
        }
      }
    }
  }
  // Audio
  plh-audio {
    .container-player[data-variant~="compact"],
    .container-player[data-variant~="large"] {
      // Remove visible bounding box from container level and apply to second-row instead
      border: unset;
      border-radius: unset;
      box-shadow: none;
      background-color: unset;
      padding: 0;

      .top-row {
        padding-bottom: 18px;
        h3 {
          margin: 0;
          color: var(--ion-color-gray-900) !important;
          max-width: 95%;
          font-weight: var(--font-weight-bold);
        }
      }

      .second-row {
        box-shadow: none;
      }

      .progress-block {
        ion-range {
          --bar-background: var(--color-surface-white) !important;
          --bar-height: 12px !important;
          --bar-border-radius: var(--ion-border-radius-standard) !important;
        }

        .time-value {
          font-size: var(--font-size-text-small) !important;
          line-height: var(--line-height-text-tiny) !important;
          color: var(--ion-color-gray-700) !important;
        }
      }
    }

    // Compact variant
    .container-player[data-variant~="compact"] {
      width: 100%;
      .second-row {
        width: 100%;
        border: 0.9px solid var(--ion-color-primary-100);
        border-radius: var(--ion-border-radius-rounded);
        background: var(--ion-color-primary-50);
        padding: 8px 16px;
        padding-right: 24px;
        .controls {
          ion-button.btn-play {
            --background: var(--ion-color-secondary-600) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --box-shadow: none !important;
            height: 52px !important;
            width: 52px !important;
            ion-icon {
              font-size: var(--icon-size-large) !important;
            }
          }
        }
        .progress-block {
          ion-range {
            width: 100% !important;
            --knob-size: 20px !important;
            --knob-background: var(--ion-color-secondary-600) !important;
          }
          .time .time-value {
            font-weight: var(--font-weight-medium) !important;
          }
        }
      }
    }

    // Large variant
    .container-player[data-variant~="large"] {
      box-sizing: border-box;
      display: flex;
      position: relative;
      flex-direction: column;

      .second-row {
        border: 0.9px solid var(--ion-color-primary-100);
        border-radius: var(--ion-border-radius-standard);
        background: var(--ion-color-primary-50);
        padding: 12px 16px;
        display: flex;
        flex-direction: column-reverse;
        .controls {
          width: var(--audio-controls-width) !important;
          .rewind,
          .forward {
            ion-icon {
              font-size: var(--icon-size-extra-large) !important;
              color: var(--ion-color-secondary-600) !important;
              border-radius: 2px !important;
            }
          }
          .btn-play {
            @include mixins.large-square;
            --background: var(--ion-color-primary-50) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --padding: 0 !important;
            --box-shadow: none !important;
            ion-icon {
              position: absolute !important;
              font-size: var(--icon-size-largest) !important;
              color: var(--ion-color-secondary-600) !important;
            }
          }
        }
        .progress-block {
          .audio-range {
            --bar-background-active: var(--ion-color-primary-400) !important;
            --knob-size: 0px !important;
            --pin-background: var(--ion-color-primary-300) !important;
            --knob-background: var(--ion-color-primary-300) !important;
            padding-inline: 0;
          }

          ion-range::part(bar) {
            border: none !important;
          }

          ion-range::part(bar-active) {
            top: -1.5px !important;
            margin-left: 0 !important;
          }
        }
      }
    }
  }
  // Title
  plh-tmpl-title {
    .title-wrapper h1 {
      font-size: var(--font-size-text-title);
      margin: 8px 0;
      line-height: var(--font-size-title-large);
    }
    .title-wrapper[data-variant~="section_banner"] {
      font-size: var(--font-size-text-large) !important;
      font-weight: var(--font-weight-bold) !important;
      background-color: var(--ion-color-primary-50);
      border-bottom: 1px solid var(--ion-color-primary-300);
      h1 {
        padding: 18px 24px;
        border: none;
      }
    }
    .title-wrapper[data-variant~="page_banner"] h1 {
      font-size: var(--font-size-title-large) !important;
      padding: 10px 0;
    }
  }
  // Progress Path
  plh-progress-path {
    // Fine-tune the position of the child steps to reflect theme image
    .progress-path-child-content {
      &:nth-child(1) {
        top: 4% !important;
        left: 8% !important;
      }
      &:nth-child(3) {
        right: 2% !important;
      }
      &:nth-child(4) {
        top: 34% !important;
      }
      &:nth-child(8) {
        right: 4% !important;
      }
      &:nth-child(9) {
        bottom: 6% !important;
      }
    }
    @media (max-width: 384px) {
      .progress-path-child-content {
        &:nth-child(1) {
          top: 5% !important;
          left: 4% !important;
        }
        &:nth-child(3) {
          top: 16% !important;
        }
        &:nth-child(8) {
          bottom: 13% !important;
        }
        &:nth-child(9) {
          bottom: 4% !important;
          left: 30% !important;
        }
      }
    }
  }

  // Round Button
  plh-round-button {
    ion-tab-button {
      &.navigation {
        color: var(--ion-color-secondary-900);
        box-shadow: var(--box-shadow-secondary);
      }
    }
  }

  // Task Progress Bar
  plh-task-progress-bar {
    .progress-bar-wrapper {
      .progress-bar {
        height: 12px !important;
      }
    }
  }

  // Combo-box
  plh-combo-box {
    .combo-box-container.dropdown {
      ion-select {
        background-color: white !important;
        border-width: 1px;
        border-color: var(--ion-color-gray-300) !important;
        padding-left: 16px !important;
        font-size: var(--font-size-text-mid-size);
        border-radius: var(--ion-border-radius-standard) !important;
        &.hasValue,
        &.hasValue::part(container),
        &.hasValue::part(icon) {
          background-color: var(--ion-color-primary-100) !important;
          color: var(--ion-color-primary-800) !important;
          border-color: var(--ion-color-primary-300) !important;
        }
      }
    }
    button.open-combobox {
      background-color: white !important;
      border-width: 1px;
      border-color: var(--ion-color-gray-300) !important;
      border-radius: var(--ion-border-radius-standard);
      filter: none !important;
      min-height: 58px !important;
      &.placeholder-style {
        color: var(--ion-color-gray-400);
        font-weight: var(--font-weight-standard);
      }
      &.with-value {
        background-color: var(--ion-color-primary-100) !important;
        color: var(--ion-color-primary-800) !important;
        border-color: var(--ion-color-primary-300) !important;
      }
    }
    button.open-search-combobox {
      background-color: white !important;
      border-width: 1px;
      border-color: var(--ion-color-gray-300) !important;
      border-radius: var(--ion-border-radius-standard);
      filter: none !important;
      min-height: 58px !important;
      padding-left: 16px;
      &.placeholder-style {
        color: var(--ion-color-gray-400);
        font-weight: var(--font-weight-standard);
      }
      &.with-value {
        background-color: var(--ion-color-primary-100) !important;
        color: var(--ion-color-primary-800) !important;
        border-color: var(--ion-color-primary-300) !important;
      }
    }
  }
  combo-box-modal {
    .container-modal {
      background-color: var(--color-surface-white) !important;
      padding: 40px 20px;
      font-family: var(--ion-font-family);
      .header {
        font-size: var(--font-size-text-large) !important;
        font-weight: var(--font-weight-medium) !important;
        text-align: unset !important;
        color: var(--ion-color-gray-700);
      }
    }
    .container-radio {
      box-shadow: none !important;
      border-radius: var(--ion-border-radius-standard) !important;
      background: var(--ion-color-primary-50) !important;
      border: 1px solid var(--ion-color-primary-200) !important;
      label {
        padding: 8px !important;
        text-align: unset !important;
        font-size: var(--font-size-text-medium) !important;
        color: var(--ion-color-primary-700) !important;
        min-height: 56px !important;
        border-radius: var(--ion-border-radius-small) !important;
        text-align: center !important;
      }
    }
    .checked-radio {
      background: var(--ion-color-primary-100) !important;
      border: 2px solid var(--ion-color-primary-400) !important;
    }
    .wrapper {
      .text-box-input {
        background: var(--color-surface-white) !important;
        border: 1px solid var(--ion-color-gray-300) !important;
        font-size: var(--font-size-text-medium) !important;
        color: var(--ion-color-gray-800) !important;
        box-shadow: none !important;
        --padding-end: 16px !important;
        --padding-start: 16px !important;
        --padding-top: 14px;
        --padding-bottom: 14px;
        min-height: 58px !important;
        border-radius: var(--ion-border-radius-standard) !important;
      }
      .checked-radion {
        background: var(--ion-color-primary-50) !important;
        border: 2px solid var(--ion-color-primary-300) !important;
        color: var(--ion-color-primary-700) !important;
      }
    }
  }
}
