// Button is styled in line with Apple's guidleines:
// https://developer.apple.com/documentation/sign_in_with_apple/displaying-sign-in-with-apple-buttons-on-the-web

.apple-signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--ion-color-secondary-contrast);
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  border: 1px solid var(--ion-color-secondary-contrast);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 100%;
  width: 100%;
  min-width: 140px;
  max-width: 400px;

  .apple-logo {
    height: 14px;
    margin-inline-end: 12px;
    filter: invert(1);
  }

  &:hover {
    background-color: var(--ion-color-gray-100);
  }

  &:active {
    background-color: var(--ion-color-gray-200);
  }
}
