<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <cdk-virtual-scroll-viewport autosize style="height: 100%">
      @for (column of columnsToDisplay(); track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay(); sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay()"
        (click)="handleRowClick(row)"
      ></tr>
    </cdk-virtual-scroll-viewport>
  </table>
</div>
