@use "../utils";
@use "sass:map";
@use "../plh_kids_teens" as parent;
@use "./overrides" as overrides;
@use "./typography";

@mixin theme-plh_kids_teens_za {
  @include utils.theme(
    $theme-name: "plh_kids_teens_za",
    $color-primary: hsl(209 63.8% 24.9%),
    // #174168
    $color-secondary: hsl(199 100% 41.6%),
    // #0092D4
    $page-background: white,
    $color-primary-variant: hsl(40 84% 57%),
    $color-secondary-variant: hsl(17 100% 44%),
    $color-green: #4a842f,
    $variable-overrides: map.merge(
        parent.$variables,
        (
          ion-font-family: "Nunito",
          font-weight-medium: 600,
          font-weight-bold: 700,
          font-weight-extra-bold: 800,

          font-size-text-tiny: 14px,
          font-size-text-small: 16px,
          font-size-text-mid-size: 18px,
          font-size-text-medium: 20px,
          font-size-text-large: 24px,
          font-size-text-title: 28px,
          font-size-text-extra-large: 32px,

          icon-size-small: 16px,
          icon-size-medium: 24px,
          icon-size-large: 32px,
          icon-size-extra-large: 40px,
          icon-size-largest: 48px,

          buttons-font-size-small: 16px,
          buttons-font-size: 20px,

          border-color-default: var(--ion-color-gray-200),
          border-thin-standard: 1px solid var(--border-color-default),
          // COMPONENT VARIABLES
          button-background-option: var(--ion-color-primary-700),
          button-background-primary: var(--ion-color-primary-600),
          button-background-secondary: var(--ion-color-secondary-600),
          display-group-background-banner-secondary: var(--ion-color-secondary-200),
          combo-box-font-size-standard: 18px,
          module-list-item-color-highlighted: var(--color-accent-yellow-70),
          points-item-border: rgba(black, 0.07),
          radio-group-background-secondary: var(--color-accent-orange-90),
          radio-group-background-selected-secondary: var(--color-accent-orange-80),
          radio-group-border-selected-secondary: 2px solid var(--color-accent-orange-70),
          round-button-background-secondary-light: var(--ion-color-yellow),
          task-progress-bar-height: 10px,
          tile-button-background-primary-light: var(--ion-color-primary-200),
          tile-button-background-primary: var(--ion-color-primary-600),
          tile-button-background-secondary-light: var(--ion-color-yellow),
          tile-button-background-secondary: var(--ion-color-secondary-600),
          tile-image-text-width: 290px,
          tour-next-button-background: var(--ion-color-primary-600),
          // SURFACE COLOUR PALETTE
          color-surface-white: #ffffff,
          color-surface-white-variant: #f9f9fa,
          color-surface-black: #1b1c1d,
          color-surface-black-variant: #44474a,
          color-outline: #74777c,
          color-outline-variant: #c4c7c9,

          // SECONDARY PALETTE
          color-secondary-blue-40: #0066a1,
          color-secondary-blue-50: #007fbf,
          color-secondary-blue-60: #2e98d8,
          color-secondary-blue-70: #6ab2e9,
          color-secondary-blue-80: #9ecbf5,
          color-secondary-blue-90: #cfe5fb,

          // YELLOW PALETTE
          color-accent-yellow-40: #815600,
          color-accent-yellow-50: #9f6e00,
          color-accent-yellow-60: #bb8807,
          color-accent-yellow-70: #d5a344,
          color-accent-yellow-80: #eac07c,
          color-accent-yellow-95: #fdefdc,

          // ORANGE PALETTE
          color-accent-orange-40: #b82000,
          color-accent-orange-50: #dd3b00,
          color-accent-orange-70: #ff8250,
          color-accent-orange-80: #ffab83,
          color-accent-orange-90: #ffd5be,
          color-accent-orange-95: #ffeade,

          // TEXT BUBBLE COLOURS
          text-bubble-background-color-gray: var(--color-surface-white-variant),
          text-bubble-border-color-gray: var(--color-outline),
          text-bubble-background-color-secondary: var(--color-surface-white-variant),
          text-bubble-border-color-secondary: var(--color-accent-yellow-40),
          text-bubble-background-color-3: var(--color-accent-orange-95),
          text-bubble-border-color-3: var(--color-accent-orange-70),
          text-bubble-background-color-4: var(--color-accent-yellow-95),
          text-bubble-border-color-4: var(--color-accent-yellow-70),
          title-text-color: var(--ion-color-primary-shade),
        )
      )
  ) {
    @include parent.overrides;
    @include overrides.overrides;
  }
}
