<div class="container-modal">
  @if (textTitle) {
    <div class="header">
      {{ textTitle }}
    </div>
  }
  <div class="form">
    <form [formGroup]="form" [class.reverse]="inputPosition">
      <div class="checkboxes">
        @for (answerOption of answerOptions(); track answerOption) {
          <div
            class="container-radio"
            [class.checked-radio]="form.get('answer')?.value === answerOption[optionsKey]"
          >
            <label>
              <input
                type="radio"
                (click)="check(answerOption)"
                formControlName="answer"
                [value]="answerOption[optionsKey]"
              />
              {{ answerOption[optionsValue] | translate }}
              @if (optionMetaBadge.textKey && answerOption[optionMetaBadge.textKey]) {
                <ion-chip
                  class="label-badge"
                  slot="end"
                  [color]="metaBadgeChipColor(answerOption)"
                  >{{ answerOption[optionMetaBadge.textKey] | translate | uppercase }}</ion-chip
                >
              }
            </label>
          </div>
        }
      </div>
      @if (inputAllowed) {
        <div class="wrapper">
          <ion-input
            formControlName="customAnswer"
            [class]="customAnswerClass"
            (keyup.enter)="enterCustomAnswer()"
            [placeholder]="placeholder"
            [class.checked-radio]="form.get('customAnswer')?.value === selectedValue"
          >
          </ion-input>
        </div>
      }
    </form>
  </div>
</div>
