@use "/src/theme/mixins";

:host {
  display: contents;
}
.wrapper {
  padding: 0;
  .text-box-input {
    background: white;
    border: 1px solid var(--ion-color-gray-200);
    border-radius: var(--ion-border-radius-standard);
    width: 100%;
    min-height: 58px;
    font-size: var(--combo-box-font-size-standard, 18px);
    color: var(--ion-color-gray-800);
    text-align: center;
    font-weight: 500;
    box-shadow: var(--ion-default-box-shadow);
    margin-bottom: 20px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 14px;
    --padding-bottom: 14px;
  }
  .checked-radio {
    background: var(--ion-color-primary-50);
    border: 2px solid var(--ion-color-primary-300);
    color: var(--ion-color-primary-700);
  }
}

.container-modal {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  overflow: auto;
  max-height: 90vh; // match ion-modal.combo-box-modal
  background-color: white;
  .header {
    font-size: var(--combo-box-font-size-standard, 20px);
    font-weight: 600;
    color: var(--ion-color-gray-700);
    margin-bottom: 20px;
  }
  .form {
    display: flex;
    width: 100%;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .reverse {
      flex-direction: column-reverse;
    }
    .container-radio {
      margin-bottom: 14px;
      min-height: 55px;
      width: 100%;
      background: var(--ion-color-primary-50);
      border: 1px solid var(--ion-color-primary-200);
      border-radius: var(--ion-border-radius-small);
      @include mixins.flex-centered;
      input {
        display: none;
      }
      label {
        padding: 8px;
        width: 100%;
        @include mixins.flex-centered;
        font-weight: var(--font-weight-standard);
        font-size: var(--combo-box-font-size-standard, 18px);
        color: var(--ion-color-gray-800);
        min-height: 56px;
        border-radius: var(--ion-border-radius-small);
        text-align: center;
      }
    }
    .checked-radio {
      background: var(--ion-color-primary-100);
      border: 1.5px solid var(--ion-color-primary-400);
      label {
        font-weight: var(--font-weight-normal);
        color: var(--ion-color-primary-800);
      }
    }
  }
}
