:host {
  display: contents;
}
// Use the main container and overlay to set a full-sized background
// as a lighter variant of the primary colour

p {
  font-size: 1.2em;
}

.module-main-img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.module-image-container {
  position: relative;
}
.module-info-container {
  padding: 20px 60px 70px 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.module-main-button {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

ion-content {
  --padding-bottom: var(--plh-bottom-panel-header-height, 50px);
}
