:host {
  display: contents;
}
// Use the main container and overlay to set a full-sized background
// as a lighter variant of the primary colour
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.main-container {
  background-color: var(--ion-color-primary-lighter);

  /* Move to theme service later once content programming refactor complete */
  // NOTE - CC 2020-12-09 - Deprecate until ready to fully implement theming system
  // --theme-var-mod_welcome: #F185A3;
  // --theme-var-mod_1on1: #5652A3;
  // --theme-var-mod_praise: #FF7B02;
  // --theme-var-mod_instructions: #2E9E48;
  // --theme-var-mod_stress: #DB0000;
}

p {
  font-size: 1.2em;
}

.module-main-img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.module-image-container {
  position: relative;
}
.module-info-container {
  padding: 20px 60px 20px 10px;
}

.module-main-button {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

ion-content {
  --padding-bottom: var(--plh-bottom-panel-header-height, 50px);
}
