.relax-blob {

    width: 600px;
    height: 600px;

    svg {
        width: 100%;
        height: 100%;
    }

    #inner_ring {
        animation: throb 4s infinite;
        animation-timing-function: ease-in-out;
        transform-origin: 50% 50%;
    }

    #outer_ring {
        animation: throb 4s infinite;
        animation-timing-function: ease-in-out;
        transform-origin: 50% 50%;
    }

    #lip_cover {
        animation: updown 4s infinite;
        animation-timing-function: ease-in-out;
    }

    #eyelids {
        animation: updown 4s infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes throb {

        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.1, 1.1);
        }
        
    }

    @keyframes updown {

        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

    }
}