# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Minimum browser versions Ionic officially supports
Chrome >= 89
ChromeAndroid >= 89
Firefox >= 75
Edge >= 89
Safari >= 15
iOS >= 15

# Also include recent and widely-used browsers
last 2 versions
> 0.5%
not dead

# Explicitly unsupported browsers
not op_mini all
not IE 9-11
not KaiOS > 0