# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Minimum browser supported

#                          NOTE - Open App Builder
# Versions specified will determine which polyfills angular includes when generating bundles
# Increasing version will result in smaller bundle size, but lose compatibility with older devices
# Any changes here should be reflected in `assets/compatibility.js` to show user prompt for older devices

Chrome >= 89
ChromeAndroid >= 89
Firefox >= 75
Edge >= 89
Safari >= 15
iOS >= 15

# Also include recent and widely-used browsers
last 2 versions
> 0.5%
not dead

# Explicitly unsupported browsers
not op_mini all
not IE 9-11
not KaiOS > 0