<div class="anim-container">
  <img class="layer torso" src="assets/images/take-a-pause/breathing-animation/breathing_bg.svg">
  <img class="layer mouth" src="assets/images/take-a-pause/breathing-animation/wide_mouth.svg">
  <img class="layer left-arm" src="assets/images/take-a-pause/breathing-animation/breathing_arm1.svg">
  <img class="layer right-arm" src="assets/images/take-a-pause/breathing-animation/breathing_arm2.svg">
  <img class="layer breath" src="assets/images/take-a-pause/breathing-animation/breath_air.svg">
</div>
