@use "/src/theme/mixins";

.searchbar {
  padding-top: 12px;
  padding-bottom: 12px;
  &.ios {
    position: unset;
    top: unset;
  }
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--ion-color-gray-800);
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  top: auto;
  margin-left: 32px;
}

ion-radio {
  --color: transparent;
  --color-checked: transparent;
}

ion-list {
  background-color: var(--ion-list-item-background, white);
}

ion-item {
  --background: var(--ion-item-background, white);
  --background-hover: var(--ion-color-primary-50);
  --border-color: var(--ion-color-gray-200);
  --color: var(--ion-color-gray-700);
  --color-hover: var(--ion-color-gray-800);
  --inner-padding-bottom: 12px;
  --inner-padding-top: 12px;
  font-size: var(--combo-box-font-size-standard, 18px);
  font-weight: 400;
  &.selected {
    --background: var(--combo-box-background-with-value, var(--ion-color-primary-100));
    --color: var(--combo-box-selected-value-text, var(--ion-color-primary-800));
    font-weight: 500;
  }
}
