<ng-template #endButtons>
  <ion-buttons slot="end">
    <ion-button (click)="cancel()"><ion-icon name="close" size="large"></ion-icon></ion-button>
  </ion-buttons>
</ng-template>

<ion-header>
  @if (title()) {
    <ion-toolbar>
      <ion-title class="modal-title">{{ title() }}</ion-title>
      <ng-container *ngTemplateOutlet="endButtons"></ng-container>
    </ion-toolbar>
  }
  <ion-toolbar>
    <ion-searchbar
      (ionInput)="search($event.target.value)"
      placeholder=""
      class="searchbar"
    ></ion-searchbar>
    @if (!title()) {
      <ng-container *ngTemplateOutlet="endButtons"></ng-container>
    }
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for (item of filteredOptions(); track item[optionsKey]) {
      <ion-item (click)="select(item)" [class.selected]="isSelected(item)">
        {{ item[optionsValue] }}
      </ion-item>
    }
  </ion-list>
</ion-content>
