@use "/src/theme/mixins";

$background-with-value: var(
  --combo-box-background-with-value,
  var(--gradient-primary-light-vertical)
);

:host {
  display: contents;
}

.searchbar {
  padding-top: 12px;
  padding-bottom: 12px;
  &.ios {
    position: unset;
    top: unset;
  }
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--ion-color-primary);
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  top: auto;
}

ion-radio{
  --color:transparent;
  --color-checked: transparent;
}

ion-list, ion-item {
  --background: var(--ion-background-color, #fff);
  background-color: var(--background);
}

ion-item.selected
{
  --background: var(--combo-box-background-with-value, var(--gradient-primary-light-vertical));
  color: var(--combo-box-selected-value-text, var(--ion-color-primary));
}