@use "/src/theme/mixins";


.searchbar {
  padding-top: 12px;
  padding-bottom: 12px;
  &.ios {
    position: unset;
    top: unset;
  }
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--ion-color-primary);
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  top: auto;
}

ion-radio{
  --color:transparent;
  --color-checked: transparent;
}

ion-list, ion-item {
  --background: var(--ion-background-color, #fff);
  background-color: var(--background);
}

ion-item.selected
{
  --background: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.08);
  --background-focused: var(--ion-color-primary, #3880ff);
  --background-focused-opacity: 0.2;
  --background-hover: var(--ion-color-primary, #3880ff);
  --background-hover-opacity: 0.12;
}