<ion-header *ngIf="textTitle || showSearch()">
  <ion-toolbar>
    <ion-title *ngIf="textTitle" class="modal-title">{{ textTitle }}</ion-title>
    <ion-searchbar (ionInput)="search($event.target.value)" class="searchbar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <form [formGroup]="form" class="form" [class.reverse]="inputPosition">
    <div
      class="option"
      [class.checked-radio]="form.get('answer').value === radio.name"
      *ngFor="let radio of filteredOptions()"
    >
      <label>
        <input type="radio" (click)="check(radio)" formControlName="answer" [value]="radio.name" />
        {{ radio.text | translate }}
      </label>
    </div>
    <div class="custom-input" *ngIf="inputAllowed">
      <ion-input
        formControlName="customAnswer"
        [class]="customAnswerClass"
        (keyup.enter)="enterCustomAnswer()"
        [placeholder]="placeholder"
        [class.checked-radio]="form.get('customAnswer').value === selectedValue"
      >
      </ion-input>
    </div>
  </form> -->

  <ion-radio-group [compareWith]="compareWith" (ionChange)="handleChange($event)">
    @for (item of filteredOptions(); track item.name) {
    <ion-item>
      <ion-radio [value]="item.name">{{ item.text }}</ion-radio>
    </ion-item>
    }
  </ion-radio-group>
</ion-content>
