<plh-sub-header [title]="topic?.metadata?.name"></plh-sub-header>

<ion-content>
  <div *ngIf="topic">
    <div *ngFor="let section of topic.contentSections" class="tb-section">
      <a [id]="section.title.replace(' ', '_')"></a>
      <h2 class="tb-title">{{section.title}}</h2>
      <div *ngFor="let element of section.elements">
        <div *ngIf="element.type === 'CORE_TIP'" class="tb-element core-tip">
          <h1>💡</h1>
          {{element.text}}
        </div>
        <div *ngIf="element.type === 'TEXT'" class="tb-element text">{{element.text}}</div>
        <div *ngIf="element.type === 'LIST'" class="tb-element list">
          <h3>{{element.intro}}</h3>
          <ul>
            <li *ngFor="let item of element.items">
              <h4>{{item.heading}}</h4>
              <p>{{item.body}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>
