.tb-section {
    background-image: url('/assets/images/punched_paper_1.png');
    background-repeat: repeat-y;
    margin: 20px;
    max-width: 359px;
    margin-left: auto;
    margin-right: auto;
}

.tb-title {
    margin-left: 40px;
    margin-right: 20px;
}

.tb-element {

    padding: 20px;
    margin-left: 40px;
    margin-right: 20px;

    &.core-tip {
        color: white;
        background-color: crimson;
        border-radius: 20px;
        padding: 20px;
    }
}


ion-content {
    --ion-background-color: #f3d668;
}