oab-display-group {
  display: block;
  width: 100%;
}

.display-group {
  display: flex;
  width: 100%;

  &[data-child-sizing="auto"] > * {
    flex: 0 0 auto;
  }

  &[data-child-sizing="equal"] > * {
    flex: 1 1 0;
  }
}
