// Create overlapping effect
ion-accordion {
  background: white;
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  margin-top: -12px;
  padding-top: 8px;
  box-shadow: var(--ion-default-box-shadow);
}
ion-accordion:first-of-type {
  margin-top: unset;
  padding-top: unset;
}
ion-label.accordion-section-title {
  color: var(--ion-color-primary);
  font-size: 1.3rem;
}
ion-item.accordion-content {
  padding-bottom: 1rem;
}

// KUWAIT THEME STYLING
:host-context([data-theme="plh_kids_kw"]){
  .accordion-header::ng-deep ion-icon{
    color: white;
  }
  ion-item.accordion-content{
    border-top: 1px solid #C4C7C9;
    margin:0px 16px;

    &::ng-deep {
      p{
        color:white;
        font-size: var(--font-size-text-medium);
        line-height: var(--line-height-text-medium);
        font-weight: var(--font-weight-standard);
      } 
    }
  }
}
