$icon-color: var(--accordion-toggle-icon-color, var(--ion-color-primary));
$accordion-background-color: var(--accordion-background-color, white);
$accordion-border-color: var(--accordion-border-color, transparent);

// Create overlapping effect
ion-accordion {
  background: $accordion-background-color;
  border: 1px solid $accordion-border-color;
  border-radius: var(--ion-border-radius-small, 8px);
  margin-top: -12px;
  padding-top: 8px;
  box-shadow: var(--ion-default-box-shadow, none);
}

// ion-icon doesn't adjust colour as expected, so target explicitly with theme variable
.accordion-header .ion-accordion-toggle-icon,
.accordion-header ion-icon.ion-accordion-toggle-icon {
  color: $icon-color;
}
ion-accordion:first-of-type {
  margin-top: unset;
  padding-top: unset;
}
ion-label.accordion-section-title {
  color: var(--ion-color-primary);
  font-size: 1.3rem;
}
ion-item.accordion-content {
  padding-bottom: 1rem;
}
