@import "/src/theme/variables.scss";

// Create overlapping effect
ion-accordion {
  background: white;
  border: 1px solid $primary;
  border-radius: 10px;
  margin-top: -12px;
  padding-top: 8px;
}
ion-accordion:first-of-type {
  margin-top: unset;
  padding-top: unset;
}
ion-label.accordion-section-title {
  color: $primary;
  font-size: 1.3rem;
}
ion-item.accordion-content {
  padding-bottom: 1rem;
}
