// Create overlapping effect
ion-accordion {
  background: var(--accordion-background-color, white);
  border: 1px solid var(--accordion-border-color, transparent);
  border-radius: var(--ion-border-radius-small, 8px);
  margin-top: calc(-1 * var(--small-margin) * 1.2);
  padding-top: calc(var(--tiny-padding) * 1.4);
  box-shadow: var(--ion-default-box-shadow, none);
}
ion-accordion:first-of-type {
  margin-top: unset;
  padding-top: unset;
}
ion-label.accordion-section-title {
  color: var(--ion-color-primary);
  font-size: 1.3rem;
  line-height: var(--line-height-text-small);
}
ion-item.accordion-content {
  padding-bottom: 1rem;
}
