/// Theme rule overrides specific to plh_kids_teens_my.
/// Applied after the shared overrides from ../plh_kids_teens.
@mixin overrides {
  // button
  plh-button {
    .navigation {
      --background: var(--ion-color-primary-600);
    }
  }

  // module header
  plh-module-details-header {
    .module-header {
      background-color: var(--ion-color-primary-200);
    }
    .module-title {
      padding-bottom: 30px;
      padding-left: 16px;
    }
  }

  // Module list item
  plh-module-list-item {
    .container {
      padding: 5px 16px 0 16px !important;
      display: flex !important;
      align-items: stretch !important;
      background-color: var(--ion-color-primary-100);
      &[data-highlighted~="true"] {
        box-shadow: 1px 2px 12px rgba(80, 80, 80, 0.5) !important;
      }
      &[data-locked~="true"] {
        box-shadow: none !important;
        padding: 0 16px !important;
      }
      &[data-variant~="default"] {
        .module-title {
          margin: 0 10px !important;
          padding: 5px 0 !important;
          width: 100%;
          p {
            color: var(--color-surface-black) !important;
            padding: 0px !important;
          }
        }
        .module-image {
          display: flex !important;
          align-items: flex-end !important;
          width: unset !important;
          height: auto !important;
          flex: 0 0 90px !important;
          img {
            width: 100%;
            object-fit: contain;
            max-width: 90px;
          }
        }
        @media (max-width: 340px) {
          .module-image {
            display: none !important;
          }
        }
      }
    }
  }

  // Round Button
  ion-tab-button {
    &[data-variant~="navigation"] {
      background: var(--ion-color-primary-600) !important;
    }
    &[data-variant~="module"] {
      background: var(--ion-color-primary-600) !important;
    }
    &[data-variant~="orange"] {
      background: var(--color-accent-orange-70);
    }
    &[data-variant~="yellow"] {
      background: var(--color-accent-yellow-70);
    }
    &[data-variant~="information"] {
      background: var(--color-secondary-blue-40);
    }
  }

  // Task Card
  plh-task-card {
    .circle-card-wrapper {
      .image-and-badge-wrapper {
        .circle-wrapper.highlighted {
          box-shadow: 0px 2px 12px rgba($color: #007fbf, $alpha: 0.7);
        }
      }
    }
  }

  // bottom_nav
  plh-bottom-navigation-bar {
    .plh-bottom-nav-wrapper {
      border-top: 1px solid var(--ion-color-primary-200);
      background-color: var(--ion-color-primary-50);
      .label {
        color: var(--ion-color-primary-300);
      }
      .active-link .label {
        color: var(--ion-color-primary-700);
      }
      &[data-variant~="pill"] {
        .nav-item[data-isActive~="true"] {
          background-color: var(--ion-color-primary-700);
        }
      }
    }
  }

  // Pop Up
  .popup-backdrop {
    &[data-variant~="plh_completion"] {
      .popup-container {
        plh-tmpl-text p,
        plh-tmpl-text h1,
        plh-tmpl-title p,
        plh-tmpl-title h1 {
          color: var(--color-surface-white);
        }
      }
    }
  }
}
