<div
  class="container"
  [attr.data-position]="params.speakerPosition"
  [attr.data-variant]="params.variant"
>
  <div class="text-bubble" [attr.data-position]="params.speakerPosition">
    <plh-template-component
      *ngFor="let childRow of _row.rows | filterDisplayComponent; trackBy: trackByRow"
      [row]="childRow"
      [parent]="parent"
      [attr.data-rowname]="_row.name"
    >
    </plh-template-component>
  </div>
  <img
    [src]="params.speakerImageAsset | plhAsset"
    class="speaker-image"
    [attr.data-position]="params.speakerPosition"
  />
</div>
