// Adapted from https://www.smashingmagazine.com/2024/03/modern-css-tooltips-speech-bubbles-part1/
// WIth code available here https://css-generators.com/tooltip-speech-bubble/
// NOTE - when copying css border-image double-slash // misinterpreted so replace with / 0 /

$imageSize: 64px;
$bubble-background-color-1: var(--text-bubble-background-color-1);
$bubble-border-color-1: var(--text-bubble-border-color-1);
$bubble-background-color-2: var(--text-bubble-background-color-2);
$bubble-border-color-2: var(--text-bubble-border-color-2);
$bubble-background-color-3: var(--text-bubble-background-color-3);
$bubble-border-color-3: var(--text-bubble-border-color-3);
$bubble-background-color-4: var(--text-bubble-background-color-4);
$bubble-border-color-4: var(--text-bubble-border-color-4);
$bubble-background-color-5: var(--text-bubble-background-color-5);
$bubble-border-color-5: var(--text-bubble-border-color-5);

.text-bubble-container {
  position: relative;
  width: fit-content;
  min-width: $imageSize;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
  height: fit-content;
  margin-bottom: 20px;

  &[data-variant~="gray"] {
    .text-bubble {
      border: 1px solid $bubble-border-color-1;
      background-color: $bubble-background-color-1;
    }
  }

  &[data-variant~="primary"] {
    .text-bubble {
      border: 1px solid $bubble-border-color-2;
      background-color: $bubble-background-color-2;
    }
  }

  &[data-variant~="secondary"] {
    .text-bubble {
      border: 1px solid $bubble-border-color-3;
      background-color: $bubble-background-color-3;
    }
  }

  &[data-variant~="no_border"] {
    .text-bubble {
      border: 0px;
    }
  }

  &[data-variant~="speaker-3"] {
    .text-bubble {
      border: 1px solid $bubble-border-color-4;
      background-color: $bubble-background-color-4;
    }
  }

  &[data-variant~="speaker-4"] {
    .text-bubble {
      border: 1px solid $bubble-border-color-5;
      background-color: $bubble-background-color-5;
    }
  }

  &[data-position="right"] {
    float: right;

    display: flex;
    flex-direction: row;
    .text-bubble {
      border-radius: 12px 0px 12px 12px;
    }
    img.speaker-image {
      margin-left: 8px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .speaker-name {
      text-align: end;
      // right: 80px;
    }
  }

  &[data-language-direction~="rtl"] {
    .text-bubble {
      border-radius: 12px 0px 12px 12px;
    }
    &[data-position="right"] {
      float: left;
      .text-bubble {
        border-radius: 0px 12px 12px 12px;
      }
      img.speaker-image {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
    img.speaker-image {
      // position: unset;
      margin-left: 8px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.text-bubble {
  // Override default margins of child text component:
  // handle with padding on this parent element instead
  plh-tmpl-text {
    --margin-text: 0;
  }
}

// This creates the bubble shape, including the tail
.text-bubble {
  /* triangle dimension */
  --a: 0deg; /* angle */
  --h: 0em; /* height */

  --p: 0%; /* triangle position (0%:left 100%:right) */
  position: relative;

  clip-path: none;
  border-image: none;
  border-radius: 0px 12px 12px 12px;
  border: 1px solid var(--ion-color-primary-700);
  background-color: var(--ion-color-primary-50);
  padding: 14px 16px;
  min-width: 124px;

  p {
    font-size: var(--font-size-text-medium);
    color: var(--ion-color-gray-900);
  }

  li {
    font-size: var(--font-size-text-medium);
    color: var(--ion-color-gray-900);
  }

  ol {
    margin: 4px 0;
  }
}

.speaker-image {
  position: relative;
  width: $imageSize;
  height: $imageSize;
  margin-right: 8px;
}

.no-name {
  margin-bottom: 20px;
}

// For the speaker name
.speaker-name {
  position: relative;
  margin-bottom: 6px;
  font-size: var(--font-size-text-tiny);
  color: var(--ion-color-gray-800);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.1px;
}
