@import "../../../../../../theme/mixins.scss";

.checkbox-wrapper {
  padding: 0 var(--tiny-padding);
  width: 100%;
  height: 100%;
  @include flex-centered;
  &.left {
    justify-content: start;
  }
  &.right {
    justify-content: flex-end;
  }
  ion-checkbox {
    --border-color: var(--ion-color-primary);
    --border-width: var(--checkbox-border-width);
    --background: var(--ion-color-primary-contrast);
    --border-radius: var(--checkbox-border-radius);
    --size: var(--checkbox-border-size);
    margin: 0 var(--small-margin);
  }

  label {
    max-width: var(--checkbox-label-max-width);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-medium);
    line-height: var(--line-height-text-largest);
    color: var(--ion-color-primary);
  }
}
.reverse {
  flex-direction: row-reverse;
}
