<div [class]="'animated-slides-wrapper'" [attr.data-param-style]="style">
  <div class="background"></div>
  <ion-button fill="clear" (click)="skipIntro()" class="skip-button">
    {{ skipText }}
  </ion-button>
  <div class="section-container">
    @for (childRow of _row.rows | filterDisplayComponent; track childRow; let idx = $index) {
      <section
        [@fadeInOut]="slideParams[idx].animation === 'fade' ? fadeSection[idx] : null"
        [@noFade]="slideParams[idx].animation === 'none' ? fadeSection[idx] : null"
      >
        <plh-template-component [row]="childRow" [parent]="parent"></plh-template-component>
      </section>
    }
  </div>
</div>
