<div [class]="'animated-slides-wrapper'" [attr.data-param-style]="style">
  <div class="background"></div>
  <ion-button fill="clear" (click)="skipIntro()" class="skip-button">
    {{ skipText }}
  </ion-button>
  <div class="section-container">
    <section
      *ngFor="let childRow of _row.rows | filterDisplayComponent; let idx = index"
      [@fadeInOut]="slideParams[idx].animation === 'fade' ? fadeSection[idx] : null"
      [@noFade]="slideParams[idx].animation === 'none' ? fadeSection[idx] : null"
    >
      <plh-template-component [row]="childRow" [parent]="parent"></plh-template-component>
    </section>
  </div>
</div>
