.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.close-button-container {
  margin-left: auto;
}

.normal-chat {
  flex-grow: 1;
  overflow-y: auto;
}

.story-msg-text {
  p {
    text-align: center;
  }
}

.block-image {
  display: block;
}

.story-chat {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #ffff83;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  h1 {
    margin: 30px;
  }

  .response-options {
    justify-content: center;
  }

  .block-image {
    border-radius: 30px;
    width: 80%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bot-blob {
  width: 100%;
  height: 100px;
  padding: 5px;

  .bot-lottie {
    position: absolute;
    left: -50px;
    top: 0px;
    z-index: 12;
  }

  .still-bot-blob {
    width: 30vw;
    position: absolute;
    left: 49.7vw;
    top: 3.8vw;
    z-index: 11;
  }
}

@keyframes shrink {
  0% {
    left: -75vw;
    width: 150vw;
  }
  50% {
    left: -75vw;
    width: 150vw;
  }
  100% {
    left: -25vw;
    width: 50vw;
  }
}

.msg-container {
  margin-bottom: 20px;

  .msg-bubble-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.user {
      justify-content: flex-end;
    }
  }
  .msg-attachment > img {
    max-width: 50vw;
    border: 0;
    border-radius: 20px;
    max-height: 40vh;
    padding: 16px;
  }

  .msg-bubble {
    background-color: var(--theme-var-botMsgBubble, #cae6fc);
    color: var(--ion-color-dark, black);
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px grey;
    white-space: break-spaces;

    img {
      height: 100px;
    }

    .inline-image {
      max-height: 30px;
    }

    .icon {
      max-height: 30px;
    }

    .block-image {
      display: block;
      max-height: 100px;
    }

    &.large {
      font-size: 40px;
    }
  }

  &.bot-msg .msg-bubble {
    background-color: var(--theme-var-botMsgBubble, #cae6fc);
  }

  &.user-msg .msg-bubble {
    background-color: var(--theme-var-userMsgBubble, #e9ebeb);
  }

  .user-msg-triangle > path {
    z-index: 2;
    fill: var(--theme-var-userMsgBubble, #e9ebeb);
  }

  .bot-msg-triangle > path {
    z-index: 2;
    fill: var(--theme-var-botMsgBubble, #cae6fc);
  }

  &.user-msg {
    justify-content: flex-end;
  }

  .arrow {
    margin: 0px;
  }
}

.response-options {
  max-height: 50vh;
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.response-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--ion-primary-color, #0d4060);
  border-color: var(--ion-primary-color, #0d4060);
  background-color: white;
  padding: 7px;
  font-size: 14px;
  margin: 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  white-space: nowrap;

  span {
    text-align: center;
  }

  &.large {
    font-size: 40px;
    border-radius: 40px;
  }
  img {
    max-height: 150px;
  }
}

.user-blob {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

.custom-input {
  color: darkcyan;
  border-color: darkcyan;
  background-color: transparent;
  padding: 15px;
  font-size: 20px;
  margin: 20px;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  width: calc(100vw - 100px);
}

.show-all-button {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 20;
  color: #333333;
  border-color: #333333;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  display: inline;
  padding: 8px;
  opacity: 0.8;
}

.auto-reply-container {
  display: block;
  font-size: 0.6em;
}

.skip-button {
  margin: 16px;
}

.typing-anim {
  width: 60px;
}

.character-image {
  max-height: 120px;
}
