<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <plh-user-setting
    *ngFor="let userSetting of userSettings"
    [userSetting]="userSetting"
    (onSettingChange)="onSettingChange($event)"
  ></plh-user-setting>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select
      [value]="currentThemeName"
      okText="Okay"
      cancelText="Dismiss"
      (ionChange)="selectThemeName($event.detail.value)"
    >
      <ion-select-option *ngFor="let themeName of themeNames" value="{{themeName}}"
        >{{themeName}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-list-header>Development Settings</ion-list-header>
  <ion-item>
    <ion-label>Launch Flow</ion-label>
    <ion-select
      *ngIf="flowNames?.length > 0"
      okText="Launch Flow"
      cancelText="Cancel"
      (ionChange)="launchFlowByName($event.detail.value)"
    >
      <ion-select-option *ngFor="let flowName of flowNames" [value]="flowName">
        {{flowName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Open Tip</ion-label>
    <ion-select
      okText="Open Tip"
      cancelText="Cancel"
      (ionChange)="launchTipFlowByName($event.detail.value)"
    >
      <ion-select-option *ngFor="let flowName of tipFlowNames" [value]="flowName">
        {{flowName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <plh-user-setting
    *ngFor="let userSetting of devOnlyUserSettings"
    [userSetting]="userSetting"
    (onSettingChange)="onSettingChange($event)"
  ></plh-user-setting>
  <ion-item>
    <ion-button (click)="navigateByUrl('/chat/example_main')">Open Testing Flow</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="openWelcomeSurvey()">Open Sample Survey</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="resetApp()">Reset App</ion-button>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/theme-editor']">Theme Editor</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="startTour()">Start Tour</ion-button>
  </ion-item>
</ion-content>
