<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:name="international.idems.plh_teens.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/custom_url_scheme" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <!-- CC NOTE - 2021-06-02
      As we don't currrently need GeoLocation have removed permission
      (some installs on unsupported tester devices, e.g. Tecno-wx3p 
      
      If we want to put back we should make non-required and add runtime check
      in the app before using feature (might require both uses-feature and uses-permission
      https://stackoverflow.com/questions/30391355/can-i-get-access-to-nfc-without-manifest-permission-in-android
      https://stackoverflow.com/questions/28079449/uses-permission-vs-uses-feature
      https://developer.android.com/guide/topics/manifest/uses-feature-element
      https://developer.android.com/guide/topics/manifest/uses-permission-element

      E.g. To enable camera include uses-permission for camera but manually add all features as optional
      https://developer.android.com/reference/android/Manifest.permission#CAMERA
      https://developer.android.com/guide/topics/manifest/uses-feature-element#camera-hw-features
    -->

    

  <!-- Normal permissions, granted at install, don't require prompt -->
  <!-- https://developer.android.com/training/basics/network-ops/connecting -->
  <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
  <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->


  <!-- Requested permissions, required in the app -->
  <!-- Camera, Photos, input file -->
  <!-- <uses-permission android:required="false" android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
  <!-- <uses-permission android:required="false" android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
  
  <!-- Navigator.getUserMedia -->
  <!-- Video -->
  <!-- <uses-permission android:required="false" android:name="android.permission.CAMERA" /> -->
  <!-- Audio -->
  <!-- <uses-permission android:required="false" android:name="android.permission.RECORD_AUDIO" /> -->
  <!-- <uses-permission android:required="false" android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> -->


  <!-- Optional permissions, features we might make optional -->

  <!-- <uses-feature android:name="android.hardware.location.gps" /> -->


  <!-- Not required permissions, features we have decided we don't want -->
  <!-- Geolocation API -->
  <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
  <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
</manifest>
