@use "/src/theme/mixins";

$button-background: var(--timer-button-background, var(--ion-color-primary-500));

.timer-counter {
  @include mixins.flex-centered;
  width: calc(100% - 10px);
  height: var(--timer-counter-height);
  margin: 0 var(--tiny-margin);
  div {
    font-weight: var(--font-weight-bold);
    font-size: var(--timer-counter-font-size);
    color: var(--ion-color-primary);
    @media (max-width: 320px) {
      font-size: 30px;
    }
  }
}
.timer-content {
  @include mixins.flex-space-between;
}
.timer-title {
  margin-left: var(--tiny-margin);
  max-width: var(--timer-title-width);
  font-size: var(--timer-title-size);
  color: var(--ion-color-primary);
}

.timer-help {
  margin-top: var(--regular-margin);
  margin-left: var(--small-margin);
  color: var(--ion-color-primary);
  height: var(--help-icon-standard-size);
  width: var(--help-icon-standard-size);
}

.timer-row {
  display: flex;
}
.btn {
  @include mixins.large-square;
  min-width: var(--buttons-size);
  position: relative;
  --background: #{$button-background};
  --background-size: cover;
  --border-radius: var(--ion-border-radius-rounded);
  --padding: 0;
  ion-icon {
    position: absolute;
    font-size: var(--icon-size-large);
  }
  .time-rewind-value {
    position: absolute;
    font-size: var(--font-size-text-large);
    font-weight: var(--font-weight-bold);
  }
}

.round-container {
  padding-left: var(--tiny-padding);
  padding-right: var(--tiny-padding);
  width: 100%;
  background-color: var(--ion-color-primary-contrast);
  box-sizing: border-box;
  border: var(--ion-border-standard);
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);

  &-br-15 {
    border-radius: var(--ion-border-radius-standard);
  }
}
ion-button {
  margin: 0;
}
