<div class="round-container round-container-br-15">
  <div class="timer-row">
    <h2 class="timer-title" >{{title}}</h2>
  <ion-icon *ngIf="help" name="help-circle-outline" class="timer-help" [pTooltip]="help" tooltipPosition="right" tooltipEvent="click"></ion-icon>
  </div>
  <div class="timer-content">
    <ion-button class="add-min" (click)="clickLeftButton()">
      <img [src]="!timerStarted ? '/assets/plh_assets/plh_images/other_icons/play.svg' : '/assets/plh_assets/plh_images/other_icons/pause.svg'" alt="">
    </ion-button>
    <div class="timer-counter round-container round-container-br-15" (click)="openPicker()">
      <div #min>
        {{minutes}}
      </div>
      <div>:</div>
      <div #sec>
        {{seconds}}
      </div>
    </div>
    <ion-button class="add-min"  (click)="clickRightButton()">
      <img class="right-icon" [class.left-icon]="timerStarted" [src]="timerStarted ? '/assets/plh_assets/plh_images/other_icons/add-time.svg' : '/assets/plh_assets/plh_images/other_icons/repeat.svg'" alt="">
    </ion-button>
  </div>
</div>
