:host {
  min-height: 183px;
}
.timer-counter {
  width: 200px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  div {
    font-weight: bold;
    font-size: 40px;
    color: #0d3f60;
  }
}
.wrapper-audio {
}
.timer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer-title {
  margin-left: 8px;
  max-width: 298px;
  font-size: 22px;
  color: var(--ion-color-primary);
}

.timer-help {
  margin-top: 15px;
  margin-left: 10px;
  color: #0d3f60;
  height: 32px;
  width: 32px;
}

.timer-row {
  display: flex;
}
.add-min {
  width: 64px;
  min-width: 64px;
  height: 64px;
  --background: #00a0cc;
  --background-size: cover;
  --border-radius: 50%;
  --padding: 0;
  .right-icon {
    max-width: none;
    top: 0;
  }
  .left-icon {
    margin-top: 8px;
  }
}

.round-container {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #0d3f60;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  &-br-15 {
    border-radius: 15px;
  }
}
ion-button {
  margin: 0;
}
