@import "../../../../../../theme/mixins.scss";
:host {
  min-height: 183px;
}
.timer-counter {
  width: calc(100% - 10px);
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  div {
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    color: var(--ion-color-primary);
    @media (max-width: 320px) {
      font-size: 30px;
    }
  }
}
.timer-content {
  @include flex-space-between;
}
.timer-title {
  margin-left: 8px;
  max-width: 298px;
  font-size: var(--timer-title-size);
  color: var(--ion-color-primary);
}

.timer-help {
  margin-top: 15px;
  margin-left: 10px;
  color: var(--ion-color-primary);
  height: var(--help-icon-standard-size);
  width: var(--help-icon-standard-size);
}

.timer-row {
  display: flex;
}
.add-min {
  width: var(--ion-btn-tmpl-components-size);
  min-width: var(--ion-btn-tmpl-components-size);
  height: var(--ion-btn-tmpl-components-size);
  --background: var(--ion-play-btn-default-bg);
  --background-size: cover;
  --border-radius: var(--ion-border-radius-rounded);
  --padding: 0;
  .right-icon {
    max-width: none;
    top: 0;
  }
  .left-icon {
    margin-top: 8px;
  }
}

.round-container {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  background-color: #fff;
  border: var(--ion-border-standart);
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);

  &-br-15 {
    border-radius: 15px;
  }
}
ion-button {
  margin: 0;
}
