<div
  class="round-container wrapper-audio round-container-br-15 margin-t-large"
  [style.paddingBottom.px]="timerRow.offsetHeight - timerRow.offsetHeight / 3"
>
  <div class="timer-row" #timerRow>
    <h2 class="timer-title">{{ title }}</h2>
    <ion-icon
      *ngIf="help"
      name="help-circle-outline"
      class="timer-help"
      [pTooltip]="help"
      tooltipPosition="right"
      tooltipEvent="click"
    ></ion-icon>
  </div>
  <div class="timer-content">
    <ion-button class="btn" (click)="clickLeftButton()">
      <ion-icon
        [name]="!timerStarted ? playIcon : pauseIcon"
        [src]="!timerStarted ? playIcon : pauseIcon"
      ></ion-icon>
    </ion-button>
    <div class="timer-counter round-container round-container-br-15" (click)="openPicker()">
      <div #min>
        {{ minutes }}
      </div>
      <div>:</div>
      <div #sec>
        {{ seconds }}
      </div>
    </div>
    <ion-button class="btn" (click)="clickRightButton()">
      <!-- Use name="none" to display no icon, as empty string does not replace the value -->
      <ion-icon
        [name]="timerStarted ? 'none' : resetIcon"
        [src]="timerStarted ? '' : resetIcon"
      ></ion-icon>
      <span class="time-rewind-value" *ngIf="timerStarted">+{{ timerDurationExtension / 60 }}</span>
    </ion-button>
  </div>
</div>
