:host {
    width: 363px;
    height: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.timer-counter {
    width: 200px;
    height: 65px;
    margin-left: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        background-color: #FFF;
        border: none;
        width: 33px;
        height: 30px;
        font-weight: bold;
        font-size: 25px;
        color: #0D3F60;
    }

    h2 {
        margin: 0;
        margin-bottom: 3px;
    }
}
.timer-content {
    display: flex;
    margin-bottom: 22px;
    justify-content: center;
}
.timer-title {
   margin-left: 17px;
}   

.timer-help {
    margin-top: 15px;
    margin-left: 10px;
    color: #0D3F60;
    height: 22px;
    width: 22px;
}

.timer-row {
    display: flex;
}
