<div class="container">
  <div *ngIf="botBlobState !='absent'" [hidden]="showingAllMessages" class="bot-blob">
    <ng-lottie *ngIf="character === 'guide'" containerClass="bot-lottie" [options]="botAnimOptions">
    </ng-lottie>
    <div *ngIf="character === 'egg'" style="padding-left: 50%">
      <img src="assets/images/egg_character1.svg">
    </div>
  </div>
  <div #messagesContent class="bot-messages">
    <div class="messages">
      <div *ngIf="autoReplyEnabled" class="auto-reply-container">
        <p>Messages Sent {{messagesSent}}</p>
        <p>Messages Received {{messagesReceived}}</p>
        <p>{{debugMsg}}</p>
        <p>{{stringify(messages[messages.length - 1])}}</p>
      </div>
      <div *ngFor="let msg of messages; index as i"
        [class]="msg.sender === 'bot' ? 'msg-container bot-msg' : 'msg-container user-msg'">
        <div *ngIf="msg.sender === 'bot' && i === 0">
        </div>
        <div *ngIf="msg.sender === 'bot'">
          <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 20V0L0 10L15 20Z" fill="grey" />
          </svg>
        </div>
        <div class="msg-bubble">
          {{msg.text}}
        </div>
        <div *ngIf="msg.sender === 'user'" class="arrow">
          <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 20V0L15 10L0 20Z" fill="darkcyan" />
          </svg>
        </div>
      </div>
    </div>
    <div style="display: block; height: 100px"></div>
  </div>
  <div class="response-options">
    <div *ngFor="let option of responseOptions" class="response-option" (click)="selectResponseOption(option)">
      {{option.text}}
    </div>
    <form *ngIf="true"
      (ngSubmit)="onInputSubmit($event)">
      <input [(ngModel)]="inputValue" class="response-option" name="text-response" placeholder="Type other response...">
    </form>
  </div>
</div>