$primary-radio-bg: linear-gradient(168.87deg, #0F8AB2 28.12%, #0D4060 100%);
$primary-radio-border: 2px solid #0D3F60;
$primary-radio-border-rd: calc(15px * var(--scale-factor));;
$primary-radio-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

.wrapper-radio-group{
  width: 100%;
  height: 100%;
  margin-top: 7%;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    .btn_triangle{
      &_container{
        width: calc(150px * var(--scale-factor));;
        height: calc(44px * var(--scale-factor));
        margin: calc(5px * var(--scale-factor));
        label{
          height: calc(44px * var(--scale-factor));
        }
      }
    }
    .dse{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }
    .btn_square{
      &_container{
        margin: calc(5px * var(--scale-factor));
        label{
          width: calc(115px * var(--scale-factor));
          height: calc(115px * var(--scale-factor));
          padding: calc(5px * var(--scale-factor));
          svg-icon{
            svg{
              width: calc(100% * var(--scale-factor));
              height: calc(100% * var(--scale-factor));
              margin-bottom: calc(3px * var(--scale-factor));
            }
          }
        }
      }
    }
    .btn_image{
      &_container{
        margin: calc(5px * var(--scale-factor));;
        label{
          background: transparent;
          box-shadow: none;
          border:none;
          max-width: calc(120px * var(--scale-factor));
          max-height: calc(120px * var(--scale-factor));
          svg-icon{
            svg{
              width: calc(100% * var(--scale-factor));
              height: calc(100% * var(--scale-factor));
              margin-bottom: calc(3px * var(--scale-factor));
            }
          }
        }
        .image-checked{
            color: #212121;
        }
      }
    }
  }
}

.standard-label{
  border-radius: $primary-radio-border-rd;
  transition: .3s linear;
  width: 100%;
  box-shadow: $primary-radio-shadow;
  border: 2px solid #096B8B;
  background: #fff;
  color: #0D4060;
}

.center{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input{
  width: 100%;
  height: 100%;
  display: none;
}
.checked{
  background: $primary-radio-bg!important;
  border: $primary-radio-border!important;
  color: #fff!important;
  transition: .3s linear;
}
label{
  font-size: calc(16px * var(--scale-factor));
  height: 100%;
  font-weight: 700;
  text-align: center;
  transition: .3s linear;
}
