@import "../../../../../../theme/mixins.scss";

$primary-radio-border: 2px solid;
$primary-radio-border-rd: calc(15px * var(--scale-factor));

.wrapper-radio-group {
  width: 100%;
  height: 100%;

  .container {
    @include flex-centered;
    margin-bottom: var(--regular-margin);

    .btn_triangle {
      &_container {
        width: calc(150px * var(--scale-factor));
        height: calc(44px * var(--scale-factor));
        margin: calc(5px * var(--scale-factor));

        label {
          height: calc(44px * var(--scale-factor));
          background-color: var(--ion-color-primary-contrast);
        }
      }
    }

    .dse {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }

    .btn_square {
      &_container {
        label {
          width: calc(115px * var(--scale-factor));
          height: calc(115px * var(--scale-factor));
          padding: calc(5px * var(--scale-factor));

          svg-icon {
            @include flex-centered;
            min-width: 25px;
            min-height: 22px;
            width: calc(100% * var(--scale-factor));
            height: calc(100% * var(--scale-factor));
            margin-bottom: calc(3px * var(--scale-factor));

            svg {
              max-width: 95%;
              max-height: 95%;
              width: 95%;
              height: 95%;
            }
          }
        }
      }
    }

    .btn_image {
      &_container {
        label {
          width: calc(115px * var(--scale-factor));
          height: calc(115px * var(--scale-factor));
          padding: calc(5px * var(--scale-factor));

          svg-icon {
            @include flex-centered;
            min-width: 25px;
            min-height: 22px;
            width: calc(100% * var(--scale-factor));
            height: calc(100% * var(--scale-factor));
            margin-bottom: calc(3px * var(--scale-factor));

            svg {
              max-width: 95%;
              max-height: 95%;
              width: 95%;
              height: 95%;
            }
          }
        }
      }
      .transparent {
        .standard-label {
          border: 2px solid transparent;
          box-shadow: none;
        }
        .checked {
          transition: 0.3s linear;
          border: var(--ion-border-standard);
          box-shadow: var(--ion-default-box-shadow);
        }
      }
    }
  }
}

.standard-label {
  border-radius: $primary-radio-border-rd;
  transition: 0.3s linear;
  max-width: fit-content;
  min-width: 100%;
  box-shadow: var(--ion-default-box-shadow);
}

.passive {
  .standard-label {
    border: var(--ion-border-standard);
    color: var(--ion-color-primary);
    background: var(--ion-color-primary-contrast);
  }

  .checked {
    background: var(--radio-group-passive-bg);
    transition: 0.3s linear;
  }

  .smile-checked {
    color: var(--ion-color-primary);
    border: $primary-radio-border !important;
    border-color: var(--ion-color-primary);
  }
}

.active {
  .standard-label {
    border: var(--ion-border-standard);
    background: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
  }

  .checked {
    background: var(--radio-group-active-bg);
    transition: 0.3s linear;
    color: var(--ion-color-primary);
  }

  .smile-checked {
    color: var(--radio-group-active-bg);
    border: $primary-radio-border !important;
    border-color: var(--ion-color-primary);
  }
}

.center {
  @include flex-centered;
  flex-direction: column;
}

input {
  width: 100%;
  height: 100%;
  display: none;
}

label {
  font-size: calc(16px * var(--scale-factor));
  height: 100%;
  font-weight: 700;
  text-align: center;
  transition: 0.3s linear;
}
