@use "/src/theme/mixins";

$background-selected: var(
  --radio-group-background-selected,
  var(--gradient-primary-light-vertical)
);
$primary-radio-border: 2px solid;
$primary-radio-border-rd: 15px;

img {
  padding: 5px;
}

.wrapper-radio-group {
  width: 100%;
  height: 100%;

  .container {
    @include mixins.flex-centered;
    margin-bottom: var(--regular-margin);

    .btn_triangle {
      &_container {
        width: 150px;
        height: 44px;
        margin: 5px;

        label {
          height: 44px;
          background-color: var(--ion-color-primary-contrast);
        }
        .checked {
          background: $background-selected;
          transition: 0.3s linear;
        }
      }
    }

    .dse {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 100%;
    }

    .btn_square {
      &_container {
        label {
          width: 115px;
          height: 115px;
          padding: 5px;
          max-width: calc(6rem * 0.9);
          max-height: calc(115px * 0.9);
          min-height: calc(115px * 0.9);
          min-width: unset;
          @media (max-width: 320px) {
            max-height: calc(100px * 0.9);
            max-width: calc(5rem * 0.9);
            min-height: calc(115px * 0.8);
          }
          @media (max-width: 319px) {
            max-height: 27vw;
            max-width: 27vw;
            min-height: unset;
          }
        }
      }
    }

    .btn_image {
      &_container {
        label {
          width: 115px;
          height: 115px;
          min-width: unset;
          max-width: calc(6rem * 0.9);
          max-height: calc(115px * 0.9);
          padding: 5px;
          @media (max-width: 320px) {
            max-height: calc(100px * 0.9);
            max-width: calc(5rem * 0.9);
            min-height: calc(115px * 0.8);
          }
          @media (max-width: 319px) {
            max-height: 27vw;
            max-width: 27vw;
            min-height: unset;
          }
        }
      }
      .transparent {
        .standard-label {
          border: 2px solid transparent;
          box-shadow: none;
        }
        .checked {
          transition: 0.3s linear;
          border: var(--ion-border-standard);
          box-shadow: var(--ion-default-box-shadow);
        }
      }
    }
  }
}

.standard-label {
  border-radius: $primary-radio-border-rd;
  transition: 0.3s linear;
  max-width: fit-content;
  min-width: 100%;
  box-shadow: var(--ion-default-box-shadow);
  border: var(--ion-border-standard);
  color: var(--ion-color-primary);
  background: var(--ion-color-primary-contrast);
}

.checked {
  background: $background-selected;
  transition: 0.3s linear;
}

.smile-checked {
  color: var(--ion-color-primary);
  border: $primary-radio-border !important;
  border-color: var(--ion-color-primary);
}

.center {
  @include mixins.flex-centered;
  flex-direction: column;
}

input {
  width: 100%;
  height: 100%;
  display: none;
}

label {
  height: 100%;
  font-weight: 700;
  text-align: center;
  transition: 0.3s linear;
}
