<div class="wrapper-radio-group">
  <div class="container" [ngSwitch]="radioButtonType">
    <div class="btn_triangle dse" *ngSwitchCase="'btn_triangle'">
      <div class="btn_triangle_container center" *ngFor="let item of arrayOfBtn" [style.flex]="getFlexWidth">
        <label class="center standard-label" [class.checked]="el.checked">
          <input #el type="radio" name="triangle">
          {{item.text}}
        </label>
      </div>
    </div>
    <div class="btn_square dse" *ngSwitchCase="'btn_square'">
      <div class="btn_square_container center" *ngFor="let item of arrayOfBtn" [style.flex]="getFlexWidth">
        <label class="center standard-label" [class.checked]="el.checked">
          <img *ngIf="item.image" src="/assets/plh_assets/plh_images/other_icons/icon-man.svg" alt="">
          <input #el type="radio" name="square">
          {{item.text}}
        </label>
      </div>
    </div>
    <div class="btn_image dse" *ngSwitchCase="'btn_image'">
      <div class="btn_image_container center" *ngFor="let item of arrayOfBtn" [style.flex]="getFlexWidth">
        <label class="center standard-label" [class.image-checked]="el.checked">
          <img *ngIf="item.image" src="/assets/plh_assets/plh_images/other_icons/smile.svg" alt="">
          <input #el type="radio" name="image">
          {{item.text}}
        </label>
      </div>
    </div>
    <div *ngSwitchDefault>
      Invalid type button
    </div>
  </div>
</div>
