<div class="wrapper-radio-group">
  <div class="container" [ngSwitch]="radioButtonType">
    <div class="btn_triangle dse" *ngSwitchCase="'btn_text'">
      <div
        class="btn_triangle_container center"
        [style.flex]="flexWidth"
        [class]="style"
        *ngFor="let item of arrayOfBtn"
      >
        <label class="center standard-label" [class.checked]="el.checked">
          <input
            #el
            type="radio"
            [value]="item.name"
            [checked]="el.value === value"
            (click)="setValue(el.value)"
            [name]="groupName"
          />
          {{ item.text }}
        </label>
      </div>
    </div>
    <div class="btn_square dse" *ngSwitchCase="'btn_square'">
      <div
        class="btn_square_container center"
        [class]="style"
        *ngFor="let item of arrayOfBtn"
        [style.flex]="flexWidth"
      >
        <label class="center standard-label" [class.checked]="el.checked">
          <svg-icon
            [src]="el.checked && item.image_checked ? item.image_checked : item.image"
            [svgStyle]="{ fill: el.checked && !item.image_checked ? '#fff' : imageCheckedColor }"
          >
          </svg-icon>
          <input
            #el
            type="radio"
            [value]="item.name"
            [checked]="el.value === value"
            (click)="setValue(el.value)"
            [name]="groupName"
          />
          {{ item.text }}
        </label>
      </div>
    </div>
    <div class="btn_image dse" *ngSwitchCase="'btn_icon'">
      <div
        class="btn_image_container center"
        [class]="style"
        *ngFor="let item of arrayOfBtn"
        [style.flex]="flexWidth"
      >
        <label class="center standard-label" [class.smile-checked]="el.checked">
          <svg-icon [src]="el.checked && item.image_checked ? item.image_checked : item.image">
          </svg-icon>
          <input
            #el
            type="radio"
            [value]="item.name"
            [checked]="el.value === value"
            (click)="setValue(el.value)"
            [name]="groupName"
          />
          <span> {{ item.text }} </span>
        </label>
      </div>
    </div>
    <div *ngSwitchDefault>Invalid type button</div>
  </div>
</div>
