@use "/src/theme/mixins";

// Colour to be used for the progress bar when the component is standalone (explicitly instantiated from a template)
// Within the task-card component, the progress bar colour is determined by the status of the task group, i.e.,
// "notStarted" | "inProgress" | "completed" | "highlighted"
$progress-colour: var(--task-progress-bar-color, var(--ion-color-primary));

.progress-bar-wrapper {
  @include mixins.flex-space-between;

  .progress-text {
    padding-right: var(--tiny-padding);
    white-space: nowrap;
  }
  .progress-bar-background {
    width: 100%;
    border-radius: var(--ion-border-radius-small);
    background-color: var(--ion-color-gray-100);
  }
  .progress-bar {
    width: 1%;
    height: 5px;
    border-radius: var(--ion-border-radius-small);
    background-color: $progress-colour;
  }
  &.notStarted,
  &.inProgress {
    .progress-bar {
      background-color: var(--ion-color-gray-400);
    }
  }
  &.completed {
    .progress-bar {
      background-color: var(--ion-color-green);
    }
  }
  &.highlighted {
    .progress-bar-background {
      background-color: var(--ion-color-secondary-100);
    }
    .progress-bar {
      background-color: var(--ion-color-secondary);
    }
  }
  &.standalone {
    .progress-bar {
      background-color: $progress-colour;
    }
  }
}

// progress-wheel
.task-progress-wheel {
  .progress-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 48px;
  }

  .progress-wheel {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Start arc at the top */
  }

  .progress-background {
    fill: none;
    stroke: var(--ion-color-gray-100);
    stroke-width: 3.6;
  }

  .progress-foreground {
    fill: none;
    stroke: var(--ion-color-secondary-600);
    stroke-width: 3.6;
    stroke-linecap: square;
    transform-origin: center;
    transform: rotate(0);
    transition: stroke-dashoffset 0.5s ease-in-out;
  }

  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: var(--font-weight-medium);
    color: var(--ion-color-gray-700);
  }

  .wheel-title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -5px;
    color: var(--ion-color-gray-600);
    h4 {
      font-weight: var(--font-weight-bold);
    }
  }
}
