<ion-content class="ion-padding">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Pending Notifications</h2>
    <ion-button *ngIf="localNotificationService.permissionGranted" fill="clear">
      <ion-icon name="notifications-outline" slot="start"></ion-icon> Enabled
    </ion-button>
    <ion-button
      *ngIf="!localNotificationService.permissionGranted"
      fill="outline"
      (click)="localNotificationService.requestPermission()"
    >
      <ion-icon name="notifications-off" slot="start"></ion-icon> Enable
    </ion-button>
  </div>

  <!-- Pending Notifications -->
  <ion-list>
    <notification-debug-row
      *ngFor="let notification of localNotificationService.pendingNotifications$ | async"
      [notification]="notification"
      (showNotificationScheduleClicked)="showCustomNotificationSchedule($event)"
    ></notification-debug-row>
  </ion-list>

  <ion-card *ngIf="(localNotificationService.pendingNotifications$ | async).length===0">
    <ion-card-header>No Scheduled Notifications</ion-card-header>
  </ion-card>

  <!-- Sent Notifications -->
  <h2 style="flex: 1">Sent Notifications</h2>
  <ion-list>
    <notification-debug-interacted-row
      *ngFor="let notification of localNotificationInteractionService.interactedNotifications$ | async"
      [notification]="notification"
    ></notification-debug-interacted-row>
  </ion-list>

  <!-- Hidden picker used when creating custom datetime -->
  <ion-modal #datetimePickerModal [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.75">
    <ng-template>
      <ion-content>
        <ion-datetime
          (ionChange)="setCustomNotificationSchedule(picker.value)"
          #picker
          locale="en-GB-u-hc-h12"
          [value]="pickerValue"
          [min]="pickerMin"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- displayFormat="MMM DD, h:mm A" -->
</ion-content>
