:host {
  background: rgba(255, 255, 255, 0.7);
}
.response-options {
  max-height: 50vh;
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  overflow: auto;
}

.response-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--ion-primary-color, #0d4060);
  border-color: var(--ion-primary-color, #0d4060);
  background-color: white;
  padding: 7px;
  font-size: 14px;
  margin: 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  min-width: 25vw;
  max-width: 40vw;

  span {
    text-align: center;
  }

  &.large {
    font-size: 40px;
    border-radius: 40px;
  }
  img {
    max-height: 150px;
  }
}

.checkbox {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: var(--ion-primary-color, #0d4060);

  &.ticked {
    background-color: var(--ion-primary-color, #0d4060);
    color: white;
  }

  ion-icon {
    width: 100%;
    height: 100%;
  }
}