:host {
  width: 100%;
}
ion-button {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: var(--ion-color-primary-contrast);
  text-transform: none;
  white-space: pre-line;
  padding: var(--regular-padding);
  min-height: 70px;
  min-width: 59px;
  height: auto;
  --border-radius: 15px;
  --box-shadow: var(--ion-btn-dark-box-shadow);
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

ion-button::part(native) {
  height: auto;
}

ion-button:disabled,
ion-button[disabled] {
  filter: brightness(55%);
}

.navigation {
  --background: var(--ion-btn-secondary);
}

.information {
  --background: var(--ion-btn-primary);
}

.make_me_smile {
  --background: var(--ion-btn-primary);
  min-height: 86px;
  color: var(--ion-color-primary-contrast);
}

.get_me_going {
  --background: var(--ion-btn-secondary);
  min-height: 86px;
  color: var(--ion-color-primary-contrast);
}

.options {
  --background: var(--ion-gradient-option-btn);
  font-size: 18px;
  min-height: 40px;
  padding: 0;
  width: 95px;
  color: var(--ion-color-primary-contrast);
}

.left {
  margin: 0 auto 0 2px;
}
.right {
  margin: 0 2px 0 auto;
}
.full-width {
  width: 100%;
}
