@use "./utils";
@use "sass:color";

@mixin theme-default {
  @include utils.theme(
    $theme-name: "default",
    $color-primary: hsl(203, 76%, 21%),
    // #0d3f5e
    $color-secondary: hsl(31, 100%, 57%),
    // #fa9529
    // Global and component variables
    $variable-overrides:
      (
        // an example variable for illustration purposes
        demo-variable: red,

        // BORDERS
        modal-border-color: var(--ion-color-gray-300),
        border-color-default: var(--ion-color-primary),
        border-width-default: 2px,
        border-standard: var(--border-width-default) solid var(--border-color-default),
        border-thin-standard: 1px solid var(--border-color-default),
        gradient-yellow-vertical:
          linear-gradient(175deg, var(--ion-color-yellow-200) 30%, var(--ion-color-yellow-500)),
        gradient-yellow-horizontal:
          linear-gradient(85deg, var(--ion-color-yellow-200) 30%, var(--ion-color-yellow-500)),
        // button-background-primary: var(--gradient-primary-mid-vertical),
        // button-background-secondary: var(--gradient-secondary-mid-vertical),
        // button-background-option: var(--gradient-primary-dark-vertical),
        // button-border-radius: var(--ion-border-radius-standard),
        round-button-background-secondary-light: var(--ion-color-yellow),
        // round-button-background-secondary-mid: #fa9529,
        // round-button-background-secondary-dark: #F87023,
        // tile-button-background-default: #a3d9fa,
        // tile-button-background-primary: var(--gradient-primary-mid-vertical),
        // tile-button-background-primary-light: var(--gradient-primary-light-vertical),
        // tile-button-background-secondary: var(--gradient-secondary-mid-vertical),
        tile-button-background-secondary-light: var(--gradient-yellow-vertical),
        // audio-control-background: #1980d2,
        // points-item-background: #bce3fb,
        // points-item-background-complete: var(--ion-color-primary-contrast),
        // points-item-border: none,
        // display-group-background-banner-primary: var(--ion-banner-primary)
        // display-group-background-banner-secondary: var(--gradient-yellow-vertical)
        // display-group-background-tool-1: #fa8e29,
        // display-group-background-tool-2: #ff7b00,
        // display-group-background-tool-3: #108ab2,
        // display-group-background-tool-4: #096a8b,
        // display-group-background-tool-5: $color-primary,
        // display-group-background-home-light: var(--gradient-primary-light-horizontal),
        display-group-background-home-mid: linear-gradient(85deg, #1c87ca 30%, #044974),
        // display-group-background-home-dark: var(--gradient-primary-dark-horizontal),
        // timer-button-background: #1985d2,
        // slider-ui-color: #096e90,
        // accordion-background-highlight: var(--gradient-primary-light-vertical),
        // tour-next-button-background: var(--gradient-secondary-mid-vertical),
        // radio-group-background-selected: var(--gradient-primary-light-vertical),
        // radio-button-font-size: 1.25rem,
        // radio-button-font-color: var(--ion-color-primary),
        ion-item-background: white,
        // task-progress-bar-color: var(--ion-color-primary),
        // checkbox-background-color: white,
        // progress-path-line-background, var(--ion-color-gray-100),
        // TEXT BUBBLE COLOURS
        text-bubble-background-color-3: var(--ion-color-yellow-100),
        text-bubble-border-color-3: var(--ion-color-yellow-700),
        text-bubble-background-color-4: var(--gradient-yellow-vertical),
        text-bubble-border-color-4: var(--ion-color-secondary-700),
        pop-up-background: white,
        // paragraph-spacing: var(--tiny-margin),
        combo-box-background-with-value: var(--gradient-primary-light-vertical),
        combo-box-background-no-value: transparent,
        combo-box-placeholder-text: rgba(13, 64, 96, 0.5),
        combo-box-border-with-value: var(--ion-color-primary),
        combo-box-selected-value-text: var(--ion-color-primary),
      )
  );
}
