<ion-content *ngIf="flowName">
  <h1>{{habitIdea?.title}}</h1>
  <div class="ideas-container" (pointerup)="suggestedDragging = false">
    <div class="ideas-column">
      <h2>{{habitIdea?.suggestion_list_title}}</h2>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="suggestedIdeas" [cdkDropListConnectedTo]="[doneList]"
        (pointerdown)="suggestedDragging = true" [cdkDropListSortingDisabled]="true">
        <div class="idea" *ngFor="let item of suggestedIdeas" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="ideas-column">
      <h2>{{habitIdea?.personal_list_title_short}}</h2>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="userIdeas" (cdkDropListDropped)="drop($event)"
        [cdkDropListSortingDisabled]="true" cdkDragDisabled="true">
        <div *ngFor="let idea of userIdeas" class="idea user-idea">
          <span></span>
          <span>{{idea}}</span>
          <ion-icon name="close-outline" (click)="deleteUserIdea(idea)"></ion-icon>
        </div>
        <div class="add-idea-button" (click)="promptForIdea()">+</div>
          <label class="add-your-own-label">{{habitIdea?.add_button}}</label>
      </div>

    </div>
  </div>
</ion-content>