@use "../../mixins";

body[data-theme="plh_kids_kw"] {
  // button
  plh-button {
    ion-button {
      min-height: var(--buttons-medium-height);
      height: var(--buttons-full-height);
      width: var(--buttons-full-width);
      margin: 0 auto;
      --border-radius: var(--ion-border-radius-rounded);
      --box-shadow: none;

      font-size: var(--buttons-font-size-large);
      font-weight: var(--font-weight-bold);
      letter-spacing: var(--font-letter-spacing);
      line-height: var(--line-height-text);
      text-transform: none;
    }
    ion-button:disabled,
    ion-button[disabled] {
      filter: none;
    }

    .left {
      text-align: unset !important;
    }
    // Center align all button text by default
    .left.null ::ng-deep {
      text-align: center;
      p {
        text-align: center !important;
      }
    }
    .left.centre ::ng-deep {
      p {
        text-align: center !important;
      }
    }
    .left.right ::ng-deep {
      p {
        text-align: right !important;
      }
    }
    //Alignment Buttons
    ion-button.left {
      width: 50%;
      margin-left: 0;
    }
    ion-button.right {
      width: 50%;
      margin-right: 0;
    }
    // Color Alternatives
    .standard {
      color: white;
    }
    .card.standard {
      color: var(--ion-color-primary-800);
    }
    .alternative {
      color: var(--ion-color-primary-50);
    }
    .information {
      --background: var(--ion-color-primary-600);
      &:hover {
        --background: var(--ion-color-primary-500);
      }
    }
  }

  // audio
  plh-audio {
    border: 1px solid transparent;
    .container-player[data-variant~="compact"] {
      width: var(--buttons-full-width);

      border: 0.9px solid var(--ion-color-primary-100);
      border-radius: var(--ion-border-radius-rounded);
      box-shadow: none;

      background-color: var(--ion-color-primary-50);
      padding: 8px 16px;
      padding-right: 24px;

      .top-row {
        min-height: 0;
        position: absolute;
        top: -52px;
        margin: 0 0 0 -14px;
        h3 {
          margin: 0;
          margin-right: 0;
          color: var(--ion-color-gray-900);
          max-width: 95%;
          font-weight: var(--font-weight-bold);
          font-size: var(var(--font-size-text-medium) + 2);
        }
      }
      .second-row {
        .controls {
          ion-button.btn-play {
            --background: var(--ion-color-secondary-600) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --box-shadow: none !important;
            height: 52px !important;
            width: 52px !important;
            ion-icon {
              font-size: var(--icon-size-large) !important;
            }
          }
        }
        .progress-block {
          ion-range {
            width: 100% !important;
            --bar-background: white !important;
            --bar-height: 12px !important;
            --knob-size: 20px !important;
            --knob-background: var(--ion-color-secondary-600) !important;
            --bar-border-radius: var(--ion-border-radius-standard) !important;
          }
          .time {
            .time-value {
              font-size: var(--font-size-text-small) !important;
              font-weight: var(--font-weight-medium) !important;
              line-height: var(--line-height-text-tiny) !important;
              color: var(--ion-color-gray-700) !important;
            }
          }
        }
      }
    }
    .container-player[data-variant~="large"] {
      background: var(--ion-color-primary-50);
      border: 0.9px solid var(--ion-color-primary-100);
      box-sizing: border-box;
      box-shadow: none;
      border-radius: var(--ion-border-radius-standard);
      padding: 12px 16px;
      display: flex;
      position: relative;
      flex-direction: column;
      .top-row {
        position: absolute;
        top: -56px;
        margin: 0 0 0 -14px;
        h3 {
          margin: 0;
          margin-right: 0;
          color: var(--ion-color-gray-900);
          max-width: 85%;
          font-weight: var(--font-weight-bold);
          font-size: var(var(--font-size-text-medium) + 2);
        }
        ion-button.action-button {
          --padding-start: 2px;
          --padding-end: 2px;
        }
      }
      .second-row {
        display: flex;
        flex-direction: column-reverse;
        .controls {
          width: var(--audio-controls-width) !important;
          .rewind,
          .forward {
            ion-icon {
              font-size: var(--icon-size-extra-large) !important;
              color: var(--ion-color-secondary-600) !important;
              border-radius: 2px !important;
            }
          }
          .btn-play {
            @include mixins.large-square;
            --background: var(--ion-color-primary-50) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --padding: 0 !important;
            --box-shadow: none !important;
            ion-icon {
              position: absolute !important;
              font-size: var(--icon-size-largest) !important;
              color: var(--ion-color-secondary-600) !important;
            }
          }
        }
        .progress-block {
          .audio-range {
            --bar-background-active: var(--ion-color-primary-400) !important;
            --bar-background: white !important;
            --bar-height: 12px !important;
            --bar-border-radius: var(--ion-border-radius-standard) !important;
            --knob-size: 0px !important;
            --pin-background: var(--ion-color-primary-300) !important;
            --knob-background: var(--ion-color-primary-300) !important;
            padding-inline: 0;
          }

          ion-range::part(bar) {
            border: none !important;
          }

          ion-range::part(bar-active) {
            top: -1.5px !important;
            margin-left: 0 !important;
          }
          .time {
            &-value {
              font-size: var(--font-size-text-small) !important;
              line-height: var(--line-height-text-tiny) !important;
              color: var(--ion-color-gray-700) !important;
            }
          }
        }
      }
    }
  }

  // accordion
  plh-accordion-component {
    // KUWAIT THEME STYLING
    ion-accordion {
      background: var(--ion-color-primary-600);

      border: none;
      border-radius: var(--ion-border-radius-small);
      box-shadow: none;
      .accordion-section-title {
        color: white;

        font-size: var(--font-size-text-large);
        font-weight: var(--font-weight-bold);
      }
    }
    .accordion-header::ng-deep ion-icon {
      color: unset;
      color: white !important;
    }
    ion-item.accordion-content {
      border-top: 1px solid #c4c7c9 !important;
      margin: 0px 16px !important;

      &::ng-deep {
        p {
          color: white !important;
          font-size: var(--font-size-text-medium) !important;
          line-height: var(--line-height-text-medium) !important;
          font-weight: var(--font-weight-standard) !important;
        }
      }
    }
  }
}