@use "../../mixins";

body[data-theme="plh_kids_kw"] {
  // button
  plh-button {
    ion-button {
      min-height: var(--buttons-medium-height);
      height: var(--buttons-full-height);
      width: var(--buttons-full-width);
      margin: 0 auto;
      --border-radius: var(--ion-border-radius-rounded);
      --box-shadow: none;

      font-size: var(--buttons-font-size-large);
      font-weight: var(--font-weight-bold);
      letter-spacing: var(--font-letter-spacing);
      line-height: var(--line-height-text);
      text-transform: none;
    }
    ion-button:disabled,
    ion-button[disabled] {
      filter: none;
    }
    // Center align all button text by default
    .left.null ::ng-deep {
      p {
        text-align: center !important;
      }
    }
    .left ::ng-deep {
      p {
        text-align: left !important;
      }
    }
    .left.centre ::ng-deep {
      p {
        text-align: center !important;
      }
    }
    .left.right ::ng-deep {
      p {
        text-align: right !important;
      }
    }
    //Alignment Buttons
    ion-button.left {
      width: 50%;
      margin-left: 0;
    }
    ion-button.right {
      width: 50%;
      margin-right: 0;
    }
    // Color Alternatives
    .standard {
      color: white;
    }
    .card.standard {
      color: var(--ion-color-primary-800);
    }
    .alternative {
      color: var(--ion-color-primary-50);
    }
    .information {
      --background: var(--ion-color-primary-600);
      &:hover {
        --background: var(--ion-color-primary-500);
      }
    }
  }

  // audio
  plh-audio {
    border: 1px solid transparent;
    .container-player[data-variant~="compact"] {
      width: var(--buttons-full-width);

      border: 0.9px solid var(--ion-color-primary-100);
      border-radius: var(--ion-border-radius-rounded);
      box-shadow: none;

      background-color: var(--ion-color-primary-50);
      padding: 8px 16px;
      padding-right: 24px;
      margin-top: 30px;

      .top-row {
        min-height: 0 !important;
        position: absolute;
        top: -52px;
        margin: 0 0 0 -14px;
        // padding-top: 30px;
        h3 {
          margin: 0;
          color: var(--ion-color-gray-900) !important;
          max-width: 95%;
          font-weight: var(--font-weight-bold);
          font-size: var(var(--font-size-text-medium) + 2);
          // margin-top: 20px !important;
        }
      }
      .second-row {
        .controls {
          ion-button.btn-play {
            --background: var(--ion-color-secondary-600) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --box-shadow: none !important;
            height: 52px !important;
            width: 52px !important;
            ion-icon {
              font-size: var(--icon-size-large) !important;
            }
          }
        }
        .progress-block {
          ion-range {
            width: 100% !important;
            --bar-background: white !important;
            --bar-height: 12px !important;
            --knob-size: 20px !important;
            --knob-background: var(--ion-color-secondary-600) !important;
            --bar-border-radius: var(--ion-border-radius-standard) !important;
          }
          .time {
            .time-value {
              font-size: var(--font-size-text-small) !important;
              font-weight: var(--font-weight-medium) !important;
              line-height: var(--line-height-text-tiny) !important;
              color: var(--ion-color-gray-700) !important;
            }
          }
        }
      }
    }
    .container-player[data-variant~="large"] {
      background: var(--ion-color-primary-50);
      border: 0.9px solid var(--ion-color-primary-100);
      box-sizing: border-box;
      box-shadow: none;
      border-radius: var(--ion-border-radius-standard);
      padding: 12px 16px;
      display: flex;
      position: relative;
      flex-direction: column;
      margin-top: 20px;
      .top-row {
        position: absolute;
        top: -56px;
        margin: 0 0 0 -14px;
        h3 {
          margin: 0;
          margin-right: 0;
          color: var(--ion-color-gray-900);
          max-width: 85%;
          font-weight: var(--font-weight-bold);
          font-size: var(var(--font-size-text-medium) + 2);
        }
        ion-button.action-button {
          --padding-start: 2px;
          --padding-end: 2px;
        }
      }
      .second-row {
        display: flex;
        flex-direction: column-reverse;
        .controls {
          width: var(--audio-controls-width) !important;
          .rewind,
          .forward {
            ion-icon {
              font-size: var(--icon-size-extra-large) !important;
              color: var(--ion-color-secondary-600) !important;
              border-radius: 2px !important;
            }
          }
          .btn-play {
            @include mixins.large-square;
            --background: var(--ion-color-primary-50) !important;
            --border-radius: var(--ion-border-radius-rounded) !important;
            --padding: 0 !important;
            --box-shadow: none !important;
            ion-icon {
              position: absolute !important;
              font-size: var(--icon-size-largest) !important;
              color: var(--ion-color-secondary-600) !important;
            }
          }
        }
        .progress-block {
          .audio-range {
            --bar-background-active: var(--ion-color-primary-400) !important;
            --bar-background: white !important;
            --bar-height: 12px !important;
            --bar-border-radius: var(--ion-border-radius-standard) !important;
            --knob-size: 0px !important;
            --pin-background: var(--ion-color-primary-300) !important;
            --knob-background: var(--ion-color-primary-300) !important;
            padding-inline: 0;
          }

          ion-range::part(bar) {
            border: none !important;
          }

          ion-range::part(bar-active) {
            top: -1.5px !important;
            margin-left: 0 !important;
          }
          .time {
            &-value {
              font-size: var(--font-size-text-small) !important;
              line-height: var(--line-height-text-tiny) !important;
              color: var(--ion-color-gray-700) !important;
            }
          }
        }
      }
    }
  }

  // accordion
  plh-accordion-component {
    ion-accordion {
      background: var(--ion-color-primary-600);

      border: none;
      border-radius: var(--ion-border-radius-small);
      box-shadow: none;
      .accordion-section-title {
        color: white;

        font-size: var(--font-size-text-medium);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-text-small);
      }
    }
    ion-accordion.accordion-animated > [slot="header"] .ion-accordion-toggle-icon {
      color: unset !important;
      color: white !important;
    }
    ion-item.accordion-header[slot="header"] {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      min-width: 390px;
      left: 0;
      right: 0;
      // border: 1px solid red;
      &::ng-deep {
        border: 1px solid red !important;
      }
    }
    ion-item.accordion-content {
      border-top: 1px solid #c4c7c9 !important;
      margin: 0px 10px !important;

      plh-tmpl-text {
        width: 100%;
        p {
          color: white !important;
          font-size: var(--font-size-text-medium) !important;
          line-height: var(--line-height-text-medium) !important;
          font-weight: var(--font-weight-standard) !important;
          margin-top: 8px;
        }
      }
    }
  }

  // Text Bubble
  .text-bubble-container {
    position: unset;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    height: fit-content;
    margin-bottom: 20px;

    &[data-variant~="gray"] {
      --border-color: none;
      --background-color: none;
      .text-bubble {
        border: 1px solid #74777c;
        background-color: #f9f9fa;
      }
    }

    &[data-variant~="primary"] {
      --background-color: none;
      --border-color: none;
      .text-bubble {
        border: 1px solid var(--ion-color-secondary-700);
        background-color: var(--ion-color-primary-50);
      }
    }

    &[data-variant~="secondary"] {
      --background-color: none;
      --border-color: none;
      .text-bubble {
        border: 1px solid #815600;
        background-color: #f9f9fa;
      }
    }

    &[data-variant~="orange"] {
      margin-bottom: 14px;
      .text-bubble {
        border: 1px solid #ff8250;
        background-color: #ffeade;
      }
    }

    &[data-variant~="yellow"] {
      margin-bottom: 14px;
      .text-bubble {
        border: 1px solid #d5a344;
        background-color: #fdefdc;
      }
    }

    &[data-variant~="no_border"] {
      .text-bubble {
        border: 0px;
      }
    }

    img.speaker-image {
      position: unset;
      margin-right: 8px;
    }

    .text-bubble {
      clip-path: none;
      border-image: none;
      border-radius: 0px 12px 12px 12px;
      border: 1px solid var(--ion-color-secondary-700);
      background-color: var(--ion-color-primary-50);

      --a: 0deg;
      --h: 0em;
      --p: 0%;

      padding: 0;
      padding: 14px 16px;
      min-width: 124px;

      p {
        font-size: var(--font-size-text-mid-size);
        color: var(--ion-color-gray-900);
      }

      li {
        font-size: var(--font-size-text-mid-size);
        color: var(--ion-color-gray-900);
      }

      ol {
        margin: var(--paragraph-margin-small) 0;
      }
    }

    .avatar-name {
      margin-bottom: 6px;
      font-size: var(--font-size-text-tiny);
      color: #74777c;
      font-weight: var(--font-weight-bold);
      letter-spacing: -0.1px;
    }

    .no-name {
      margin-bottom: 20px;
    }
  }
  .text-bubble-container[data-position="right"] {
    display: flex;
    flex-direction: row;

    .text-bubble {
      border-radius: 12px 0px 12px 12px;

      p {
        text-align: right;
      }

      li {
        text-align: right;
      }
    }

    img.speaker-image {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      margin-left: 8px;
    }

    .avatar-name {
      text-align: right;
    }
  }

  // Text
  plh-tmpl-text {
    .standard {
      color: var(--ion-color-gray-900);
      font-size: var(--font-size-text-medium);
      p {
        margin: var(--paragraph-margin-small) 0;
      }
      ol {
        margin: var(--paragraph-margin-small) 0;
      }
    }
  }
  plh-tmpl-title {
    .title-wrapper h1 p {
      font-size: var(--font-size-text-title);
      margin: var(--paragraph-margin-medium) 0;
      line-height: var(--line-height-text-large);
      color: var(--ion-color-primary-700);
    }
  }

  // Text Area
  plh-text-area {
    .wrapper .text_area {
      background: white !important;
      border: 0.8px solid var(--ion-color-gray-200) !important;
      font-size: var(--font-size-text-medium) !important;
      color: var(--ion-color-gray-900) !important;
      font-weight: var(--font-weight-medium) !important;
      box-shadow: none !important;
      border-radius: var(--ion-border-radius-standard);
      --padding-end: 16px !important;
      --padding-start: 16px !important;
    }
  }

  // Text Box
  plh-text-box {
    .wrapper {
      .text-box-input {
        background: white !important;
        border: 1px solid var(--ion-color-gray-200) !important;
        font-size: var(--font-size-text-medium) !important;
        color: var(--ion-color-gray-900) !important;
        font-weight: var(--font-weight-medium) !important;
        box-shadow: none !important;
        --padding-end: 16px !important;
        --padding-start: 16px !important;
        --padding-top: 14px;
        --padding-bottom: 14px;
        min-height: 58px;
      }
    }
  }

  // Select Text
  plh-select-text {
    .box-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: none;
      width: 100%;
      padding: 0;
      .text {
        border: 1px solid #f8dfbb;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        width: 60%;
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 60px;

        color: var(--ion-color-gray-600);
        font-size: var(--font-size-text-small) !important;
        text-overflow: ellipsis;
      }
      .copy-button {
        width: 40%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 0 !important;
        padding: 0 6px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;

        background-color: #815600;
        color: white;
        font-size: var(--font-size-text-small) !important;
        font-weight: var(--font-weight-bold);
        text-align: center;
        text-overflow: clip;
      }

      .image-based-icon {
        max-width: 32px !important;
      }
    }
  }
}
