<ion-content [scrollEvents]="shouldEmitScrollEvents">
  <plh-template-container
    *ngIf="templateName"
    [templatename]="templateName"
  ></plh-template-container>
  <div *ngIf="!templateName" class="ion-padding">
    <h3>Select a Template</h3>
    <ion-searchbar [(ngModel)]="filterTerm" (ionInput)="search()"></ion-searchbar>
    <ion-list>
      <ion-item
        *ngFor="let template of filteredTemplates; trackBy: trackByFn"
        [routerLink]="template.flow_name"
        >{{template.flow_name}}</ion-item
      >
    </ion-list>
  </div>
</ion-content>
