<ion-content [scrollEvents]="shouldEmitScrollEvents">
  @if (templateName) {
  <plh-template-container [templatename]="templateName"></plh-template-container>
  } @else {
  <div class="ion-padding">
    <h3>Select a Template</h3>
    <ion-searchbar [(ngModel)]="filterTerm" (ionInput)="search()"></ion-searchbar>
    <ion-list>
      @for(template of filteredTemplates; track trackByFn) {
      <ion-item [routerLink]="template.flow_name">{{template.flow_name}}</ion-item>
      }
    </ion-list>
  </div>
  }
</ion-content>
