::ng-deep{
  .my-custom-modal{
    padding: 20% 10%  !important;
    .modal-wrapper{
      background: #fff;
      border: 2px solid #0D4060;
      box-sizing: border-box;
      border-radius: 20px;
    }
  }
}

.container-modal{
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  .header{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #0D4060;
    margin-bottom: 20px;
  }
  .form{
    display: flex;
    width: 100%;
    justify-content: center;
    .container-radio{
      min-height: 59px;
      min-width: 342px;
      max-width: fit-content;
      background: #FFFFFF;
      border: 2px solid #0D4060;
      box-sizing: border-box;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      input{
        display: none;
      }
      label{
        padding: 5px;
        width: 100%;
        min-height: 49px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 25px;
        color: #0D3F60;
      }
    }
    .checked-radion{
      background: #2DC7F2;
    }
  }
}
