<ion-content>
  <h1>Reminders</h1>
  <div style="margin: 10px">App Day: {{ remindersService.appday }}</div>
  <ion-card
    *ngFor="let reminder of remindersService.remindersList$ | async"
    class="reminder-list-item"
  >
    <ion-card-header style="font-weight: 500">{{ reminder.reminder_id }}</ion-card-header>
    <ion-card-content>
      <div style="display: flex">
        <div style="flex: 1">
          <div>Sent:</div>
          <div>Scheduled:</div>
          <div>Activated:</div>
          <div>Deactivated:</div>
        </div>
        <div style="text-align: right">
          <ion-button
            fill="clear"
            (click)="remindersService.triggerReminderAction(reminder)"
            class="no-padding"
            style="margin: 0"
            >Start Action</ion-button
          >
          <div style="font-size: small; color: var(--ion-color-primary)">
            {{ reminder.start_action }}<br />{{ reminder.start_action_args }}
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
