.container{
  margin-top: 30px;
  min-width: 301px;
  background: #FFFFFF;
  border: 2px solid #096B8B;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  .left,.right{
    flex: 1 1 20%;
  }
   .center{
    flex: 1 1 60%;
  }
  .right{
    display: flex;
    justify-content: flex-end;
  }
  ion-button{
    --background: transparent;
    --box-shadow: none;
    border-radius: 50%;
    border: 1px solid #096B8B;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    .line{
      position: absolute;
      width: 8px;
      height: 2px;
      background: #096B8B;
    }
    .plus{
      transform: rotate(90deg);
    }
  }
  .center{
    .title, .num{
      text-align: center;
      font-weight: 500;
      color: #0D3F60;
      max-width: 150px;
    }
  }
}
.short{
  min-height: 44px;
  .center{
    .title, .num{
      font-size: 15px;
    }
  }
}
.normal{
  min-height: 59px;
  .center{
    .title, .num{
      font-size: 20px;
    }
  }
}
