<div class="container margin-t-large" [class]="height">
  <div class="left">
    <ion-button (click)="increment('lt')">
      <div class="line"></div>
    </ion-button>
  </div>
  <div class="center">
    <div class="title" *ngIf="title">{{ title }}</div>
    <div class="num" *ngIf="!category_list">{{ displayValue }}</div>
    <div class="category" *ngIf="category_list">
      <span>{{ _row.value }}</span>
    </div>
  </div>
  <div class="right">
    <ion-button (click)="increment('gt')">
      <ion-icon name="add-circle-outline"></ion-icon>
      <div class="line"></div>
      <div class="line plus"></div>
    </ion-button>
  </div>
</div>
