@import "../../../../../../theme/mixins.scss";
.container {
  width: calc(100% - 10px);
  background: #ffffff;
  border: var(--ion-border-standard);
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);
  @include flex-space-between;
  padding: 0 6px;
  margin-left: 5px;
  margin-right: 5px;
  .left,
  .right {
    flex: 1 1 20%;
  }
  .center {
    flex: 1 1 60%;
  }
  .right {
    display: flex;
    justify-content: flex-end;
  }
  ion-button {
    --background: transparent;
    --box-shadow: none;
    border-radius: var(--ion-border-radius-rounded);
    border: var(--ion-border-standard);
    width: 27px;
    height: 27px;
    @include flex-centered;
    .line {
      position: absolute;
      width: 8px;
      height: 2px;
      background: var(--ion-color-primary);
    }
    .plus {
      transform: rotate(90deg);
    }
  }
  .center {
    @include flex-centered;
    flex-direction: column;
    .title,
    .num {
      text-align: center;
      font-weight: var(--font-weight-standard);
      color: var(--ion-color-primary);
      max-width: 150px;
    }
    .category {
      max-width: 150px;
      span {
        font-weight: var(--font-weight-standard);
        font-size: 15px;
        line-height: 18px;
        color: var(--ion-color-primary);
      }
    }
  }
}
.short {
  min-height: 44px;
  .center {
    .title,
    .num {
      font-size: var(--number-selector-short-font-size);
    }
  }
  ion-button {
    width: 37px;
    height: 37px;
    .line {
      width: 15px;
      height: 3px;
    }
  }
}
.normal {
  min-height: 59px;
  .center {
    .title,
    .num {
      font-size: var(--number-selector-normal-font-size);
    }
  }
}
