@import "../../../../../../theme/mixins.scss";
.container {
  width: calc(100% - 10px);
  background: var(--ion-color-primary-contrast);
  border: var(--ion-border-standard);
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-secondary);
  @include flex-space-between;
  padding: 0 var(--tiny-padding);
  margin-left: var(--tiny-margin);
  margin-right: var(--tiny-margin);
  .left,
  .right {
    flex: 1 1 20%;
  }
  .center {
    flex: 1 1 60%;
  }
  .right {
    display: flex;
    justify-content: flex-end;
  }
  ion-button {
    --background: transparent;
    --box-shadow: none;
    border-radius: var(--ion-border-radius-rounded);
    border: var(--ion-border-standard);
    @include tiny-square;
    @include flex-centered;
    .line {
      position: absolute;
      width: 8px;
      height: 2px;
      background: var(--ion-color-primary);
    }
    .plus {
      transform: rotate(90deg);
    }
  }
  .center {
    @include flex-centered;
    flex-direction: column;
    .title,
    .num {
      text-align: center;
      font-weight: var(--font-weight-standard);
      color: var(--ion-color-primary);
      max-width: var(--number-selector-title-max-width);
    }
    .category {
      max-width: var(--number-selector-category-max-width);
      span {
        font-weight: var(--font-weight-standard);
        font-size: var(--font-size-text-small);
        line-height: var(--line-height-text-tiny);
        color: var(--ion-color-primary);
      }
    }
  }
}
.short {
  min-height: var(--number-selector-short-min-heigh);
  .center {
    .title,
    .num {
      font-size: var(--number-selector-short-font-size);
    }
  }
  ion-button {
    @include small-square;
    .line {
      width: 15px;
      height: 3px;
    }
  }
}
.normal {
  min-height: var(--number-selector-mormal-min-height);
  .center {
    .title,
    .num {
      font-size: var(--number-selector-normal-font-size);
    }
  }
}
