<ion-header>
  <ion-toolbar>
    <ion-title>My Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding container">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openReminderEditor()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <div *ngIf="remindersByTime[0].reminders.length > 0">
      You have {{remindersByTime[0].reminders.length}} past reminders
    </div>
    <ng-template ngFor let-group [ngForOf]="remindersByTime">
      <div *ngIf="!group.hide" class="reminder-group-container">
        <ion-list-header>{{group.label}}</ion-list-header>
        <p class="no-reminders-message" *ngIf="group.reminders.length===0">
          You have no reminders for {{group.label.toLowerCase()}}
        </p>
        <ion-item
          *ngFor="let reminder of group.reminders"
          class="reminder-item"
          (click)="openReminderEditor(reminder)"
        >
          <div class="tick-container">
            <ng-lottie
              *ngIf="reminder.completeAnimInProgress"
              containerClass="tick-lottie"
              [options]="tickAnimOptions"
              (complete)="tickAnimationComplete(reminder)"
            >
            </ng-lottie>
            <img
              *ngIf="reminder.complete"
              class="complete-indicator"
              src="assets/images/done_tick.svg"
              (click)="onUncompleteClicked(reminder)"
            />
            <div
              *ngIf="!reminder.complete && !reminder.completeAnimInProgress"
              class="not-complete-indicator"
              (click)="onCompleteClicked(reminder)"
            ></div>
          </div>
          <div class="reminder-label">{{reminder.typeMeta.label}}</div>
        </ion-item>
      </div>
    </ng-template>
    <div *ngIf="remindersByTime[4].reminders.length > 0">
      You have {{remindersByTime[4].reminders.length}} later reminders
    </div>
  </ion-list>
</ion-content>
