// Styling must be globally scoped ('@use'd in src/theme/_components.scss), as the modal is injected dynamically into the DOM

ion-modal.nav-stack-modal {
  // Offset from the top of the safe area, progressively staggering successive stack modals
  // NB these theme variables must include units as they are used in calc()
  --height: calc(
    var(--safe-area-height) -
      (var(--nav-stack-top-offset) + (var(--nav-stack-index) * var(--nav-stack-stagger-offset)))
  );
  --width: 100%;
  --border-radius: 24px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --backdrop-opacity: 0.5;

  // Override defalut ion-modal behaviour of hiding backdrop for subsequent modals after first
  &:not([data-nav-stack-index="0"]) {
    --backdrop-opacity: 0.2 !important;
  }

  &::part(backdrop) {
    background-color: black;
  }

  &::part(content) {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: absolute;
    bottom: 0px;
    padding-bottom: calc(0px + var(--ion-safe-area-bottom, 0));
  }

  ion-toolbar {
    --background: var(--ion-background-color);
    --color: var(--ion-color-primary);
  }
}
