<div class="container-player margin-t-large" [attr.data-variant]="params.variant">
  @if (params.title) {
    <div class="top-row">
      <h3>{{ params.title }}</h3>
      @if (params.variant.includes("large") && params.showInfoButton) {
        <div class="info-icon-container">
          <ion-button fill="clear" class="action-button" (click)="handleActionButtonClick()">
            @if (params.infoIconAsset) {
              <ion-icon slot="icon-only" [src]="params.infoIconAsset | plhAsset"></ion-icon>
            } @else {
              <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
            }
          </ion-button>
        </div>
      }
    </div>
  }
  <div class="second-row">
    @if (params.variant.includes("compact") && params.showInfoButton) {
      <ion-button fill="clear" class="action-button" (click)="handleActionButtonClick()">
        @if (params.infoIconAsset) {
          <ion-icon slot="icon-only" [src]="params.infoIconAsset | plhAsset"></ion-icon>
        } @else {
          <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
        }
      </ion-button>
    }
    <div class="progress-block" [class.disabled]="params.rangeBarDisabled || !player">
      <ion-range
        #range
        class="audio-range"
        max="100"
        aria-readonly="true"
        [value]="progress()"
        (ionInput)="onProgressDrag($event)"
        (ionChange)="seekToTime()"
        (touchstart)="player.pause()"
        (touchend)="this.isPlaying ? player.play() : player.pause()"
      ></ion-range>
      <div class="time">
        @if (params.variant.includes("large")) {
          <div class="time-value">
            {{ progressSeconds() * 1000 | date: "mm:ss" }}
          </div>
          <div class="time-value">
            {{ !player ? "00:00" : (player?.duration() * 1000 | date: "mm:ss") }}
          </div>
        } @else {
          <div class="time-value">
            {{
              hasStarted
                ? (progressSeconds() * 1000 | date: "mm:ss")
                : (player?.duration() * 1000 | date: "mm:ss")
            }}
          </div>
        }
      </div>
    </div>
    <div class="controls">
      <div class="rewind">
        <ion-icon
          [name]="params.forwardIconAsset"
          [src]="params.forwardIconAsset"
          (click)="skipBackward()"
        ></ion-icon>
      </div>
      <ion-button class="btn-play" (click)="togglePlaying()" [disabled]="!player">
        <ion-icon
          [name]="!isPlaying ? params.playIconAsset : params.pauseIconAsset"
          [src]="!isPlaying ? params.playIconAsset : params.pauseIconAsset"
          [class.play-icon]="!isPlaying"
        ></ion-icon>
      </ion-button>
      <div class="forward">
        <ion-icon
          [name]="params.forwardIconAsset"
          [src]="params.forwardIconAsset"
          (click)="skipForward()"
        ></ion-icon>
      </div>
    </div>
  </div>
</div>
