<div class="container-player margin-t-large">
  <div class="top-row">
    <div class="title_and_help">
      <h3 *ngIf="params.title">{{ params.title }}</h3>
      <ion-icon
        *ngIf="params.helpText"
        [pTooltip]="params.helpText"
        tooltipPosition="left"
        tooltipEvent="click"
        name="help-circle-outline"
        [src]="params.helpIconAsset"
        class="audio-help"
      ></ion-icon>
    </div>
  </div>
  <div class="progress-block" [class.disabled]="params.rangeBarDisabled || !player">
    <ion-range
      #range
      class="audio-range"
      max="100"
      aria-readonly="true"
      [value]="progress"
      (ionChange)="checkChange()"
      (touchstart)="checkFocus()"
      (touchend)="seek()"
      (mouseup)="seek()"
    ></ion-range>
  </div>
  <div class="time">
    <div class="time-value">
      {{ +currentTimeSong * 1000 | date : "mm:ss" }}
    </div>
    <div class="time-value">
      {{ !player ? "00:00" : (player.duration() * 1000 | date : "mm:ss") }}
    </div>
  </div>
  <div class="controls" *ngIf="!errorTxt">
    <div class="rewind">
      <ion-icon
        [name]="params.forwardIconAsset"
        [src]="params.forwardIconAsset"
        (click)="rewindPrev()"
      ></ion-icon>
    </div>
    <div class="play">
      <ion-button class="btn-play" (click)="togglePlayer()">
        <ion-icon
          [name]="!isPlayed ? params.playIconAsset : params.pauseIconAsset"
          [src]="!isPlayed ? params.playIconAsset : params.pauseIconAsset"
          [class.play-icon]="!isPlayed"
        ></ion-icon>
      </ion-button>
    </div>
    <div class="forward">
      <ion-icon
        [name]="params.forwardIconAsset"
        [src]="params.forwardIconAsset"
        (click)="rewindNext()"
      ></ion-icon>
    </div>
  </div>
  <div class="error-text" *ngIf="errorTxt">
    {{ errorTxt }}
  </div>
</div>
