@import "../../../../../../theme/mixins.scss";
.container-player {
  background: #fff;
  border: var(--ion-border-standard);
  box-sizing: border-box;
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-standard);
  padding: 17px 14px 16px 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  .top-row {
    @include flex-space-between;
    .title_and_help {
      display: flex;
      align-items: center;
      min-height: 30px;
      h3 {
        margin: 0;
        margin-right: 11px;
        color: var(--ion-color-primary);
        max-width: 280px;
        font-weight: var(--font-weight-bold);
        font-size: var(--audio-title-size);
      }
      .audio-help {
        color: var(--ion-color-primary);
        height: var(--help-icon-standard-size);
        width: var(--help-icon-standard-size);
      }
    }
    .volume {
      position: absolute;
      top: 17px;
      right: 14px;
      .volume-icon {
        color: var(--ion-color-primary);
        height: 36px;
        width: 36px;
      }
    }
  }
  .progress-block {
    .audio-range {
      padding-inline: 0;
      --bar-background-active: var(--ion-btn-control-bg);
      --bar-background: transparent;
      --bar-height: 4px;
      --bar-border-radius: var(--ion-border-radius-secondary);
      --knob-size: 0px;
      --pin-background: var(--ion-color-primary);
      --knob-background: var(--ion-color-primary);
    }

    ion-range::part(bar) {
      border: 1px solid var(--ion-color-primary);
      height: 10px;
    }

    ion-range::part(bar-active) {
      top: 23px;
      margin-left: 3px;
    }
  }
  .time {
    margin-top: -12px;
    @include flex-space-between;
    &-value {
      font-size: 20px;
      line-height: 20px;
      color: var(--ion-color-primary);
    }
  }
  .controls {
    display: flex;
    min-width: 240px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    .rewind,
    .forward {
      ion-button {
        width: var(--ion-btn-tmpl-components-size);
        height: var(--ion-btn-tmpl-components-size);
        --background: transparent;
        --padding: 0;
        --border-radius: var(--ion-border-radius-rounded);
        --box-shadow: transparent;
        img {
          position: absolute;
          min-width: 48px;
        }
      }
    }
    .rewind {
      img {
        transform: rotate(180deg);
      }
    }
    .play {
      .btn-play {
        width: var(--ion-btn-tmpl-components-size);
        height: var(--ion-btn-tmpl-components-size);
        --background: var(--ion-btn-control-bg);
        --border-radius: var(--ion-border-radius-rounded);
        --padding: 0;
        --box-shadow: var(--ion-default-box-shadow);
        img {
          position: absolute;
          width: 35px;
        }
        .ml-5 {
          margin-left: 5px;
        }
      }
    }
  }
  .error-text {
    margin: 10px 0;
    text-align: center;
  }
}
.disabled {
  pointer-events: none;
}
