:host {
  display: block;
}

.course-sub-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: var(--small-padding);
  border: var(--border-standard);
  border-width: 2px;
  border-color: var(--ion-color-primary-variant-600);
  border-radius: var(--ion-border-radius-small);
  background-color: var(--ion-color-primary-50);
  color: var(--ion-color-primary);
  cursor: pointer;
  margin-top: var(--tiny-padding);

  .course-sub-item-title {
    font-size: var(--font-size-text);
  }

  ion-icon {
    font-size: var(--icon-size-tiny);
  }

  &[data-state="highlighted"] {
    background-color: var(--ion-color-green);
    color: white;
    border-color: var(--ion-color-green);
    font-weight: var(--font-weight-bold);
  }

  &[data-state="completed"] {
    background-color: var(--ion-color-primary-100);
  }

  &[data-state="locked"] {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: var(--ion-color-gray-100);
    color: var(--ion-color-gray-800);
    border-color: var(--ion-color-gray-800);
  }
}
