.wrapper {
  .text-box-input {
    background: var(--ion-color-primary-contrast);
    border: var(--ion-border-standard);
    width: 100%;
    height: 44px;
    font-size: var(--text-box-font-size);
    color: var(--ion-color-primary);
    font-weight: 700;
    box-shadow: var(--ion-default-box-shadow);
    border-radius: var(--ion-border-radius-standard);
    --padding-end: 10px;
    --padding-start: 10px;
  }
}
