@switch (playerImplementation) {
  @case ("iframe") {
    @if (src()) {
      <div class="youtube-container">
        <!-- The `iframe` property `allowFullscreen` must be set as a static attribute,
     see https://angular.dev/errors/NG0910 -->
        @if (params().allowFullScreen) {
          <iframe [src]="src()" frameborder="0" allowfullscreen></iframe>
        } @else {
          <iframe [src]="src()" frameborder="0"></iframe>
        }
      </div>
    }
  }
  @case ("webview") {
    <div class="youtube-container">
      <ion-button (click)="playWebview()">Play</ion-button>
      <div [id]="playerId"></div>
    </div>
  }
}
