.box-wrapper {
  padding: 25px;
  .item {
    margin: 0 auto;
    width: 100%;
    min-height: 60px;
    padding: 17px 33px;
    border: 1px dashed transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      text-align: center;
      font-size: 18px;
      line-height: 25px;
    }
    .icon {
      width: 56px;
      height: 56px;
      position: absolute;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .top-left {
      left: -23px;
      top: -23px;
    }
    .top-right {
      right: -23px;
      top: -23px;
    }
    .bottom-left {
      left: -23px;
      bottom: -23px;
    }
    .bottom-right {
      right: -23px;
      bottom: -23px;
    }
  }
  .default {
    background: transparent;
    border-color: #0d4060;
    .text {
      color: #0d4060;
    }
  }
  .alert {
    background: #fff;
    border-color: #f49d04;
    .text {
      color: #f49d04;
    }
  }
}
