@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

@mixin tiny-square {
  width: 25px;
  height: 25px;
}
@mixin small-square {
  height: 35px;
  width: 35px;
}
@mixin medium-square {
  height: 40px;
  width: 40px;
}
@mixin large-square {
  height: 64px;
  width: 64px;
}
@mixin largest-square {
  height: 80px;
  width: 80px;
}

/*
* HACK: A bug on iOS (native capacitor and safari) causes some CSS rules to sporadically not be applied on some elements.
* E.g.
* https://github.com/IDEMSInternational/parenting-app-ui/issues/2262
* https://github.com/IDEMSInternational/parenting-app-ui/issues/2274
* https://github.com/IDEMSInternational/parenting-app-ui/issues/2287
* A workaround is to apply an empty transformation to the element (see, for example https://michaeluloth.com/css-translate-z/)
*/
@mixin hack-webkit-reset {
  -webkit-transform: translateZ(0);
}
