@use "./variables.scss";
html {
  user-select: text;
}
h3 {
  font-size: 1.3em;
  font-weight: bold;
}

p {
  margin: var(--margin-text, var(--paragraph-spacing, 0.75em)) 0;
  line-height: var(--line-height-text, 1.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-text-small, 1);
  p {
    margin: 0;
    line-height: var(--line-height-text-small, 1);
  }
}

.standard {
  color: var(--ion-color-primary);
}
.alternative {
  color: var(--ion-color-primary-contrast);
}
.normal {
  font-weight: var(--font-weight-standard);
  font-style: normal;
}
.contextual {
  font-weight: var(--font-weight-standard);
  font-style: italic;
}
.emphasised {
  font-weight: 700;
  font-style: normal;
}
