@import "./variables.scss";
h3 {
  font-size: 1.3em;
  font-weight: bold;
}

p {
  margin: 0.75em 0;
}

.standard {
  color: var(--ion-color-primary);
}
.alternative {
  color: var(--ion-color-primary-contrast);
}
.normal {
  font-weight: var(--font-weight-standard);
  font-style: normal;
}
.contextual {
  font-weight: var(--font-weight-standard);
  font-style: italic;
}
.emphasised {
  font-weight: 700;
  font-style: normal;
}
