@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin absolute-centered {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

@mixin essential-tool {
  margin-top: var(--regular-margin);
  padding: var(--regular-padding);
  flex-direction: column;
  border-radius: var(--ion-border-radius-secondary);
}

@mixin tiny-square {
  width: 25px;
  height: 25px;
}
@mixin small-square {
  height: 35px;
  width: 35px;
}
@mixin medium-square {
  height: 40px;
  width: 40px;
}
@mixin large-square {
  height: 64px;
  width: 64px;
}
@mixin largest-square {
  height: 80px;
  width: 80px;
}
