@use "sass:color";
@use "./breakpoints";
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// https://sass-lang.com/documentation/breaking-changes/css-vars
// https://sass-lang.com/documentation/modules/color

// WiP - system to generate colours from base colour
$primary: hsl(203, 76%, 21%);
$primary-light: color.change($primary, $lightness: 80%);
$primary-lighter: color.change($primary, $lightness: 95%);

$secondary: hsl(31, 95%, 57%);
$secondary-light: color.change($secondary, $lightness: 80%);
$secondary-lighter: color.change($secondary, $lightness: 95%);

$tertiary: hsl(47, 100%, 92%);
$quaternary: hsl(204, 88%, 94%);
$light: #ffffff;
$dark: #00000040;
$worning: hsl(10, 81%, 49%);

/** Gradient direction **/
$vertical: 180deg;
$horizontal: 90deg;

/** Ionic CSS Variables **/
:root {
  --ion-main-bg-passive: #{$quaternary};
  --ion-main-bg-active: #{$tertiary};

  // Margins //
  --tiny-margin: 5px;
  --small-margin: 10px;
  --regular-margin: 15px;
  --large-margin: 24px;
  --largest-margin: 30px;
  --huge-margin: 40px;

  // Paddings //
  --tiny-padding: 5px;
  --small-padding: 10px;
  --regular-padding: 15px;
  --large-padding: 25px;
  --largest-padding: 30px;
  --huge-padding: 40px;
  --main-container-padding: 0 var(--large-margin);

  // Default content should fit full width, but limit to desktop breakpoint width
  --content-max-width: 100vw;
  @include breakpoints.desktop {
    --content-max-width: #{map-get(breakpoints.$sizes, "desktop")};
  }

  // Box shadow //
  --ion-default-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  // Borders //
  --ion-border-color-secondary: 2px solid #{$secondary};
  --ion-border-thin-standard: 1px solid #{$primary};
  --ion-border-standard: 2px solid #{$primary};
  --ion-border-light: 1px solid #{$light};
  --ion-border-light-thicker: 2px solid #{$light};
  --border-dashed: 2px dashed $primary;
  // --- border-radiuses
  --ion-border-radius-small: 8px;
  --ion-border-radius-standard: 15px;
  --ion-border-radius-secondary: 20px;
  --ion-border-radius-rounded: 50%;

  // Title //
  --font-size-title-small-device: 20px;
  --font-size-title-tiny: 24px;
  --font-size-title-small: 26px;
  --font-size-title-medium: 30px;
  --font-size-title-large: 34px;
  --font-size-title-largest: 36px;

  // Subtitle //
  --font-size-subtitle-small-device: 17px;
  --font-size-subtitle-small: 18px;
  --font-size-subtitle-medium: 20px;
  --font-size-subtitle-large: 22px;

  // Text //
  --font-size-text-tiny: 14px;
  --font-size-text-small: 16px;
  --font-size-text-medium: 18px;
  --font-size-text-large: 20px;
  --line-height-text-tiny: 15px;
  --line-height-text-small: 20px;
  --line-height-text: 22px;
  --line-height-text-large: 22px;
  --line-height-text-largest: 25px;

  // Font Weight //
  --font-weight-standard: 400;
  --font-weight-bold: 700;

  // Text box //
  --text-box-font-size: 18px;

  // Components variables //
  --timer-title-size: 22px;

  --number-selector-short-font-size: 15px;
  --number-selector-normal-font-size: 20px;

  // Banner //
  --banner-short-height: 95px;
  --banner-short-image-width: 75px;

  // Number selector //
  --number-selector-title-max-width: 150px;
  --number-selector-category-max-width: 150px;
  --number-selector-short-min-height: 44px;
  --number-selector-mormal-min-height: 59px;

  // Video //
  --video-max-width: 600px;
  --video-subtitles-medium: 1.5em;

  // Dashed-box //
  --dashed-box-item-min-height: 60px;
  --dashed-box-icon-border: 0.7px solid #{$primary};

  // Checkbox //
  --checkbox-border-width: 2px;
  --checkbox-border-radius: 5px;
  --checkbox-border-size: 39px;
  --checkbox-label-max-width: 290px;

  // Text box //
  --text-box-height: 44px;

  // Home screen //
  --home-screen-height: 154px;
  --home-screen-height-small: 130px;

  // Audio //
  --audio-container-padding: 17px 14px 16px 20px;
  --audio-title-size: 22px;
  --audio-title-and-help-height: 30px;
  --audio-bar-height: 10px;
  --audio-play-img-width: 35px;
  --audio-controls-width: 240px;
  --audio-controls-img-width: 48px;

  // Slider //
  --slider-wrapper-min-height: 139px;
  --slider-title-max-width: 258px;
  --slider-labels-max-width: 275px;

  // Timer //
  --timer-counter-height: 73px;
  --timer-counter-font-size: 40px;
  --timer-title-width: 80%;
  --timer-buttons-color: #{color.adjust($primary, $hue: 1%, $saturation: 3%, $lightness: 25%)};

  // Combo box //
  --combo-box-placeholder-primary: rgba(13, 64, 96, 0.5);
  --combo-box-font-size-standard: 20px;
  --combo-box-min-height: 55px;
  --combo-box-min-width: 260px;
  --combo-box-active-no-answer-bg: var(--ion-color-primary-contrast);
  --combo-box-passive-no-answer-bg: transparent;
  --combo-box-no-answer-bg: transparent;
  --combo-box-with-answer-bg: transparent;

  --combo-box-gradient-active-start: #{color.adjust($tertiary, $lightness: -13%)};
  --combo-box-gradient-active-end: #{color.adjust($tertiary, $saturation: -3%, $lightness: -40%)};

  --combo-box-gradient-passive-start: #{color.adjust($quaternary, $saturation: 12%, $lightness: -8%)};
  --combo-box-gradient-passive-end: #{color.adjust($quaternary, $saturation: 12%, $lightness: -44%)};

  --combo-box-active-with-answer-bg: linear-gradient(
    #{$vertical},
    var(--combo-box-gradient-active-start) 34.6%,
    var(--combo-box-gradient-active-end) 105.68%
  );
  --combo-box-passive-with-answer-bg: linear-gradient(
    #{$vertical},
    var(--combo-box-gradient-passive-start) 34.6%,
    var(--combo-box-gradient-passive-end) 105.68%
  );

  // Points iten //
  --points-item-height: 152px;
  --points-item-width: 176px;

  //* Help icon **/
  --help-icon-standard-size: 35px;
  --help-icon-small-size: 30px;
  --help-icon-standard-color: $primary;
  --help-icon-alternative-color: $light;

  //TOOLS
  --tool-one-bg: #{color.adjust($secondary, $hue: -2%)}; // #FA8E29
  --tool-two-bg: #{color.adjust($secondary, $hue: -2%, $saturation: 5%, $lightness: -7%)}; // #FF7B00
  --tool-three-bg: #{color.adjust($primary, $hue: -8%, $saturation: 8%, $lightness: 17%)}; // #108AB2
  --tool-four-bg: #{color.adjust($primary, $hue: -8%, $saturation: 12%, $lightness: 8%)}; //#096A8B
  --tool-five-bg: var(--ion-color-primary);

  //BUTTONS
  --buttons-min-height: 71px;
  --buttons-short-height: 50px;
  --buttons-medium-height: 65px;
  --buttons-tall-height: 80px;
  --buttons-font-size-small: 20px;
  --buttons-font-size: 25px;
  --buttons-size: 64px;
  //primary-gradient
  --ion-btn-control-bg: #{color.adjust($primary, $hue: 1%, $saturation: 3%, $lightness: 25%)}; //#1989D4
  --ion-gradient-primary-start: #{color.adjust($primary, $lightness: 33%)}; //#309EE3
  --ion-gradient-primary-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; //#136E9C
  --ion-btn-primary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-start) 0.43%,
    var(--ion-gradient-primary-end) 74.07%
  );
  //secondary-gradient
  --ion-gradient-secondary-start: #{color.adjust($secondary, $saturation: 4%)}; //#FE8E27
  --ion-gradient-secondary-end: #{color.adjust($secondary, $saturation: 5%, $lightness: -19%)}; //#C35E00
  --ion-btn-secondary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-secondary-start) 28.12%,
    var(--ion-gradient-secondary-end) 100%
  );

  //OPTION BUTTONS
  --ion-gradient-primary-option-start: #{color.adjust($primary, $saturation: 8%, $lightness: 17%)}; //#0F8AB2
  --ion-gradient-primary-option-end: #{$primary};

  --ion-gradient-option-btn: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-option-start) 28.12%,
    var(--ion-gradient-primary-option-end) 100%
  );

  // Round button //
  --round-button-min-height: 58px;
  --round-button-width: 58px;
  --round-button-wrapper-height: 94px;
  --round-button-wrapper-width: 94px;
  --round-button-small-device-height: 70px;
  --round-button-small-device-width: 70px;
  --round-button-wrapper-small-device-height: 84px;
  --round-button-wrapper-small-device-width: 84px;
  --round-button-navigation-width: 50px;
  --round-button-navigation-min-height: 50px;
  --round-button-font-size: 12px;
  --round-button-home-screen-font-size: 11px;

  // Square button //
  --square-button-navigation-min-height: 50px;
  --square-button-min-width: 60px;

  //BANNER
  --ion-banner-gradient-secondary-start: #{color.adjust(
      $secondary,
      $hue: 17%,
      $saturation: 5%,
      $lightness: 14%
    )}; //#FFE16A
  --ion-banner-gradient-secondary-end: #{color.adjust(
      $secondary,
      $hue: 8%,
      $saturation: 5%,
      $lightness: 3%
    )}; //#FFB833

  --ion-banner-gradient-primary-start: #{color.adjust($primary, $saturation: 19%, $lightness: 64%)}; //#B3EDFD
  --ion-banner-gradient-primary-middle: #{color.adjust($primary, $saturation: 24%, $lightness: 48%)}; //#60DDFF
  --ion-banner-gradient-primary-end: #{color.adjust($primary, $saturation: 17%, $lightness: 26%)}; //#09B9E9

  --ion-banner-secondary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-secondary-start) 34.6%,
    var(--ion-banner-gradient-secondary-end) 105.68%
  );
  --ion-banner-primary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-primary-start) 34.6%,
    var(--ion-banner-gradient-primary-middle) 65.78%,
    var(--ion-banner-gradient-primary-end) 105.68%
  );
  //ACCORDION
  --accordion-section-padding: 0 10px;
  --accordion-section-open-height: 400px;
  --accordion-section-width: 85%;
  --ion-accordion-status-bg-start: #{color.adjust($primary, $lightness: 33%)}; //#309EE3
  --ion-accordion-status-bg-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; //#136E9C
  --ion-accrodion-status-gradient: linear-gradient(
    180deg,
    var(--ion-accordion-status-bg-start) 0%,
    var(--ion-accordion-status-bg-end) 100%
  );
  --ion-accordion-gradient-start: #{color.adjust($primary, $saturation: 14%, $lightness: 65%)};
  --ion-accordion-gradient-end: #{color.adjust($primary, $saturation: 14%, $lightness: 29%)};
  --ion-accordion-bg: linear-gradient(
    179.77deg,
    var(--ion-accordion-gradient-start) 34.6%,
    var(--ion-accordion-gradient-end) 105.68%
  );
  --ion-accordion-progress-gradient-primery-start: #{color.adjust(
      $primary,
      $hue: -9%,
      $saturation: 3%,
      $lightness: 11%
    )};
  --ion-accordion-progress-gradient-primery-end: var(--ion-color-primary);
  --ion-accordion-progress-primary-gradient: linear-gradient(
    #{$vertical},
    var(--ion-accordion-progress-gradient-primery-start-start) 28.12%,
    var(--ion-accordion-progress-gradient-primery-end-end) 100%
  );
  --ion-accordion-progress-gradient-secondary-start: #{color.adjust(
      $secondary,
      $hue: 17%,
      $saturation: -5%,
      $lightness: -6%
    )};
  --ion-accordion-progress-gradient-secondary-end: var(--ion-color-secondary);
  --ion-accordion-progress-secondary-gradient: linear-gradient(
    281.65deg,
    var(--ion-accordion-progress-gradient-secondary-start) 41.02%,
    var(--ion-accordion-progress-gradient-secondary-end) 102.14%
  );
  //HOME SCREEN
  --home-screen-light-gradient-start: #{color.adjust($primary, $saturation: 12%, $lightness: 62%)}; //#ABDEFE
  --home-screen-light-gradient-end: #{color.adjust($primary, $saturation: 12%, $lightness: 17%)}; //#0277C0
  --home-screen-shade-gradient-start: #{color.adjust($primary, $saturation: 17%, $lightness: 24%)}; //#088BDD
  --home-screen-shade-gradient-end: #{color.adjust($primary, $saturation: 17%, $lightness: 3%)}; //#044974
  --home-screen-dark-gradient-start: #{color.adjust($primary, $saturation: 16%, $lightness: 9%)}; //#065E95
  --home-screen-dark-gradient-end: #{color.adjust($primary, $saturation: 14%, $lightness: -9%)}; //#00263E
  --home-screen-light-bg: linear-gradient(
    to right,
    var(--home-screen-light-gradient-start),
    var(--home-screen-light-gradient-end)
  );
  --home-screen-shade-bg: linear-gradient(
    #{$horizontal},
    var(--home-screen-shade-gradient-start) 36%,
    var(--home-screen-shade-gradient-end) 111.65%
  );
  --home-screen-dark-bg: linear-gradient(
    #{$horizontal},
    var(--home-screen-dark-gradient-start) 20.92%,
    var(--home-screen-dark-gradient-end) 96.06%
  );
  //RADIO GROUP
  --radio-group-gradient-active-start: #{color.adjust($tertiary, $lightness: -13%)};
  --radio-group-gradient-active-end: #{color.adjust($tertiary, $saturation: -3%, $lightness: -40%)};

  --radio-group-gradient-passive-start: #{color.adjust(
      $quaternary,
      $saturation: 12%,
      $lightness: -8%
    )};
  --radio-group-gradient-passive-end: #{color.adjust(
      $quaternary,
      $saturation: 12%,
      $lightness: -44%
    )};

  --radio-group-gradient-secondary: linear-gradient(
    #{$vertical},
    var(--radio-group-gradient-active-start) 34.6%,
    var(--radio-group-gradient-active-end) 105.68%
  );
  --radio-group-gradient-primary: linear-gradient(
    #{$vertical},
    var(--radio-group-gradient-passive-start) 34.6%,
    var(--radio-group-gradient-passive-end) 105.68%
  );
  --radio-group-active-bg: var(--radio-group-gradient-secondary);
  --radio-group-passive-bg: var(--radio-group-gradient-primary);
  // ROUND ICON BUTTON
  --round-icon-button-light: #{color.adjust($tertiary, $lightness: -42%)}; //#FFCA41
  --round-icon-button: var(--ion-color-secondary); //#F49D04
  --round-icon-button-dark: #{color.adjust($secondary, $lightness: -7%)}; //#F87023

  // POINTS ITEM
  --points-item-bg: #{color.adjust($quaternary, $saturation: 12%, $lightness: -9%)}; //#B2E2FF

  // TILES
  --tile-default-height: 104px;
  --tile-button-height: 73px;
  --tile-button-width: 73px;
  --tile-workshop-page-height: 132px;
  --tile-workshop-page-width: 111px;
  --tile-workshop-page-button-height: 55px;
  --tile-workshop-page-button-width: 100%;
  --tile-parent-point-width: 200px;
  --tile-parent-point-height: 104px;
  --tile-image-text-width: 176px;
  --tile-button-style-height: 60px;

  --tile-button-background: #{color.adjust($primary, $saturation: 14%, $lightness: 60%)};

  --tile-primary-light-gradient-start: #{color.adjust(
      $quaternary,
      $saturation: 6%,
      $lightness: -15%
    )}; // #97d5fc
  --tile-primary-light-gradient-end: #{color.adjust($quaternary, $saturation: 12%, $lightness: -44%)}; // #009dff;
  --tile-primary-light-gradient: linear-gradient(
    179.77deg,
    var(--tile-primary-light-gradient-start) 34.6%,
    var(--tile-primary-light-gradient-end) 105.68%
  );

  --tile-primary-gradient-start: #{color.adjust($primary, $saturation: 17%, $lightness: 39%)}; // #3aaff8
  --tile-primary-gradient-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; // #13669a
  --tile-primary-gradient: linear-gradient(
    170.54deg,
    var(--tile-primary-gradient-start) 0.43%,
    var(--tile-primary-gradient-end) 74.07%
  );

  --tile-secondary-light-gradient-start: #{color.adjust(
      $tertiary,
      $saturation: -1%,
      $lightness: -27%
    )}; // #fed84d
  --tile-secondary-light-gradient-end: #{color.adjust($tertiary, $lightness: -47%)}; // #e6b400
  --tile-secondary-light-gradient: linear-gradient(
    168.87deg,
    var(--tile-secondary-light-gradient-start) 28.12%,
    var(--tile-secondary-light-gradient-end) 100%
  );
  --tile-secondary-gradient-start: #{color.adjust($secondary, $saturation: 4%)}; // #fe9525
  --tile-secondary-gradient-end: #{color.adjust($secondary, $saturation: 5%, $lightness: -19%)}; // #c26400
  --tile-secondary-gradient: linear-gradient(
    168.87deg,
    var(--tile-secondary-gradient-start) 28.12%,
    var(--tile-secondary-gradient-end) 100%
  );
  //PARENT CENTRE
  --parent-centre-primary-light-gradient-start: #{color.adjust(
      $quaternary,
      $saturation: 6%,
      $lightness: -15%
    )}; // #97d5fc
  --parent-centre-primary-light-gradient-end: #{color.adjust(
      $quaternary,
      $saturation: 12%,
      $lightness: -44%
    )}; // #009dff;
  --parent-centre-primary-light-gradient: linear-gradient(
    179.77deg,
    var(--parent-centre-primary-light-gradient-start) 34.6%,
    var(--parent-centre-primary-light-gradient-end) 105.68%
  );

  --parent-centre-primary-gradient-start: #{color.adjust(
      $primary,
      $saturation: 17%,
      $lightness: 39%
    )}; // #3aaff8
  --parent-centre-primary-gradient-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; // #13669a
  --parent-centre-primary-gradient: linear-gradient(
    170.54deg,
    var(--parent-centre-primary-gradient-start) 0.43%,
    var(--parent-centre-primary-gradient-end) 74.07%
  );

  --parent-centre-secondary-light-gradient-start: #{color.adjust(
      $tertiary,
      $saturation: -1%,
      $lightness: -27%
    )}; // #fed84d
  --parent-centre-secondary-light-gradient-end: #{color.adjust($tertiary, $lightness: -47%)}; // #e6b400
  --parent-centre-secondary-light-gradient: linear-gradient(
    168.87deg,
    var(--parent-centre-secondary-light-gradient-start) 28.12%,
    var(--parent-centre-secondary-light-gradient-end) 100%
  );

  --parent-centre-secondary-gradient-start: #{color.adjust($secondary, $saturation: 4%)}; // #fe9525
  --parent-centre-secondary-gradient-end: #{color.adjust(
      $secondary,
      $saturation: 5%,
      $lightness: -19%
    )}; // #c26400
  --parent-centre-secondary-gradient: linear-gradient(
    168.87deg,
    var(--parent-centre-secondary-gradient-start) 28.12%,
    var(--parent-centre-secondary-gradient-end) 100%
  );

  --ion-color-help-tooltip: #{color.adjust($primary, $hue: -8%, $saturation: 12%, $lightness: 9%)};
  --ion-color-slider: #{color.adjust($primary, $hue: -8%, $saturation: 12%, $lightness: 9%)};

  --ion-dg-bg-default: var(--ion-banner-primary);
  --ion-btn-dark-box-shadow: 0px 4px 4px #{$dark};

  --ion-color-primary: #{$primary};
  --ion-color-primary-light: #{$primary-light};
  --ion-color-primary-lighter: #{$primary-lighter};
  --ion-color-primary-rgb: 13, 64, 96;
  --ion-color-primary-contrast: #{$light};
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b3854;
  --ion-color-primary-tint: #255370;

  --ion-color-secondary: #{$secondary};
  --ion-color-secondary-light: #{$secondary-light};
  --ion-color-secondary-lighter: #{$secondary-lighter};
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d6bc5c;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-rgb: 243, 214, 104;
  --ion-color-secondary-tint: #f4da77;

  --ion-color-tertiary: #{$tertiary};
  --ion-color-tertiary-rgb: 0, 161, 205;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #008eb4;
  --ion-color-tertiary-tint: #1aaad2;

  --ion-color-quaternary: #{$quaternary};

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #{$dark};
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
