@use "sass:color";
@use "sass:map";
@use "./breakpoints";
@use "./themes/index" as themes;

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// https://sass-lang.com/documentation/breaking-changes/css-vars
// https://sass-lang.com/documentation/modules/color

@include themes.theme-default;
@include themes.theme-professional;
@include themes.theme-pfr;

/** Ionic CSS Variables **/
:root {
  // The total height of the central safe area of the device viewport
  --safe-area-height: calc(100vh - var(--ion-safe-area-top, 0) - var(--ion-safe-area-bottom, 0));

  // Margins //
  --tiny-margin: 5px;
  --small-margin: 10px;
  --regular-margin: 15px;
  --large-margin: 24px;
  --largest-margin: 30px;
  --huge-margin: 40px;

  // Paddings //
  --tiny-padding: 5px;
  --small-padding: 10px;
  --regular-padding: 15px;
  --large-padding: 25px;
  --largest-padding: 30px;
  --huge-padding: 40px;
  --main-container-padding: 0 var(--large-margin);

  // Default content should fit full width, but limit to desktop breakpoint width
  --content-max-width: 100vw;
  @include breakpoints.desktop {
    --content-max-width: #{map-get(breakpoints.$sizes, "desktop")};
  }

  // Header
  // Default value, overridden programmatically by header component
  --header-height: 56px;

  // Borders //
  // --- border-radiuses
  --ion-border-radius-small: 8px;
  --ion-border-radius-standard: 15px;
  --ion-border-radius-secondary: 20px;
  --ion-border-radius-rounded: 50%;

  // Title //
  --font-size-title-small-device: 20px;
  --font-size-title-tiny: 24px;
  --font-size-title-small: 26px;
  --font-size-title-medium: 30px;
  --font-size-title-large: 34px;
  --font-size-title-largest: 36px;

  // Subtitle //
  --font-size-subtitle-small-device: 17px;
  --font-size-subtitle-small: 18px;
  --font-size-subtitle-medium: 20px;
  --font-size-subtitle-large: 22px;

  // Text //
  --font-size-text-tiny: 14px;
  --font-size-text-small: 16px;
  --font-size-text-medium: 18px;
  --font-size-text-large: 20px;
  --line-height-text-tiny: 15px;
  --line-height-text-small: 20px;
  --line-height-text: 22px;
  --line-height-text-large: 22px;
  --line-height-text-largest: 25px;

  // Font Weight //
  --font-weight-standard: 400;
  --font-weight-bold: 700;

  // Text box //
  --text-box-font-size: 18px;

  // Components variables //
  --timer-title-size: 22px;

  --number-selector-short-font-size: 15px;
  --number-selector-normal-font-size: 20px;

  // Banner //
  --banner-short-height: 95px;
  --banner-short-image-width: 75px;

  // Number selector //
  --number-selector-title-max-width: 150px;
  --number-selector-category-max-width: 150px;
  --number-selector-short-min-height: 44px;
  --number-selector-mormal-min-height: 59px;

  // Video //
  --video-max-width: 600px;
  --video-subtitles-medium: 1.5em;

  // Dashed-box //
  --dashed-box-item-min-height: 60px;

  // Checkbox //
  --checkbox-border-width: 2px;
  --checkbox-border-radius: 5px;
  --checkbox-size: 39px;
  --checkbox-label-max-width: 290px;

  // Text box //
  --text-box-height: 44px;

  // Home screen //
  --home-screen-height: 154px;
  --home-screen-height-small: 130px;

  // Audio //
  --audio-container-padding: 17px 14px 16px 20px;
  --audio-title-size: 22px;
  --audio-title-and-help-height: 30px;
  --audio-bar-height: 10px;
  --audio-play-img-width: 35px;
  --audio-controls-width: 240px;
  --audio-controls-img-width: 48px;

  // Slider //
  --slider-wrapper-min-height: 139px;
  --slider-title-max-width: 258px;
  --slider-labels-max-width: 275px;

  // Timer //
  --timer-counter-height: 73px;
  --timer-counter-font-size: 40px;
  --timer-title-width: 80%;

  // Combo box //
  --combo-box-font-size-standard: 20px;
  --combo-box-min-height: 55px;
  --combo-box-min-width: 260px;

  // Points iten //
  --points-item-height: 152px;
  --points-item-width: 176px;

  //* Help icon **/
  --help-icon-standard-size: 35px;
  --help-icon-small-size: 30px;

  // Icons //
  --icon-size-tiny: 24px;
  --icon-size-small: 32px;
  --icon-size-medium: 40px;
  --icon-size-large: 48px;
  --icon-size-largest: 56px;

  //BUTTONS
  --buttons-min-height: 71px;
  --buttons-short-height: 50px;
  --buttons-medium-height: 65px;
  --buttons-tall-height: 80px;
  --buttons-font-size-tiny: 18px;
  --buttons-font-size-small: 20px;
  --buttons-font-size: 25px;
  --buttons-size: 64px;

  // Round button //
  --round-button-min-height: 58px;
  --round-button-width: 58px;
  --round-button-wrapper-height: 94px;
  --round-button-wrapper-width: 94px;
  --round-button-small-device-height: 70px;
  --round-button-small-device-width: 70px;
  --round-button-wrapper-small-device-height: 84px;
  --round-button-wrapper-small-device-width: 84px;
  --round-button-navigation-width: 50px;
  --round-button-navigation-min-height: 50px;
  --round-button-font-size: 12px;
  --round-button-home-screen-font-size: 11px;

  // Square button //
  --square-button-navigation-min-height: 50px;
  --square-button-min-width: 60px;

  //ACCORDION
  --accordion-section-padding: 0 10px;
  --accordion-section-open-height: 400px;
  --accordion-section-width: 85%;

  // TILES
  --tile-default-height: 104px;
  --tile-button-height: 73px;
  --tile-button-width: 73px;
  --tile-workshop-page-height: 132px;
  --tile-workshop-page-width: 111px;
  --tile-workshop-page-button-height: 55px;
  --tile-workshop-page-button-width: 100%;
  --tile-parent-point-width: 200px;
  --tile-parent-point-height: 104px;
  --tile-image-text-width: 176px;
  --tile-button-style-height: 60px;

  --drawer-handle-height: 42px;
  // Odd number, but means that the icons inside will be 32px high (without text)
  --navigation-bar-height: 67px;
}
