@use "sass:color";
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// https://sass-lang.com/documentation/breaking-changes/css-vars
// https://sass-lang.com/documentation/modules/color

// WiP - system to generate colours from base colour
$primary: hsl(203, 76%, 21%);
$primary-light: color.change($primary, $lightness: 80%);
$primary-lighter: color.change($primary, $lightness: 95%);

$secondary: hsl(31, 95%, 57%);
$secondary-light: color.change($secondary, $lightness: 80%);
$secondary-lighter: color.change($secondary, $lightness: 95%);

$tertiary: hsl(47, 100%, 92%);
$quaternary: hsl(204, 88%, 94%);
$light: #ffffff;
$dark: #00000040;
$worning: hsl(10, 81%, 49%);

/** Borders **/
$border-dashed: 2px dashed $primary;
$border-radius-standard: 15px;
$border-radius-secondary: 20px;

/** Gradient direction **/
$vertical: 180deg;
$horizontal: 90deg;

/** Ionic CSS Variables **/
:root {
  --main-container-padding: 0 var(--large-margin);
  --regular-padding: 5px;
  --large-padding: 10px;
  --largest-padding: 15px;
  --huge-padding: 40px;
  --tiny-margin: 5px;
  --small-margin: 10px;
  --regular-margin: 15px;
  --large-margin: 24px;
  --largest-margin: 30px;
  --huge-margin: 40px;
  --ion-main-bg-passive: #{$quaternary};
  --ion-main-bg-active: #{$tertiary};
  --ion-border-standard: 2px solid #{$primary};
  --border-dashed: #{$border-dashed};
  --ion-border-color-secondary: 2px solid #{$secondary};
  --ion-default-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --ion-border-radius-standard: #{$border-radius-standard};
  --ion-border-radius-secondary: #{$border-radius-secondary};
  --ion-border-radius-rounded: 50%;
  --banner-short-height: 95px;
  --home-screen-height: 154px;
  --home-screen-height-small: 130px;
  --text-box-font-size: 18px;

  --p-margin-standard: 0.75em;

  --line-height-text: 22px;

  /** Title **/
  --font-size-title-small-device: 20px;
  --font-size-title-tiny: 24px;
  --font-size-title-small: 26px;
  --font-size-title-medium: 30px;
  --font-size-title-large: 34px;
  --font-size-title-largest: 36px;

  /** Subtitle **/
  --font-size-subtitle-small-device: 17px;
  --font-size-subtitle-small: 18px;
  --font-size-subtitle-medium: 20px;
  --font-size-subtitle-large: 22px;

  /** Text **/
  --font-size-text-tiny: 14px;
  --font-size-text-small: 16px;
  --font-size-text-medium: 18px;
  --font-size-text-large: 20px;

  /** Font Weight **/
  --font-weight-standard: 500;
  --font-weight-bold: 700;

  /** Line Height **/
  --line-height-text: 22px;

  // Components variables //
  --audio-title-size: 22px;
  --timer-title-size: 22px;

  --number-selector-short-font-size: 15px;
  --number-selector-normal-font-size: 20px;
  // combo box
  --combo-box-placeholder-primary: rgba(13, 64, 96, 0.5);
  --combo-box-font-size-standard: 20px;
  --combo-box-active-no-answer-bg: var(--ion-color-primary-contrast);
  --combo-box-passive-no-answer-bg: transparent;
  --combo-box-no-answer-bg: transparent;
  --combo-box-with-answer-bg: transparent;

  --combo-box-gradient-active-start: #{color.adjust($tertiary, $lightness: -13%)};
  --combo-box-gradient-active-end: #{color.adjust($tertiary, $saturation: -3%, $lightness: -40%)};

  --combo-box-gradient-passive-start: #{color.adjust($quaternary, $saturation: 12%, $lightness: -8%)};
  --combo-box-gradient-passive-end: #{color.adjust($quaternary, $saturation: 12%, $lightness: -44%)};

  --combo-box-active-with-answer-bg: linear-gradient(
    #{$vertical},
    var(--combo-box-gradient-active-start) 34.6%,
    var(--combo-box-gradient-active-end) 105.68%
  );
  --combo-box-passive-with-answer-bg: linear-gradient(
    #{$vertical},
    var(--combo-box-gradient-passive-start) 34.6%,
    var(--combo-box-gradient-passive-end) 105.68%
  );

  //* Help icon **/
  --help-icon-standard-size: 35px;
  --help-icon-small-size: 30px;
  --help-icon-standard-color: $primary;
  --help-icon-alternative-color: $light;
  //TOOLS
  --tool-one-bg: #{color.adjust($secondary, $hue: -2)}; // #FA8E29
  --tool-two-bg: #{color.adjust($secondary, $hue: -2, $saturation: 5%, $lightness: -7%)}; // #FF7B00
  --tool-three-bg: #{color.adjust($primary, $hue: -8, $saturation: 8%, $lightness: 17%)}; // #108AB2
  --tool-four-bg: #{color.adjust($primary, $hue: -8, $saturation: 12%, $lightness: 8%)}; //#096A8B
  --tool-five-bg: var(--ion-color-primary);
  //BUTTONS
  --ion-btn-control-bg: #{color.adjust($primary, $saturation: -3%, $lightness: 31%)}; //#2B99DE
  --ion-btn-tmpl-components-size: 64px;
  --ion-gradient-primary-start: #{color.adjust($primary, $lightness: 33%)}; //#309EE3
  --ion-gradient-primary-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; //#136E9C
  --ion-gradient-secondary-start: #{color.adjust($secondary, $saturation: 4%)}; //#FE8E27
  --ion-gradient-secondary-end: #{color.adjust($secondary, $saturation: 5%, $lightness: -19%)}; //#C35E00
  --ion-btn-primary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-start) 0.43%,
    var(--ion-gradient-primary-end) 74.07%
  );
  --ion-btn-secondary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-secondary-start) 28.12%,
    var(--ion-gradient-secondary-end) 100%
  );

  //OPTION BUTTONS
  --ion-gradient-primary-option-start: #{color.adjust($primary, $saturation: 8%, $lightness: 17%)}; //#0F8AB2
  --ion-gradient-primary-option-end: #{$primary};

  --ion-gradient-option-btn: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-option-start) 28.12%,
    var(--ion-gradient-primary-option-end) 100%
  );

  //BANNER
  --ion-banner-gradient-secondary-start: #{color.adjust(
      $secondary,
      $hue: 17,
      $saturation: 5%,
      $lightness: 14%
    )}; //#FFE16A
  --ion-banner-gradient-secondary-end: #{color.adjust(
      $secondary,
      $hue: 8,
      $saturation: 5%,
      $lightness: 3%
    )}; //#FFB833

  --ion-banner-gradient-primary-start: #{color.adjust($primary, $saturation: 19%, $lightness: 64%)}; //#B3EDFD
  --ion-banner-gradient-primary-middle: #{color.adjust($primary, $saturation: 24%, $lightness: 48%)}; //#60DDFF
  --ion-banner-gradient-primary-end: #{color.adjust($primary, $saturation: 17%, $lightness: 26%)}; //#09B9E9

  --ion-banner-secondary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-secondary-start) 34.6%,
    var(--ion-banner-gradient-secondary-end) 105.68%
  );
  --ion-banner-primary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-primary-start) 34.6%,
    var(--ion-banner-gradient-primary-middle) 65.78%,
    var(--ion-banner-gradient-primary-end) 105.68%
  );
  //ACCORDION
  --accordion-section-padding: var(--large-padding) 0 var(--large-padding) 0;
  --ion-accordion-status-bg-start: #{color.adjust($primary, $lightness: 33%)}; //#309EE3
  --ion-accordion-status-bg-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; //#136E9C
  --ion-accrodion-status-gradient: linear-gradient(
    180deg,
    var(--ion-accordion-status-bg-start) 0%,
    var(--ion-accordion-status-bg-end) 100%
  );
  --ion-accordion-gradient-start: #{color.adjust($primary, $saturation: 14%, $lightness: 65%)};
  --ion-accordion-gradient-end: #{color.adjust($primary, $saturation: 14%, $lightness: 29%)};
  --ion-accordion-bg: linear-gradient(
    179.77deg,
    var(--ion-accordion-gradient-start) 34.6%,
    var(--ion-accordion-gradient-end) 105.68%
  );
  --ion-accordion-progress-gradient-primery-start: #{color.adjust(
      $primary,
      $hue: -9,
      $saturation: 3%,
      $lightness: 11%
    )};
  --ion-accordion-progress-gradient-primery-end: var(--ion-color-primary);
  --ion-accordion-progress-primary-gradient: linear-gradient(
    #{$vertical},
    var(--ion-accordion-progress-gradient-primery-start-start) 28.12%,
    var(--ion-accordion-progress-gradient-primery-end-end) 100%
  );
  --ion-accordion-progress-gradient-secondary-start: #{color.adjust(
      $secondary,
      $hue: 17,
      $saturation: -5%,
      $lightness: -6%
    )};
  --ion-accordion-progress-gradient-secondary-end: var(--ion-color-secondary);
  --ion-accordion-progress-secondary-gradient: linear-gradient(
    281.65deg,
    var(--ion-accordion-progress-gradient-secondary-start) 41.02%,
    var(--ion-accordion-progress-gradient-secondary-end) 102.14%
  );
  //HOME SCREEN
  --home-screen-light-gradient-start: #{color.adjust($primary, $saturation: 12%, $lightness: 62%)}; //#ABDEFE
  --home-screen-light-gradient-end: #{color.adjust($primary, $saturation: 12%, $lightness: 17%)}; //#0277C0
  --home-screen-shade-gradient-start: #{color.adjust($primary, $saturation: 17%, $lightness: 24%)}; //#088BDD
  --home-screen-shade-gradient-end: #{color.adjust($primary, $saturation: 17%, $lightness: 3%)}; //#044974
  --home-screen-dark-gradient-start: #{color.adjust($primary, $saturation: 16%, $lightness: 9%)}; //#065E95
  --home-screen-dark-gradient-end: #{color.adjust($primary, $saturation: 14%, $lightness: -9%)}; //#00263E
  --home-screen-light-bg: linear-gradient(
    to right,
    var(--home-screen-light-gradient-start),
    var(--home-screen-light-gradient-end)
  );
  --home-screen-shade-bg: linear-gradient(
    #{$horizontal},
    var(--home-screen-shade-gradient-start) 36%,
    var(--home-screen-shade-gradient-end) 111.65%
  );
  --home-screen-dark-bg: linear-gradient(
    #{$horizontal},
    var(--home-screen-dark-gradient-start) 20.92%,
    var(--home-screen-dark-gradient-end) 96.06%
  );
  //RADIO GROUP
  --radio-group-gradient-active-start: #{color.adjust($tertiary, $lightness: -13%)};
  --radio-group-gradient-active-end: #{color.adjust($tertiary, $saturation: -3%, $lightness: -40%)};

  --radio-group-gradient-passive-start: #{color.adjust(
      $quaternary,
      $saturation: 12%,
      $lightness: -8%
    )};
  --radio-group-gradient-passive-end: #{color.adjust(
      $quaternary,
      $saturation: 12%,
      $lightness: -44%
    )};

  --radio-group-gradient-secondary: linear-gradient(
    #{$vertical},
    var(--radio-group-gradient-active-start) 34.6%,
    var(--radio-group-gradient-active-end) 105.68%
  );
  --radio-group-gradient-primary: linear-gradient(
    #{$vertical},
    var(--radio-group-gradient-passive-start) 34.6%,
    var(--radio-group-gradient-passive-end) 105.68%
  );
  --radio-group-active-bg: var(--radio-group-gradient-secondary);
  --radio-group-passive-bg: var(--radio-group-gradient-primary);
  // ROUND ICON BUTTON
  --round-icon-button-light: #{color.adjust($tertiary, $lightness: -42%)}; //#FFCA41
  --round-icon-button: var(--ion-color-secondary); //#F49D04
  --round-icon-button-dark: #{color.adjust($secondary, $lightness: -7%)}; //#F87023

  // POINTS ITEM
  --points-item-bg: #{color.adjust($quaternary, $saturation: 12%, $lightness: -9%)}; //#B2E2FF

  // TILES
  --tile-primary-light-gradient-start: #{color.adjust(
      $quaternary,
      $saturation: 6%,
      $lightness: -15%
    )}; // #97d5fc
  --tile-primary-light-gradient-end: #{color.adjust($quaternary, $saturation: 12%, $lightness: -44%)}; // #009dff;
  --tile-primary-light-gradient: linear-gradient(
    179.77deg,
    var(--tile-primary-light-gradient-start) 34.6%,
    var(--tile-primary-light-gradient-end) 105.68%
  );

  --tile-primary-gradient-start: #{color.adjust($primary, $saturation: 17%, $lightness: 39%)}; // #3aaff8
  --tile-primary-gradient-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)}; // #13669a
  --tile-primary-gradient: linear-gradient(
    170.54deg,
    var(--tile-primary-gradient-start) 0.43%,
    var(--tile-primary-gradient-end) 74.07%
  );

  --tile-secondary-light-gradient-start: #{color.adjust(
      $tertiary,
      $saturation: -1%,
      $lightness: -27%
    )}; // #fed84d
  --tile-secondary-light-gradient-end: #{color.adjust($tertiary, $lightness: -47%)}; // #e6b400
  --tile-secondary-light-gradient: linear-gradient(
    168.87deg,
    var(--tile-secondary-light-gradient-start) 28.12%,
    var(--tile-secondary-light-gradient-end) 100%
  );

  --tile-secondary-gradient-start: #{color.adjust($secondary, $saturation: 4%)}; // #fe9525
  --tile-secondary-gradient-end: #{color.adjust($secondary, $saturation: 5%, $lightness: -19%)}; // #c26400
  --tile-secondary-gradient: linear-gradient(
    168.87deg,
    var(--tile-secondary-gradient-start) 28.12%,
    var(--tile-secondary-gradient-end) 100%
  );

  --ion-color-help-tooltip: #{color.adjust($primary, $hue: -8, $saturation: 12%, $lightness: 9%)};
  --ion-color-slider: #{color.adjust($primary, $hue: -8, $saturation: 12%, $lightness: 9%)};

  --ion-dg-bg-default: var(--ion-banner-primary);
  --ion-btn-dark-box-shadow: 0px 4px 4px #{$dark};

  --ion-color-primary: #{$primary};
  --ion-color-primary-light: #{$primary-light};
  --ion-color-primary-lighter: #{$primary-lighter};
  --ion-color-primary-rgb: 13, 64, 96;
  --ion-color-primary-contrast: #{$light};
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b3854;
  --ion-color-primary-tint: #255370;

  --ion-color-secondary: #{$secondary};
  --ion-color-secondary-light: #{$secondary-light};
  --ion-color-secondary-lighter: #{$secondary-lighter};
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d6bc5c;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-rgb: 243, 214, 104;
  --ion-color-secondary-tint: #f4da77;

  --ion-color-tertiary: #{$tertiary};
  --ion-color-tertiary-rgb: 0, 161, 205;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #008eb4;
  --ion-color-tertiary-tint: #1aaad2;

  --ion-color-quaternary: #{$quaternary};

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #{$dark};
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #0d4060;
    --ion-color-primary-rgb: 13, 64, 96;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0b3854;
    --ion-color-primary-tint: #255370;

    --ion-color-secondary: #f3d668;
    --ion-color-secondary-rgb: 243, 214, 104;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d6bc5c;
    --ion-color-secondary-tint: #f4da77;

    --ion-color-tertiary: #00a1cd;
    --ion-color-tertiary-rgb: 0, 161, 205;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #008eb4;
    --ion-color-tertiary-tint: #1aaad2;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}
