@use "sass:color";
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// https://sass-lang.com/documentation/breaking-changes/css-vars
// https://sass-lang.com/documentation/modules/color

// WiP - system to generate colours from base colour
$primary: hsl(203, 76%, 21%);
$primary-light: color.change($primary, $lightness: 80%);
$primary-lighter: color.change($primary, $lightness: 95%);

$secondary: hsl(31, 95%, 57%);
$secondary-light: color.change($secondary, $lightness: 80%);
$secondary-lighter: color.change($secondary, $lightness: 95%);

$tertiary: #fff6d6;
$some: #e1f2fd;
$light: #ffffff;
$dark: #00000040;

/** Title **/
$font-size-title-medium: 22px;
$font-size-title-large: 26px;
$font-size-title-largest: 30px;

/** Subtitle **/
$font-size-subtitle-small: 20px;
$font-size-subtitle-medium: 24px;
$font-size-subtitle-large: 28px;

/** Text **/
$font-size-text-tiny: 14px;
$font-size-text-small: 16px;
$font-size-text-medium: 18px;
$font-size-text-large: 20px;

/** Font Weight **/
$font-weight-standart: 500;
$font-weight-bold: 700;

/** Line Height **/
$line-height-text: 22px;

/** Borders **/
$border-standard: 2px solid $primary;
$border-dashed: 2px dashed $primary;
$border-radius-standard: 15px;

/** Gradient direction **/
$vertical: 180deg;
$horizontal: 90deg;

/** Ionic CSS Variables **/
:root {
  --regular-padding: 5px;
  --large-padding: 10px;
  --ion-main-bg-passive: #{$some};
  --ion-main-bg-active: #{$tertiary};
  //buttons
  --ion-gradient-primary-start: #{color.adjust($primary, $lightness: 33%)};
  --ion-gradient-primary-end: #{color.adjust($primary, $saturation: 2%, $lightness: 13%)};

  --ion-gradient-secondary-start: #{color.adjust($secondary, $saturation: 4%)};
  --ion-gradient-secondary-end: #{color.adjust($secondary, $saturation: 5%, $lightness: -19%)};

  --ion-btn-primary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-start) 0.43%,
    var(--ion-gradient-primary-end) 74.07%
  );

  --ion-btn-secondary: linear-gradient(
    #{$vertical},
    var(--ion-gradient-secondary-start) 28.12%,
    var(--ion-gradient-secondary-end) 100%
  );

  // options buttons
  $primary: hsl(203, 76%, 21%);
  --ion-gradient-primary-option-start: #{color.adjust($primary, $saturation: 8%, $lightness: 17%)};
  --ion-gradient-primary-option-end: #{$primary};

  --ion-gradient-option-btn: linear-gradient(
    #{$vertical},
    var(--ion-gradient-primary-option-start) 28.12%,
    var(--ion-gradient-primary-option-end) 100%
  );

  // banner
  $secondary: hsl(31, 95%, 57%);
  --ion-banner-gradient-secondary-start: #{color.adjust(
      $secondary,
      $saturation: 5%,
      $lightness: 14%
    )};
  --ion-banner-gradient-secondary-end: #{color.adjust($secondary, $saturation: 5%, $lightness: 3%)};

  --ion-banner-gradient-primary-start: #{color.adjust($secondary, $saturation: 19%, $lightness: 64%)};
  --ion-banner-gradient-primary-middle: #{color.adjust(
      $secondary,
      $saturation: 24%,
      $lightness: 48%
    )};
  --ion-banner-gradient-primary-end: #{color.adjust($secondary, $saturation: 17%, $lightness: 26%)};

  --ion-banner-secondary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-secondary-start) 34.6%,
    var(--ion-banner-gradient-secondary-end) 105.68%
  );
  --ion-banner-primary: linear-gradient(
    #{$vertical},
    var(--ion-banner-gradient-primary-start) 34.6%,
    var(--ion-banner-gradient-primary-middle) 65.78%,
    var(--ion-banner-gradient-primary-end) 105.68%
  );

  --ion-dg-bg-default: transparent;
  --ion-btn-dark-box-shadow: 0px 4px 4px #{$dark};

  --ion-background-passive: #{some};
  --ion-background-active: #{some};

  --ion-color-primary: #{$primary};
  --ion-color-primary-light: #{$primary-light};
  --ion-color-primary-lighter: #{$primary-lighter};
  --ion-color-primary-rgb: 13, 64, 96;
  --ion-color-primary-contrast: #{$light};
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b3854;
  --ion-color-primary-tint: #255370;

  --ion-color-secondary: #{$secondary};
  --ion-color-primary-light: #{$secondary-light};
  --ion-color-primary-lighter: #{$secondary-lighter};
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d6bc5c;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-rgb: 243, 214, 104;
  --ion-color-secondary-tint: #f4da77;

  --ion-color-tertiary: #00a1cd;
  --ion-color-tertiary-rgb: 0, 161, 205;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #008eb4;
  --ion-color-tertiary-tint: #1aaad2;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #0d4060;
    --ion-color-primary-rgb: 13, 64, 96;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0b3854;
    --ion-color-primary-tint: #255370;

    --ion-color-secondary: #f3d668;
    --ion-color-secondary-rgb: 243, 214, 104;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #d6bc5c;
    --ion-color-secondary-tint: #f4da77;

    --ion-color-tertiary: #00a1cd;
    --ion-color-tertiary-rgb: 0, 161, 205;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #008eb4;
    --ion-color-tertiary-tint: #1aaad2;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}
