<ion-header>
  <ion-toolbar>
    <ion-title>Theme Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Theme to Edit</ion-label>
    <ion-select [value]="currentTheme.name" okText="Okay" cancelText="Dismiss"
      (ionChange)="selectThemeName($event.detail.value)">
      <ion-select-option *ngFor="let theme of editableThemes" value="{{theme.name}}">{{theme.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-list-header class="colors-header">
      Colors
    </ion-list-header>
    <ion-item *ngFor="let color of colors">
      <div class="color-summary" (click)="toggleExpanded(color)">
        <ion-label>{{color.name}}</ion-label>
        <div class="color-circle light" [ngStyle]="{'background-color': color.lightValue}"></div>
        <div class="color-circle dark" [ngStyle]="{'background-color': color.darkValue}"></div>
      </div>
      <div class="color-pickers" *ngIf="color.expanded">
        <div class="color-picker">
          <ion-label>Select Light Color</ion-label>
          <color-sketch [color]="color.lightValue"
            (onChangeComplete)="changeColorComplete($event, color, true)"></color-sketch>
        </div>
        <div class="color-picker">
          <ion-label>Select Dark Color</ion-label>
          <color-sketch [color]="color.darkValue"
            (onChangeComplete)="changeColorComplete($event, color, false)"></color-sketch>
        </div>
      </div>
    </ion-item>
    <ion-list-header class="colors-header">
      Other Variables
    </ion-list-header>
    <ion-item *ngFor="let varName of keys(currentTheme.booleans)">
      <ion-label>{{varName}}</ion-label>
      <ion-toggle [(ngModel)]="currentTheme.booleans[varName]" (ngModelChange)="toggleBoolean(varName)"></ion-toggle>
    </ion-item>
    <ion-button (click)="downloadClicked()" [href]="jsonDataURL" [download]="currentTheme.name.replace(' ', '_') + '.json'">Download Theme JSON</ion-button>

  </ion-list>


</ion-content>