<div class="container">
  <h3>Welcome, lets start!</h3>
  <div class="menu-button my-journey" (click)="goToPage('/chat?character=egg')">
    <span>My Journey</span>
    <img src="assets/images/home/my_journey1.svg" />
  </div>
  <div class="menu-button toolbox" (click)="goToPage('/toolbox')">
    <span>Toolbox</span>
    <img src="assets/images/home/toolbox_icon1.svg" />
  </div>
  <div class="menu-button help-me-now" (click)="goToPage('/take-a-pause')">
    <span>Help Me Now</span>
    <img src="assets/images/home/help_icon1.svg" />
  </div>
  <div class="menu-button my-parenting-moments" (click)="goToPage('/gallery')">
    <span>My Parenting Moments</span>
    <img src="assets/images/home/my_parenting_moments_icon1.svg" />
  </div>
  <div class="menu-button my-plans" (click)="goToPage('/goals')">
    <span>My Plans</span>
    <img src="assets/images/home/my_plans_icon1.svg" />
  </div>
</div>
