.container {
    position: absolute;
    background-color: #F2D750;;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.menu-button {
    width: 100%;
    height: 80px;
    border-radius: 16px;
    background-color: #F8AF00;
    margin: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 6px 0px;

    &:nth-of-type(1) {
        background-color: #29A327;
    }

    &:nth-of-type(2) {
        background-color: #5550A9;
    }

    &:nth-of-type(3) {
        background-color: #5FC4D2;
    }

    &:nth-of-type(4) {
        background-color: #dc8900;
    }

    &:nth-of-type(5) {
        background-color: #E81C51;
    }
}

@media only screen and (max-width: 440px) {
    .menu-button {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}