<div class="container">
  <div class="menu-button chat" (click)="goToPage('/chat?character=egg')">Chat</div>
  <div class="menu-button toolbox" (click)="goToPage('/toolbox')">Toolbox</div>
  <div class="menu-button activities" (click)="goToPage('/activities')">Activities</div>
  <div class="menu-button gallery" (click)="goToPage('/gallery')">Gallery</div>
  <div class="menu-button reminders" (click)="goToPage('/goals')">Goals</div>
  <div class="menu-button guide" (click)="goToPage('/chat?character=guide')">Guide</div>
</div>
