<ion-content class="ion-padding">
  <h2>Feedback</h2>
  <!-- Feedback Tools -->
  <plh-feedback-toolbar></plh-feedback-toolbar>
  <hr class="spacer" />
  <!-- Feedback Template (not currently in use)-->
  <!-- <plh-template-container templatename="feature_feedback_debug"></plh-template-container> -->

  <p>
    <b>Instructions</b><br /><br />
    Highlight any text to suggest changes, or right click to provide general feedback on a page
  </p>
  <hr class="spacer" />
  <!-- Feedback DB -->
  <div style="display: flex">
    <h3 style="flex: 1">Database Pending ({{feedbackPending.length}})</h3>
    <ion-button (click)="syncFeedback()">Sync</ion-button>
  </div>
  <ion-card *ngFor="let feedback of feedbackPending" style="padding: 1em">
    <ng-container
      [ngTemplateOutlet]="feedbackItem"
      [ngTemplateOutletContext]="{feedback}"
    ></ng-container>
  </ion-card>

  <h3>Database Sent ({{feedbackSent.length}})</h3>
  <ion-card *ngFor="let feedback of feedbackSent" style="padding: 1em">
    <ng-container
      [ngTemplateOutlet]="feedbackItem"
      [ngTemplateOutletContext]="{feedback}"
    ></ng-container
  ></ion-card>

  <!-- Shorthand method to create reusable feedback item template insted of component -->
  <ng-template #feedbackItem let-feedback="feedback">
    <div style="flex: 1">{{feedback.user_feedback}}</div>
    <div style="font-size: small">{{feedback._created}}</div>
    <div *ngIf="feedback.additional" style="flex: 1; margin-top: 1em">
      {{feedback.additional | json}}
    </div>
    <div style="display: flex">
      <ion-button
        fill="clear"
        size="small"
        style="margin-left: auto"
        (click)="logFeedback(feedback)"
        >Log</ion-button
      >
      <ion-button fill="clear" size="small" (click)="deleteFeedback(feedback)">Delete</ion-button>
    </div>
  </ng-template>
</ion-content>
