<ion-content class="ion-padding">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Feedback</h2>
    <ion-item class="clear">
      <ion-label>Review Mode</ion-label>
      <ion-toggle
        [checked]="feedbackService.isReviewingMode$ | async"
        (ionChange)="feedbackService.toggleReviewMode()"
      ></ion-toggle>
    </ion-item>
  </div>

  <div class="comments">
    <h2>Existing comments about this screen</h2>
    <p>no comments submitted yet</p>
  </div>
</ion-content>
