<ion-content class="ion-padding">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Feedback</h2>
    <ion-item class="clear">
      <ion-label>Enabled</ion-label>
      <ion-toggle
        #toggle
        [checked]="feedbackService.isReviewingMode$ | async"
        (ionChange)="feedbackService.setReviewMode(toggle.checked)"
      ></ion-toggle>
    </ion-item>
  </div>
  <hr class="spacer" />

  <plh-template-container templatename="feature_feedback_debug"></plh-template-container>
  <hr class="spacer" />
  <div style="display: flex">
    <h3 style="flex: 1">Database Pending ({{feedbackPending.length}})</h3>
    <ion-button (click)="syncFeedback()">Sync</ion-button>
  </div>
  <ion-card *ngFor="let feedback of feedbackPending" style="padding: 1em">
    <ng-container
      [ngTemplateOutlet]="feedbackItem"
      [ngTemplateOutletContext]="{feedback}"
    ></ng-container>
  </ion-card>

  <h3>Database Sent ({{feedbackSent.length}})</h3>
  <ion-card *ngFor="let feedback of feedbackSent">
    <ng-container
      [ngTemplateOutlet]="feedbackItem"
      [ngTemplateOutletContext]="{feedback}"
    ></ng-container
  ></ion-card>

  <!-- Shorthand method to create reusable feedback item template insted of component -->
  <ng-template #feedbackItem let-feedback="feedback">
    <div style="flex: 1">{{feedback.user_feedback}}</div>
    <div style="font-size: small">{{feedback._created}}</div>
    <div style="display: flex">
      <div *ngIf="feedback.additional" style="flex: 1; margin-top: 1em">
        {{feedback.additional | json}}
      </div>
      <ion-button
        fill="clear"
        size="small"
        style="margin-left: auto"
        (click)="logFeedback(feedback)"
        >Log</ion-button
      >
    </div>
  </ng-template>
</ion-content>
