<ion-content class="ion-padding">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Campaign Debug</h2>
    <ion-button
      fill="outline"
      [routerLink]="['/','notifications']"
      [disabled]="localNotificationService.pendingNotifications.length===0"
    >
      <ion-icon name="notifications" slot="start"></ion-icon>
      <span>{{localNotificationService.pendingNotifications.length}}</span>
    </ion-button>
  </div>
  <ion-item>
    <ion-label>Campaign</ion-label>
    <ion-select
      #campaignSelect
      (ionChange)="setDebugCampaign(campaignSelect.value)"
      [value]="debugCampaignId"
    >
      <ion-select-option
        *ngFor="let campaign_id of campaignService.campaigns | objectKeys | arraySort"
      >
        <span>{{campaign_id}}</span>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <h4 *ngIf="debugCampaignId">Rows</h4>
  <ion-list *ngIf="debugCampaignRows">
    <ion-list-header class="list-header activated">Activated</ion-list-header>
    <campaign-debug-row
      *ngFor="let row of debugCampaignRows.activated"
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (triggerActionsClicked)="triggerRowActions($event)"
      (scheduleNotificationClicked)="scheduleNotification($event)"
    ></campaign-debug-row>
    <ion-list-header class="list-header pending">Pending</ion-list-header>
    <campaign-debug-row
      *ngFor="let row of debugCampaignRows.pending"
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (triggerActionsClicked)="triggerRowActions($event)"
      (scheduleNotificationClicked)="scheduleNotification($event)"
    ></campaign-debug-row>
    <ion-list-header class="list-header deactivated">Deactivated</ion-list-header>
    <campaign-debug-row
      *ngFor="let row of debugCampaignRows.deactivated"
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (triggerActionsClicked)="triggerRowActions($event)"
      (scheduleNotificationClicked)="scheduleNotification($event)"
    ></campaign-debug-row>
  </ion-list>
</ion-content>
