<ion-content class="ion-padding">
  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">Campaign Debug</h2>
    <ion-button
      fill="outline"
      [routerLink]="['/','campaigns','notifications']"
      [disabled]="localNotificationService.notificationsList.length===0"
    >
      <ion-icon name="notifications" slot="start"></ion-icon>
      <span>{{localNotificationService.notificationsList.length}}</span>
    </ion-button>
  </div>

  <ion-item>
    <ion-label>Campaign</ion-label>
    <ion-select
      #campaignSelect
      (ionChange)="setDebugCampaign(campaignSelect.value)"
      [value]="debugCampaignId"
    >
      <ion-select-option *ngFor="let campaign_id of campaignService.campaigns | objectKeys">
        <span>{{campaign_id}}</span>
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>First Launch</ion-label>
    <ion-datetime
      #firstLaunch
      (ionChange)="setDebugFirstLaunch(firstLaunch.value)"
      [value]="debugData.first_app_launch"
    ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>App Day</ion-label>
    <ion-input
      #appDay
      type="number"
      [value]="debugData.app_day"
      style="text-align: right"
      (ionChange)="setDebugAppDay(appDay.value)"
    ></ion-input>
  </ion-item>

  <ion-card *ngFor="let row of debugCampaignRows">
    <ion-card-header class="row-header" [attr.data-active]="row._active">
      <span>{{ row.id }}</span>
      <span style="float: right">Priority: {{ row.priority }}</span>
    </ion-card-header>
    <ion-card-content>
      <!-- Click Action List -->
      <div *ngIf="row.click_action_list && row.click_action_list.length>0">
        <div class="divider"></div>
        <h2>Click Action List</h2>
        <div style="display: flex">
          <div style="flex: 1">
            <div *ngFor="let action of row.click_action_list">{{action._raw}}</div>
          </div>
          <div style="text-align: right">
            <ion-button
              fill="clear"
              (click)="triggerRowActions(row)"
              class="no-padding"
              style="margin: 0"
              [disabled]="!row._active"
              >Trigger Actions</ion-button
            >
          </div>
        </div>
      </div>
      <!-- Activation -->
      <div *ngIf="row.activation_condition_list && row.activation_condition_list.length>0">
        <div class="divider"></div>
        <h2>Activation</h2>
        <div *ngFor="let condition of row.activation_condition_list">
          <span class="condition" [attr.data-satisfied]="condition._satisfied"
            >{{ condition._raw }}</span
          >
          <!-- <span *ngIf="condition.timing as timing">
            <span>{{ timing.comparator }}{{ timing.quantity }}{{ timing.unit }}</span>
          </span> -->
        </div>
      </div>
      <!-- Deactivation -->
      <div *ngIf="row.deactivation_condition_list && row.deactivation_condition_list.length>0">
        <div class="divider"></div>
        <h2>Deactivation</h2>
        <div *ngFor="let condition of row.deactivation_condition_list">
          <span class="condition" [attr.data-satisfied]="condition._satisfied"
            >{{ condition._raw }}</span
          >
          <!-- <span *ngIf="condition.timing as timing">
            <span>{{ timing.comparator }}{{ timing.quantity }}{{ timing.unit }}</span>
          </span> -->
        </div>
      </div>
      <!-- Notification -->
      <div *ngIf="row.notification_schedule">
        <div class="divider"></div>
        <div style="display: flex">
          <div style="flex: 1; margin-right: 8px">
            <h2>Notification</h2>
            <div *ngIf="!row.notification_schedule.text">⚠️ No notification text specified</div>
            <div>{{row.notification_schedule.text}}</div>
          </div>
          <div style="text-align: right">
            <ion-button
              fill="clear"
              (click)="scheduleNotification(row)"
              class="no-padding"
              style="margin: 0"
              [disabled]="!row._active"
              >Schedule</ion-button
            >
            <div>{{row.notification_schedule._schedule_at | date:'MMM d'}}</div>
            <div>{{row.notification_schedule._schedule_at | date:'h:mm a'}}</div>
          </div>
        </div>
      </div>

      <ion-button fill="clear" (click)="logDebugInfo(row)">(log full details)</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
