ion-button.no-padding {
  --padding-start: 0;
  --padding-end: 0;
}
.row-header {
  font-weight: 500;
}
.row-header[data-active="true"],
.condition[data-satisfied="true"] {
  color: green;
}
.row-header[data-active="false"],
.condition[data-satisfied="false"] {
  color: #a30000;
}
