.list-header {
  font-weight: 500;
}
.activated {
  background: hsl(130deg, 40%, 65%);
}
.pending {
  background: hsl(40deg, 100%, 75%);
}
.deactivated {
  background: hsl(0deg, 100%, 85%);
}
ion-list {
  --background: white;
  padding-top: 0;
}
ion-item {
  --background: white;
}
