<ion-content class="ion-padding">
  <h2 style="flex: 1">Scheduled Campaigns</h2>
  <div style="display: flex; align-items: center; justify-content: space-between">
    <ion-toggle
      #debugOptIn
      [checked]="debugCampaignsEnabled"
      (ionChange)="setDebugCampaignOptIn(debugOptIn.checked)"
      >Debug Notifications</ion-toggle
    >
    <ion-button
      fill="outline"
      [routerLink]="['/','notifications']"
      [disabled]="(localNotificationService.pendingNotifications$ | async).length===0"
    >
      <ion-icon name="notifications" slot="start"></ion-icon>
      <span>{{(localNotificationService.pendingNotifications$ | async).length}}</span>
    </ion-button>
  </div>

  <ion-list>
    @for (schedule of campaignService.scheduledCampaigns | objectValues; track schedule) {
    <campaign-schedule-debug-row [row]="schedule"></campaign-schedule-debug-row>
    }
  </ion-list>

  <div style="display: flex; align-items: center">
    <h2 style="flex: 1">All Campaigns</h2>
  </div>
  <ion-item>
    <ion-select
      #campaignSelect
      (ionChange)="setDebugCampaign(campaignSelect.value)"
      [value]="debugCampaignId"
      label="Campaign"
    >
      @for (campaign_id of campaignService.allCampaigns | objectKeys | arraySort; track campaign_id)
      {
      <ion-select-option>
        <span>{{campaign_id}}</span>
      </ion-select-option>
      }
    </ion-select>
  </ion-item>
  <div style="display: flex; align-items: center">
    @if (debugCampaignId) {
    <h4 style="flex: 1">Rows</h4>
    }
    <ion-button fill="outline" (click)="refreshDebugCampaign()"
      >Refresh
      <ion-icon slot="end" name="reload-outline"></ion-icon>
    </ion-button>
  </div>

  @if (debugCampaignRows) {
  <ion-list>
    <ion-list-header class="list-header activated">Activated</ion-list-header>
    @for (row of debugCampaignRows.activated; track row) {
    <campaign-debug-row
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (sendNotificationClicked)="sendNotification(row)"
    ></campaign-debug-row>
    }
    <ion-list-header class="list-header pending">Pending</ion-list-header>
    @for (row of debugCampaignRows.pending; track row) {
    <campaign-debug-row
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (sendNotificationClicked)="sendNotification(row)"
    ></campaign-debug-row>
    }
    <ion-list-header class="list-header deactivated">Deactivated</ion-list-header>
    @for (row of debugCampaignRows.deactivated; track row) {
    <campaign-debug-row
      [row]="row"
      (manageVariablesClicked)="manageFieldVariables($event)"
      (sendNotificationClicked)="sendNotification(row)"
    ></campaign-debug-row>
    }
  </ion-list>
  }
</ion-content>
