.list-header {
  font-weight: 500;
}
.activated {
  background: hsl(130, 40, 65);
}
.pending {
  background: hsl(40, 100, 75);
}
.deactivated {
  background: hsl(0, 100, 85);
}
ion-list {
  --background: white;
  padding-top: 0;
}
ion-item {
  --background: white;
}
