<ion-header>
  <ion-toolbar>
    <ion-title>My Reminders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="onAddClicked()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <ion-list>

    <ion-list-header>Today</ion-list-header>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <div *ngFor="let entry of reorderEntries">
        <ion-item *ngIf="entry.reminder">
          <ng-lottie *ngIf="entry.reminder.completeAnimInProgress" containerClass="tick-lottie" [options]="tickAnimOptions"
          (complete)="tickAnimationComplete(entry.reminder)">
          </ng-lottie>
          <img *ngIf="entry.reminder.complete" class="complete-indicator" src="assets/images/done_tick.svg">
          <div *ngIf="!entry.reminder.complete && !entry.reminder.completeAnimInProgress" class="not-complete-indicator" (click)="onCompleteClicked(entry.reminder)">
          </div>
          <ion-reorder>
            <ion-label>
              {{entry.reminder.what}}
            </ion-label>
          </ion-reorder>
        </ion-item>
        <ion-list-header *ngIf="entry.label">{{entry.label}}</ion-list-header>
      </div>
    </ion-reorder-group>
  </ion-list>
</ion-content>