<div class="map-container">
  <div class="map-and-legend-container">
    <div id="mapElement" #mapElement class="map"></div>
    <div class="legend">
      @for (mapLayer of mapLayers; track $index) {
        @if (mapLayer.getVisible() && mapLayer.get("gradientFill")) {
          <div class="legend-item">
            <div class="title">
              {{ mapLayer.get("scaleTitle") }}
            </div>
            <div class="scale-container">
              @if (mapLayer.get("scaleSlider")) {
                <ion-range
                  [dualKnobs]="true"
                  [value]="{ lower: 0, upper: 100 }"
                  [ngStyle]="{ '--bar-background': mapLayer.get('gradientFill') }"
                  (ionChange)="handleSliderChange($event, mapLayer)"
                ></ion-range>
              } @else {
                <div
                  class="colour-scale"
                  [ngStyle]="{ 'background-image': mapLayer.get('gradientFill') }"
                ></div>
              }
              <div class="scale-labels">
                <div class="scale-label max">
                  {{ mapLayer.get("scaleMax") }}
                </div>
                <div class="scale-label min">
                  {{ mapLayer.get("scaleMin") }}
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </div>
  <div class="map-controls">
    @if (params.controlsStyle === "dropdown") {
      @if (mapLayers.length > 0) {
        <ion-select
          label="Visible Layers:"
          interface="modal"
          fill="outline"
          placeholder="Select map layers to view"
          [multiple]="true"
          (ionChange)="handleDropdownChange($event)"
          [value]="visibleLayerNames"
        >
          @for (mapLayer of mapLayersReversed; track $index) {
            <ion-select-option [value]="mapLayer.get('name')">
              <ion-item>
                <ion-label>
                  {{
                    mapLayer.get("name") +
                      (mapLayer.get("description") ? " – " + mapLayer.get("description") : "")
                  }}
                </ion-label>
              </ion-item>
            </ion-select-option>
          }
        </ion-select>
      }
    } @else {
      <ion-list>
        @for (mapLayer of mapLayersReversed; track $index) {
          <ion-item>
            <ion-label>
              <ion-toggle
                [checked]="mapLayer.getVisible()"
                (ionChange)="handleToggleChange($event, mapLayer)"
              >
                {{ mapLayer.get("name") }}
              </ion-toggle>
              @if (mapLayer.get("description")) {
                <p>
                  {{ mapLayer.get("description") }}
                </p>
              }
            </ion-label>
          </ion-item>
        }
      </ion-list>
    }
  </div>
</div>
