$map-height: 70vh;

.map-container {
  width: 100%;
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

.map-and-legend-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $map-height;
  position: relative;
}

.map {
  height: $map-height;
  min-width: 0;
}

.legend {
  z-index: 100;
  position: absolute;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 12px;

  .legend-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 4px;
    .title {
      width: 100%;
      min-height: 46px;
      margin-bottom: 2px;
      max-width: 88px;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        font-size: var(--font-size-text-tiny);
        text-align: center;
      }
    }

    .scale-container {
      height: 100%;
      max-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 12px 0;

      .scale-labels {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .scale-label {
          font-size: var(--font-size-text-tiny);
          width: max-content;
        }
      }
    }
  }

  &.horizontal {
    flex-direction: column;
    height: auto;
    width: 100%;
    right: unset;
    bottom: 0;
    .scale-container {
      align-items: flex-start;
    }
  }
}

/** Styling of scale slider, see example at https://angular-slider.github.io/ngx-slider/demos#styled-slider */
::ng-deep {
  .scale-container {
    .ngx-slider {
      --bar-height: 8px;

      .ngx-slider-bar {
        background: var(--bar-background);
        height: var(--bar-height);
      }
      &.vertical {
        .ngx-slider-bar {
          width: var(--bar-height);
          left: 14px !important;
        }
      }
      .ngx-slider-selection {
        background: rgba(255, 255, 255, 0.1);
      }

      .ngx-slider-pointer {
        top: calc(-1 * var(--bar-height) / 2);
        background-color: var(--ion-color-primary);
      }

      .ngx-slider-pointer:after {
        background-color: white;
      }
      .ngx-slider-pointer.ngx-slider-active:after {
        background-color: black;
      }

      .ngx-slider-tick {
        background: black;
      }

      .ngx-slider-tick.ngx-slider-selected {
        background: white;
      }

      .ngx-slider-tick-value {
        bottom: -10px !important;
      }

      &.disabled {
        .ngx-slider-pointer {
          // Hide element but preserve styling to avoid discrepencies
          visibility: hidden !important;
        }
        .ngx-slider-tick {
          background: transparent;
        }
        .ngx-slider-bubble {
          display: none;
        }
        .ngx-slider-selection {
          background: transparent;
        }
      }
    }
  }
}

.map-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  .map-control-container {
    flex: 1;
    min-width: 0;
  }

  .layer-control {
    display: flex;
  }
}
