<div class="map-container">
  <div class="map-and-legend-container">
    @if (layerLoading()) {
      <div class="loading-overlay">
        <p>Data loading...</p>
      </div>
    }
    <div id="mapElement" #mapElement class="map"></div>
    <div class="legend">
      @for (layerGroup of mapLayerGroupsSorted; track $index) {
        @for (mapLayer of layerGroup.layers; track $index) {
          @if (mapLayer.getVisible() && mapLayer.get("showScale")) {
            <div class="legend-item">
              <div class="title">
                <p>{{ mapLayer.get("scaleTitle") }}</p>
              </div>
              <div class="scale-container">
                <ngx-slider
                  [class.disabled]="!mapLayer.get('scaleSlider')"
                  [(value)]="sliderValues[mapLayer.get('scaleId') || mapLayer.get('id')].min"
                  [(highValue)]="sliderValues[mapLayer.get('scaleId') || mapLayer.get('id')].max"
                  [options]="getSliderOptions(mapLayer)"
                  (userChangeEnd)="
                    mapLayer.get('scaleSlider') ? handleSliderChange(mapLayer, $event) : null
                  "
                  [ngStyle]="{ '--bar-background': mapLayer.get('gradientFill') }"
                ></ngx-slider>
              </div>
            </div>
          }
        }
      }
    </div>
  </div>
  <div class="map-controls">
    @for (layerGroup of mapLayerGroupsSorted; track $index) {
      @if (!layerGroup.controls_style || layerGroup.controls_style === "dropdown") {
        @if (layerGroup.layers?.length > 0) {
          <div class="map-control-container">
            <p>{{ (layerGroup.name || "Visible layers") + ":" }}</p>
            <ion-select
              interface="modal"
              fill="outline"
              placeholder="Select map layers to view"
              [multiple]="!layerGroup.single_selection"
              (ionChange)="handleDropdownChange($event.detail.value, layerGroup.id)"
              [value]="getVisibleLayerNames(layerGroup.id)"
            >
              @for (mapLayer of layerGroup.layers; track $index) {
                <ion-select-option [value]="mapLayer.get('name')">
                  <ion-item>
                    <ion-label>
                      {{
                        mapLayer.get("name") +
                          (mapLayer.get("description") ? " – " + mapLayer.get("description") : "")
                      }}
                    </ion-label>
                  </ion-item>
                </ion-select-option>
              }
            </ion-select>
          </div>
        }
      } @else if (params.controlsStyle === "list") {
        <ion-list>
          @for (mapLayer of layerGroup.layers; track $index) {
            <ion-item>
              <ion-label>
                <ion-toggle
                  [checked]="mapLayer.getVisible()"
                  (ionChange)="handleToggleChange($event, mapLayer)"
                >
                  {{ mapLayer.get("name") }}
                </ion-toggle>
                @if (mapLayer.get("description")) {
                  <p>
                    {{ mapLayer.get("description") }}
                  </p>
                }
              </ion-label>
            </ion-item>
          }
        </ion-list>
      }
    }
  </div>
</div>
