$map-height: 400px;

.map-container {
  width: 100%;
}

.map-and-legend-container {
  display: flex;
  width: 100%;
}

.map {
  flex: 1;
  height: $map-height;
  min-width: 0;
}

.legend {
  display: flex;
  width: auto;
  height: $map-height;
  padding: 0 12px;

  .legend-item {
    display: flex;
    flex-direction: column;
    .title {
      max-width: 100px;
      margin-bottom: 12px;
    }

    .scale-container {
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: flex-end;

      .scale-labels {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .scale-label {
          font-size: var(--font-size-text-tiny);
          width: max-content;
        }
      }
    }

    .colour-scale {
      width: 12px;
      margin-right: 12px;
      height: 100%;
    }
  }
}

.map-controls {
  margin-top: 10px;

  .layer-control {
    display: flex;
  }
}
