$map-height: 70vh;

.map-container {
  width: 100%;
}

.map-and-legend-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: $map-height;
  position: relative;
}

.map {
  height: $map-height;
  min-width: 0;
}

.legend {
  z-index: 100;
  position: absolute;
  bottom: 0;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px;

  .legend-item {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    .title {
      width: 100%;
      margin-bottom: 2px;
    }

    .scale-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

      .scale-labels {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .scale-label {
          font-size: var(--font-size-text-tiny);
          width: max-content;
        }
      }
    }

    .colour-scale {
      width: 100%;
      height: 12px;
      margin-bottom: 4px;
    }
  }
}

/** Styling of scale slider, see example at https://angular-slider.github.io/ngx-slider/demos#styled-slider */
::ng-deep {
  .scale-container {
    .ngx-slider {
      --bar-height: 14px;

      .ngx-slider-bar {
        background: var(--bar-background);
        height: var(--bar-height);
      }
      .ngx-slider-selection {
        background: rgba(255, 255, 255, 0.1);
      }

      .ngx-slider-pointer {
        top: calc(-1 * var(--bar-height) / 2);
        background-color: var(--ion-color-primary);
      }

      .ngx-slider-pointer:after {
        background-color: white;
      }
      .ngx-slider-pointer.ngx-slider-active:after {
        background-color: black;
      }

      .ngx-slider-tick {
        width: 2px;
        height: var(--bar-height);
        border-radius: 0;
        background: black;
        top: 3px;
      }

      .ngx-slider-tick.ngx-slider-selected {
        background: white;
      }

      &.disabled {
        .ngx-slider-pointer {
          // Hide element but preserve styling
          visibility: hidden !important;
        }
      }
    }
  }
}

.map-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  .map-control-container {
    flex: 1;
    min-width: 0;
  }

  .layer-control {
    display: flex;
  }
}
