<ion-radio-group
  [attr.data-variant]="params().variant"
  [value]="selectedKey()"
  (ionChange)="handleItemClick($event.detail.value)"
>
  @for (item of answerOptions(); track item[params().optionsKey]) {
    <div
      class="option"
      [class.option-selected]="isOptionSelected(item)"
      [class.has-custom-input]="
        params().valueAsObject && isInputAllowed(item) && isOptionSelected(item)
      "
    >
      <ion-item lines="none">
        <ion-radio
          [labelPlacement]="params().variant === 'card' ? 'start' : 'end'"
          [justify]="params().variant === 'card' ? 'space-between' : 'start'"
          mode="md"
          [value]="item[params().optionsKey]"
        >
          <plh-tmpl-text
            [row]="{
              _nested_name: '',
              name: '',
              type: 'text',
              value: item[params().optionsValue],
            }"
          >
          </plh-tmpl-text>
        </ion-radio>
      </ion-item>
      @if (params().valueAsObject && isInputAllowed(item) && isOptionSelected(item)) {
        <radio-list-custom-input
          [value]="customInputValue()"
          [placeholder]="item.input_placeholder || ''"
          [disabled]="isRowDisabled()"
          [variant]="params().variant"
          (textChange)="rememberCustomText(item, $event)"
          (valueChange)="handleCustomValueChange(item, $event)"
          (valueCommit)="handleCustomValueCommit(item, $event)"
        />
      }
    </div>
  }
</ion-radio-group>
