// Remove default styling of ionic components to keep the design minimal
ion-radio-group {
  ion-item {
    --background: transparent;
  }
  ion-radio::part(label) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
