*
!.gitignore
!*/
!deployments/local/config.ts
!deployments/plh/*.ts
!deployments/early_family_math/*.ts
!deployments/perinatal/*.ts
!deployments/*/skins/*.ts
# Renamed to activeDeployment.json, include here so people can remove
!/deployments/default.json
