<ion-app *ngIf="renderAppTemplates">
  <ion-menu #menu side="start" menuId="main-side-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ sideMenuDefaults.title }}</ion-title>
        <div class="app-version" slot="end">
          <span *ngIf="sideMenuDefaults.should_show_version">{{ APP_VERSION }} </span>
          <span *ngIf="sideMenuDefaults.should_show_deployment_name" style="margin-left: 16px"
            >({{ DEPLOYMENT_NAME }})</span
          >
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <plh-template-container
        [templatename]="sideMenuDefaults.template_name"
        (click)="menu.close()"
        [ignoreQueryParamChanges]="true"
      ></plh-template-container>
    </ion-content>
  </ion-menu>
  <div style="display: flex; flex-direction: column; height: 100%">
    <plh-main-header></plh-main-header>
    <div class="route-container">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </div>
  </div>
</ion-app>
