<ion-app *ngIf="skipTutorial">
  <ion-menu #menu side="start" menuId="main-side-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>ParentApp</ion-title>

        <div class="app-version" slot="end">
          <span>{{ APP_VERSION }} ({{ ENV_NAME }})</span>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <plh-template-container
        class="main-layout-padding"
        templatename="app_menu"
        (click)="menu.close()"
      ></plh-template-container>
    </ion-content>
  </ion-menu>
  <div style="display: flex; flex-direction: column; height: 100%">
    <plh-main-header></plh-main-header>
    <div class="route-container">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </div>
  </div>
</ion-app>
