.route-container {
  flex: 1;
  overflow: auto;
}
.app-version {
  margin-right: 8px;
  opacity: 0.5;
  display: flex;
  align-items: center;
}
#main-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  :host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}
#sidebar {
  width: 500px;
  min-width: 500px;
}
#sidebar-content {
  width: 100%;
  height: 100%;
}
