@import "./components/index";

/// HACK - (TODO handle with authoring) remove margins for summary elements
plh-template-component[data-name="clicks_all_time"],
plh-template-component[data-name="clicks_this_week"] {
  margin: 0 !important;
}

/// Move nav footer to bottom of page
plh-template-component[data-name="nav_buttons"],
plh-template-component[data-name="intro_nav_buttons"] {
  margin-top: auto !important;
}

/// Ensure animated sections fill all available height
plh-template-component[data-type="animated_section"] {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

plh-template-component[data-name="button_completed"] {
  flex: 1;
  margin-left: 8px;
}

/// Apply flex to content box to help ensure nav buttons fill to bottom
plh-template-component[data-name="content_box"] {
  flex: 1;
}
