/// Remove padding from plh-button component so they can fit more nicely in containers
plh-button > ion-button {
  padding: 0 !important;
}

/// Ensure all pages have padding
ion-content {
  --padding-top: 24px;
  --padding-bottom: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
}

h1 {
  p {
    margin: 0;
  }
}
