/** Custom overrides for specific templates **/

/// import any template styles defined in child folder
@use "./templates/index";

// w_self_care_stepper
plh-template-container[data-templatename="w_self_care_stepper"] {
  // start page higher than default padding
  margin-top: -20px;
}

/// parent_centre
plh-template-container[data-templatename="parent_centre"] {
  plh-tmpl-title {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }
  plh-tmpl-display-group .display-group-wrapper[data-param-style~="parent_point"] {
    // ensure tiles are at least 200px and provide a larger gap between icons
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}

/// parent_points
plh-template-container[data-templatename="parent_points"] {
  plh-template-component[data-type="parent_point_box"] {
    margin-top: 0;
  }
  .display-group-wrapper[data-param-style~="parent_point"] {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/// weekly_workshops
plh-template-container[data-templatename="weekly_workshops"] {
  plh-template-component[data-name="heading"] {
    margin: 0 0 30px 0 !important; // TODO - hardcoded with authoring, can fix and remove
  }
  plh-template-component[data-type="title"] {
    flex: 1;
  }
  plh-tile-component .tile-wrapper.default_style.workshop_page {
    margin: var(--regular-margin) auto;
  }
}

/// parent_centre_essential_tools
plh-template-container[data-templatename="parent_centre_essential_tools"] {
  // convert two-column display to regular grid
  .display-group-wrapper[data-param-style~="two_columns"] {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 16px;
  }
  plh-tile-component {
    flex: 1;
  }
  plh-tile-component > .tile-wrapper {
    height: 100%;
    margin: 0;
    max-width: 250px;
    width: 100%;
  }
}

/// nav_buttons
plh-template-container[data-templatename="nav_buttons"] {
  margin-top: 1em;
  plh-template-component[data-type="display_group"] {
    justify-content: end; // assume parent has flex:1 property
    plh-template-component[data-type="round_button"] {
      flex: 0 !important; // removed incorrect hardcoded flex
    }
    // ensure gap between buttons
    plh-template-component:not([data-hidden="true"]) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
