/// Wrap parent_point display groups in grid
/// @example /template/example_buttons_padding */
plh-tmpl-display-group .display-group-wrapper[data-param-style="parent_point"] {
  display: grid;
  // ensure all tiles are at least 120px (wrap to multiple lines if not), and size equally
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 16px;
  justify-content: space-between;
  width: 100%;
}

/// Parent center template page
/// @example /template/parent_centre
plh-template-container[data-templatename="parent_centre"] {
  plh-tmpl-title {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }
  plh-tmpl-display-group .display-group-wrapper[data-param-style="parent_point"] {
    // ensure tiles are at least 200px and provide a larger gap between icons
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 32px;
  }
}
