@import "../mixins.scss";
/** Custom overrides for specific templates **/

/// w_self_care_stepper
plh-template-container[data-templatename="w_self_care_stepper"] {
  // start page higher than default padding
  margin-top: -20px;
}

/// parent_center
plh-template-container[data-templatename="parent_centre"] {
  plh-tmpl-title {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
  }
  plh-tmpl-display-group .display-group-wrapper[data-param-style="parent_point"] {
    // ensure tiles are at least 200px and provide a larger gap between icons
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 32px;
  }
}

/// weekly_workshops
plh-template-container[data-templatename="weekly_workshops"] {
  plh-template-component[data-name="heading"] {
    margin: 0 0 30px 0 !important; // TODO - hardcoded with authoring, can fix and remove
  }
  plh-template-component[data-name="options"] {
    flex: unset; // TODO - hardcoded with authoring, can fix and remove
  }
  plh-tile-component .tile-wrapper.default_style.workshop_page {
    margin: var(--regular-margin) auto;
  }
}

/// home_screen
plh-tmpl-display-group .display-group-wrapper[data-param-style~="home_screen"] {
  @include flex-centered;
  border-radius: var(--ion-border-radius-secondary);
  width: 100%;
  height: var(--home-screen-height);
  justify-content: space-between;
  @media (max-width: 320px) {
    height: var(--home-screen-height-small);
  }
  // animated start icon
  plh-template-component[data-display-component="TmplLottieAnimation"] {
    @include flex-centered;
    flex-direction: column;
    // make offset slightly out of top
    margin-top: -30px;
    padding: var(--small-padding);
    max-width: 15%;
    @media (max-width: 1024px) {
      max-width: 20%;
    }
    @media (max-width: 768px) {
      max-width: 25%;
    }
    @media (max-width: 414px) {
      max-width: 48%;
    }
    @media (max-width: 375px) {
      max-width: 50%;
    }
  }

  // main content block (e.g. weekly workshops)
  plh-template-component:last-child {
    flex: 1;
    padding-top: var(--huge-padding);
    @media (max-width: 375px) {
      h1 {
        font-size: var(--font-size-title-small-device) !important;
      }
    }
    @media (max-width: 320px) {
      h1 {
        font-size: 18px !important;
      }
    }
  }
  // quick-access button
  plh-round-button {
    display: block;
    // make offset slightly out of bottom
    margin-bottom: -10px;
  }

  /// HACK - (TODO handle with authoring) remove margins for summary elements
  plh-template-component[data-name="clicks_all_time"],
  plh-template-component[data-name="clicks_this_week"] {
    margin-bottom: 0;
  }
}
