.step-item-container {
    margin: var(--module-steps-margin);
    display: flex;
    flex-direction: row;
}

.step-item-checkbox {
    border-style: solid;
    border-width: 1px;
    border-color: #096B8B;
    color: #096B8B;
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 42px;
    margin-right: 20px;
}

.step-item-button {
    flex-grow: 1;
    height: 42px;
    border-style: solid;
    border-width: 1px;
    border-color: #096B8B;
    color: #096B8B;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}