:host {
  display: block;
  height: 100vh;
}
ion-slides {
  height: 100%;
}
ion-content {
  --background: white;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}
ion-button {
  margin: 5px 40px;
  height: 2.5em;
}

.swiper-slide img {
  height: 20vh;
  max-height: 180px;
  pointer-events: none;
  margin: 2em 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 15px;
  font-size: 13px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
  min-height: 5em;
}

p b {
  color: var(--ion-text-color, #000000);
}
.link {
  text-decoration: underline;
  color: var(--ion-color-primary);
  cursor: pointer;
}
