// Here we set a local Sass variable to take it's value from a theme-level variable override,
// with a fallback value (taken from the core theme colours in this place)
$text-color: var(--demo-variable, var(--ion-color-primary-500));

.example-container {
  color: $text-color;
  width: 100%;
  padding: var(--large-padding);
  text-align: center;
  &[data-variant="square_primary"] {
    background-color: var(--ion-color-primary-200);
  }
  &[data-variant="circle_secondary"] {
    background-color: var(--ion-color-secondary-200);
    border-radius: 50%;
  }
}
