.debugger {
  color: var(--color-debug);
  display: flex;
  flex-direction: column;
  font-size: 12px;

  .header {
    display: flex;
    gap: 4px;
    margin-left: auto;
    align-items: center;
  }

  .toggle-button {
    margin-left: auto;
    background-color: inherit;
    color: var(--template-debug-color, var(--color-debug));
    border: none;
    padding: 4px;
    min-width: 16px;
    cursor: pointer;
  }

  .info {
    width: 100%;
    padding: 4px;
  }
}
