<ion-content>
  <h1>{{carePackage?.label}}</h1>
  <p class="description">{{carePackage?.description}}</p>
  <section *ngFor="let habit of habits" class="habit-section">
    <div class="top">
      <div class="title-and-desc">
        <title>{{habit.title}}</title>
        <p>{{habit.description}}</p>
      </div>
      <img [src]="habit.icon_asset">
    </div>
    <div class="buttons">
      <button class="btn" (click)="suggestedTaskClicked(habit)">
        {{habit.suggestion_button_text}}
      </button>
      <button class="btn" (click)="aimClicked(habit)">
        {{habit.aim_button_text}}: {{habit.timesDone}} / {{habit.goalNumber}}
      </button>
    </div>
  </section>
</ion-content>