::ng-deep {
  .my-custom-modal {
    --height: auto;
    @media (max-width: 450px) {
      //padding: 20% 2%  !important;
    }

    //padding: 20% 10%  !important;
    .modal-wrapper {
      max-width: 90vw;
      background: var(--ion-color-primary-contrast);
      border: var(--ion-border-standard);
      border-radius: var(--ion-border-radius-secondary);
      .ion-page {
        max-height: 90vh;
        position: relative;
        contain: content;
      }
    }
  }
}

:host {
  justify-content: center;
  display: flex;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .input {
      width: 100%;
      align-self: center;
    }
    input {
      margin-top: 15px;
      width: 100%;
      height: 35px;
    }
  }
  .comment {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  ion-button {
    margin-top: 20px;
    min-width: 100%;
    align-self: center;
  }
}
