$path-segment-width: 264px;

.progress-path-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: $path-segment-width;
  max-width: 380px;
  margin: auto;
}

.progress-path-child-wrapper {
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .path-segment {
    position: absolute;
    top: 25%;
    z-index: -1;
    width: $path-segment-width;
    margin-left: 32px;
  }

  .progress-path-child-content {
    width: 150px;
    align-self: flex-start;
  }

  // For alternate instances, mirror the way the content displays for a staggered effect
  &.odd-index {
    .progress-path-child-content {
      align-self: flex-end;
    }
    .path-segment {
      // Flip horizontally
      transform: scaleX(-1);
      margin-right: 32px;
    }
  }

  &:last-child {
    .path-segment {
      display: none;
    }
  }
}
