<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let userSetting of userSettings">
    <ion-label>{{userSetting.name}}</ion-label>
    <ion-toggle *ngIf="!userSetting.options && userSetting.type === 'boolean'"
      [checked]="userSetting.value === 'true'"
      (ionChange)="toggleUserSetting(userSetting)"
    ></ion-toggle>
    <ion-select
      *ngIf="userSetting.options"
      [value]="userSetting.value"
      okText="Select"
      cancelText="Cancel"
      (ionChange)="selectSettingOption(userSetting, $event.detail.value)"
    >
      <ion-select-option
        *ngFor="let option of userSetting.options"
        [value]="option.value"
      >
        {{option.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button (click)="openWelcomeFlow()">Open Welcome Flow</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="openWelcomeSurvey()">Open Sample Survey</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="resetApp()">Reset App</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select
      [value]="currentThemeName"
      okText="Okay"
      cancelText="Dismiss"
      (ionChange)="selectThemeName($event.detail.value)"
    >
      <ion-select-option *ngFor="let themeName of themeNames" value="{{themeName}}"
        >{{themeName}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/theme-editor']">Theme Editor</ion-label>
  </ion-item>
</ion-content>
