<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <plh-user-setting *ngFor="let userSetting of userSettings" [userSetting]="userSetting"
    (onSettingChange)="onSettingChange($event)"></plh-user-setting>
  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select [value]="currentThemeName" okText="Okay" cancelText="Dismiss"
      (ionChange)="selectThemeName($event.detail.value)">
      <ion-select-option *ngFor="let themeName of themeNames" value="{{themeName}}">{{themeName}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header>Development Settings</ion-list-header>
  <plh-user-setting *ngFor="let userSetting of devOnlyUserSettings" [userSetting]="userSetting"
    (onSettingChange)="onSettingChange($event)"></plh-user-setting>
  <ion-item>
    <ion-button (click)="navigateByUrl('/chat/flow/example_main')">Open Testing Flow</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="openWelcomeFlow()">Open Welcome Flow</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="openWelcomeSurvey()">Open Sample Survey</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="resetApp()">Reset App</ion-button>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/theme-editor']">Theme Editor</ion-label>
  </ion-item>
</ion-content>