.activity-container {
  max-width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .progress-tracker {
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .progress-bar-container {
      width: 40%;
      background-color: var(--ion-color-gray-200);
      height: 14px;
      border-radius: 50px;
      overflow: hidden;
      .progress-bar {
        border-radius: 50px;
        height: 100%;
        background-color: #e0b160;
        transition:
          width 0.5s ease,
          background-color 0.5s ease;
      }
    }
    .countdown-text {
      margin-left: 8px;
      color: var(--ion-color-gray-600);
      font-weight: var(--font-weight-medium);
    }
  }
  .image {
    height: 150px;
    img {
      padding: 4px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    .title h4 {
      text-align: center;
      color: var(--ion-color-gray-600);
      font-weight: var(--font-weight-bold);
    }
    .icon {
      display: flex;
      align-items: center;
      margin: 0 4px;
      img {
        width: 28px;
      }
    }
  }
}
.activity-container[data-language-direction~="rtl"] {
  .progress-tracker {
    .progress-bar-container {
      margin-right: 0;
      margin-left: 6px;
    }
  }
  .image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .details {
    .icon {
      img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }
}
