.progress-container {
    margin: 30px;
    width: 90vw;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    width: 100vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 10px;
}