// @use "/src/theme/mixins";
$item-width: 140px;
$item-height: 140px;

$background-selected: var(
  --radio-group-background-selected,
  var(--gradient-primary-light-vertical)
);
$border: var(--border-standard);
$border-radius: var(--ion-border-radius-standard);
$text-size: var(--radio-button-font-size, 1.25rem);
$text-color: var(--radio-button-font-color, var(--ion-color-primary));

.radio-buttons {
  display: grid;
}
.item {
  border: $border;
  border-radius: 15px;
  text-align: center;
  padding: 8px;
  background: white;
  cursor: pointer;
  box-shadow: var(--ion-default-box-shadow);
}
.item[data-selected="true"] {
  background: $background-selected;
}
.item-text {
  font-size: $text-size;
  color: $text-color;
}

.radio-buttons[data-variant="circle-icon"] {
  display: grid;

  .item {
    border: none;
    padding: 0px;
    box-shadow: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
  }
  .item-image-container {
    background: var(--ion-color-primary-50);
    border: 1px solid var(--ion-color-primary-200);
    border-radius: 50%;

    width: 86px;
    height: 86px;

    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 48px;
    }
  }
  .item-text {
    font-size: large;
    color: var(--ion-color-gray-800);
    margin-top: 6px;
  }

  .item[data-selected="true"] {
    background: unset;
    .item-image-container {
      border: 2px solid var(--ion-color-primary-300);
      background: var(--ion-color-primary-200);
    }
    .item-text {
      font-weight: bold;
    }
  }
}

.radio-buttons[data-variant="flex"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  .item {
    background-color: var(--ion-color-secondary-200);
    box-shadow: none;
    border: none;

    width: $item-width;
    height: $item-height;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    border-radius: var(--ion-border-radius-small);
    padding: 0px;
    padding: 12px 8px;
    margin: 4px 0;

    max-width: calc(8.5rem * 0.9);
    max-height: calc(140px * 0.9);

    &[data-selected="true"] {
      background-color: var(--ion-color-secondary-400);
      border: 2px solid var(--ion-color-secondary-600);
      padding: 8px 12px;
    }
  }
  .item-image-container {
    margin-bottom: 4px;
    img {
      max-width: calc($item-width * 0.5);
      min-width: calc($item-width * 0.42);
      max-height: calc($item-width * 0.36);
      object-fit: cover;
      border-radius: calc($item-width * 0.02);
    }
  }
  .item-text {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: calc($item-height * 0.32);
    overflow: hidden;
    p {
      color: var(--ion-color-gray-900);
      font-size: var(--font-size-text-small);
      font-weight: var(--font-weight-medium);
      text-align: center;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
    }
  }
}
