<div class="radio-grid" [ngStyle]="gridStyle" [attr.data-variant]="parameter_list.variant">
  @for (item of radioItems; track $index) {
    <div
      class="item"
      (click)="handleItemClick(item)"
      [attr.data-selected]="item.name === _row.value"
    >
      @if (item.image) {
        <div class="item-image-container">
          <img class="item-image" [src]="item.image | plhAsset" />
        </div>
      }
      @if (item.text) {
        <div class="item-text">{{ item.text }}</div>
      }
    </div>
  }
</div>
