// @use "/src/theme/mixins";

$background-selected: var(
  --radio-group-background-selected,
  var(--gradient-primary-light-vertical)
);
$border: var(--ion-border-standard);
$border-radius: var(--ion-border-radius-standard);

.radio-grid {
  display: grid;
  gap: 1rem;
}
.item {
  border: $border;
  border-radius: 15px;
  text-align: center;
  padding: 8px;
  background: white;
  cursor: pointer;
}
.item[data-selected="true"] {
  background: $background-selected;
}
