.open-combobox {
  margin-top: 15px;
  outline: none;
  min-width: 342px;
  border: 2px solid #0d4060;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  font-weight: bold;
  background: transparent;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #0d3f60;
  height: 59px;
  @media (max-width: 400px) {
    min-width: 260px;
  }
}
