@if (params().variant === "modal") {
  <button
    class="open-combobox"
    (click)="openModal()"
    [ngClass]="{
      disabled: isDisabled(),
      'placeholder-style': (!value() && params().placeholder) || params().prioritisePlaceholder,
      'with-value': !!value(),
      'no-value': !value(),
    }"
    [disabled]="isDisabled()"
  >
    {{ displayText() | translate }}
  </button>
} @else if (params().variant === "dropdown") {
  <combo-box-dropdown
    [displayText]="displayText()"
    [modalTitle]="params().modalTitle"
    [prioritisePlaceholder]="params().prioritisePlaceholder"
    [value]="value()"
    [placeholder]="params().placeholder"
    [disabled]="isDisabled()"
    [answerOptions]="answerOptions()"
    [optionsKey]="params().optionsKey"
    [optionsValue]="params().optionsValue"
    [optionMetaBadge]="optionMetaBadge()"
    (searchDismiss)="onSearchDismiss($event)"
    (selectionChange)="setValue($event)"
  />
}
