@if (params().variant === "modal") {
  <button
    class="open-combobox"
    (click)="openModal()"
    [ngClass]="{
      disabled: disabled(),
      'placeholder-style': (!value() && params().placeholder) || params().prioritisePlaceholder,
      'with-value': !!value(),
      'no-value': !value(),
    }"
    [disabled]="disabled()"
  >
    {{ displayText() | translate }}
  </button>
} @else if (params().variant === "dropdown" && showSearch()) {
  <button
    class="open-search-combobox"
    (click)="openSearch()"
    [ngClass]="searchButtonClass()"
    [disabled]="disabled()"
  >
    <span class="text">{{ displayText() | translate }}</span>
    <ion-icon name="caret-down-sharp" size="small" aria-hidden="true"></ion-icon>
  </button>
} @else if (params().variant === "dropdown" && !showSearch()) {
  <div class="combo-box-container dropdown">
    <ion-select
      [class.hasValue]="!!value()"
      [placeholder]="params().placeholder | translate"
      (ionChange)="handleDropdownChange($event.detail.value)"
      interface="popover"
      labelPlacement="stacked"
      [disabled]="disabled()"
    >
      @for (answerOption of answerOptions(); track answerOption[params().optionsKey]) {
        <ion-select-option [value]="answerOption[params().optionsKey]">
          @if (params().optionsBadge) {
            @if (answerOption[params().optionsBadge]) {
              <p>[{{ answerOption[params().optionsBadge] | uppercase }}]</p>
            }
          }
          {{ answerOption[params().optionsValue] }}
        </ion-select-option>
      }
    </ion-select>
  </div>
}
