<button
  class="open-combobox margin-t-regular"
  (click)="openModal()"
  [class.placeholder-style]="!_row.value && placeholder"
  [ngClass]="{
    active: _row.value && style === 'active',
    'active-no-value': !_row.value && style === 'active',
    passive: _row.value && style === 'passive',
    'passive-no-value': !_row.value && style === 'passive',
    'default-no-value': !checkIfContainsDefaultStyles && !_row.value
  }"
  [disabled]="_row.disabled"
>
  {{ text ? text : placeholder }}
</button>
