$placeholder-text: var(--combo-box-placeholder-text, var(--ion-color-primary-transparent));
$background-no-value: var(combo-box-background-no-value, transparent);
$background-with-value: var(
  --combo-box-background-with-value,
  var(--gradient-primary-light-vertical)
);

.open-combobox {
  outline: none;
  width: 100%;
  border: var(--ion-border-standard);
  box-sizing: border-box;
  filter: drop-shadow(var(--ion-default-box-shadow));
  border-radius: var(--ion-border-radius-secondary);
  font-weight: var(--font-weight-standard);
  background: $background-no-value;
  font-size: var(--combo-box-font-size-standard);
  line-height: var(--line-height-text-large);
  text-align: center;
  color: var(--ion-color-primary);
  min-height: var(--combo-box-min-height);
  @media (max-width: 400px) {
    min-width: var(--combo-box-min-width);
  }
}

.placeholder-style {
  color: $placeholder-text;
}
.with-value {
  background: $background-with-value;
}
.no-value {
  background: $background-no-value;
}
