$placeholder-text: var(--combo-box-placeholder-text, var(--ion-color-gray-500));
$selected-value-text: var(--combo-box-selected-value-text, var(--ion-color-primary-800));
$background-no-value: var(--combo-box-background-no-value, #fff);
$background-with-value: var(--combo-box-background-with-value, var(--ion-color-primary-100));
$border-with-value: var(--combo-box-border-with-value, var(--ion-color-primary-300));

// Modal variant
.open-combobox {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: white;
  border-radius: var(--ion-border-radius-standard, 8px);
  font-weight: var(--font-weight-standard);
  font-size: var(--combo-box-font-size-standard, 18px);
  line-height: var(--line-height-text-large, 32px);
  color: var(--ion-color-gray-400);
  min-height: var(--combo-box-min-height, 58px);
  @media (max-width: 400px) {
    min-width: var(--combo-box-min-width, 328px);
  }
  &.no-value {
    background: var(--ion-color-primary-50);
    border: 1px solid var(--ion-color-primary-300);
    opacity: 0.9;

    &.placeholder-style {
      color: var(--ion-color-primary-300);
      font-weight: var(--font-weight-medium);
    }
  }
  &.with-value {
    background: var(--ion-color-primary-100);
    color: var(--ion-color-primary-800);
    border: 1.5px solid var(--ion-color-primary-300);
    font-weight: var(--font-weight-normal);
  }
}

.disabled {
  &.no-value {
    opacity: 0.5;
    border-color: var(--ion-color-gray-200);
  }
}

.placeholder,
ion-select::part(placeholder) {
  color: $placeholder-text;
  opacity: 0.9;
}

// Dropdown variant
.combo-box-container.dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  ion-select {
    font-size: var(--combo-box-font-size-standard, 18px);
    border: 1px solid var(--ion-color-gray-400);
    border-radius: var(--ion-border-radius-standard, 8px);
    padding-left: var(--small-padding, 10px);
    padding-right: var(--small-padding, 10px);
    --highlight-color-focused: none;
    --highlight-color: none;
    &::part(icon) {
      color: var(--ion-color-gray-500);
    }
    &.hasValue {
      background: var(--combo-box-background-with-value, var(--ion-color-primary-100));
      border: 1px solid var(--combo-box-border-with-value, var(--ion-color-primary-300));
      &::part(container) {
        color: var(--combo-box-selected-value-text, var(--ion-color-primary-800));
      }
      &::part(icon) {
        color: var(--combo-box-selected-value-text, var(--ion-color-primary-800));
      }
    }
    &.select-expanded {
      border: 1.5px solid var(--combo-box-border-with-value, var(--ion-color-primary-400));
      background: white;
      color: var(--ion-color-gray-800);
    }
  }
}

// Search variant
.open-search-combobox {
  width: 100%;
  height: 58px;
  display: flex;
  min-height: var(--combo-box-min-height, 58px);
  font-size: var(--combo-box-font-size-standard, 18px);
  border-radius: var(--ion-border-radius-standard, 8px);
  background: white;
  padding-left: var(--small-padding, 10px);
  padding-right: var(--small-padding, 10px);

  &.placeholder-style {
    color: $placeholder-text;
    opacity: 0.9;
  }

  &.disabled {
    opacity: 0.5;
    color: $placeholder-text;
  }

  &.with-value {
    background: $background-with-value;
    color: $selected-value-text;
    border: 1px solid $border-with-value;
  }

  &.no-value {
    background: inherit;
    border: 1px solid var(--ion-color-gray-500);
    color: var(--ion-color-gray-400);
  }

  .text,
  ion-icon {
    margin-top: auto;
    margin-bottom: auto;
  }

  ion-icon {
    margin-left: auto;
    width: 0.8125rem;
  }
}
