
  <ion-header>
  <ion-toolbar>
    <ion-title>{{flow?.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="flow">
      <div *ngFor="let element of flow.data">
        <div *ngIf="element.Type === 'Core_tip'" class="tb-element core-tip">
          <h1>💡</h1>
          {{element.MessageText}}
        </div>

        <div *ngIf="element.Type === 'List_item'" class="tb-element list">
          <ul>
          <li> <h4> {{element.MessageText}}</h4></li> 
          </ul>
        </div>
        <div *ngIf="element.Type === 'Text'" class="tb-element text">
          <details class="collapse"><p>{{element.MessageText}}</p></details>
        </div>
      </div>
   
  </div>
</ion-content>
