<plh-sub-header [title]="flow?.title"></plh-sub-header>

<ion-content>
  <div *ngIf="flow" class="tb-section">
    <div *ngFor="let element of elements">
      <div *ngIf="element.type === 'CORE_TIP'" class="tb-element core-tip">
        <h1>💡</h1>
        <span style="margin-left: 8px">{{element.text}}</span>
      </div>
      <div *ngIf="element.type === 'LIST'" class="tb-element text">
        <!--If a flow has a list intro in its data structure, then it has a List item-->
        <p *ngIf="element.intro">{{element.intro}}</p>
        <details *ngFor="let item of element.items; first as isFirst" [open]="isFirst">
          <summary><h3>{{item.heading}}</h3></summary>
          <p>{{item.body}}</p>
        </details>
      </div>
      <div *ngIf="element.type === 'list_item'" class="tb-element list">
        <ul>
          <li><h4>{{element.text}}</h4></li>
        </ul>
      </div>
      <div *ngIf="element.type === 'TEXT'" class="tb-element text">
        <p>{{element.text}}</p>
      </div>
    </div>
  </div>
</ion-content>
