<div
  class="container"
  [class]="params().position"
  [attr.data-param-style]="params().style"
  [attr.data-variant]="params().variant"
>
  <div class="toggle_wrapper">
    @if (!variantMap.icon) {
    <!-- Default variant -->
    <ion-toggle
      [attr.data-mode]="platformVariant"
      [mode]="platformVariant"
      [enableOnOffLabels]="params().showTickAndCross && params().showIcons"
      [checked]="!!value()"
      (click)="handleClick($event)"
      [attr.data-test]="name()"
    >
    </ion-toggle>
    } @else {
    <!-- "icon" variant, replaces ion-toggle with alternating pair of icons -->
    <div class="icon-wrapper" (click)="handleClick($event)">
      <img [src]="(value() ? params().iconTrueAsset : params().iconFalseAsset) | plhAsset" />
    </div>
    }
  </div>

  @if (params().trueText && params().falseText) {
  <span class="label">{{ value() ? params().trueText : params().falseText }}</span>
  }
</div>
