@import "./libs/enketo/sass/grid/grid.scss";

// apply :host style bindings for both encapsulated and non-encapsulated component

:host {
  background: white;
  padding: 8px;
  display: block;
  position: relative;
}

// apply margin to fit section dropdown arrows. Breakpoints defined in
// ./libs/enketo/sass/core/_responsive.scss
form {
  margin-left: 30px;
  @media screen and (max-width: 600px) {
    margin-left: 24px;
  }
}
#form-title {
  margin: 0;
}
#form-unavailable {
  // give form a chance to load/render before showing unavailable message
  animation: appearDelayed 2s;
  -webkit-animation: appearDelayed 2s;
  -moz-animation: appearDelayed 2s;
  -o-animation: appearDelayed 2s;
  -ms-animation: appearDelayed 2s;
}

.enketo-logo-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: -25px;
  font-size: 18px;
}
.enketo-logo {
  height: 25px;
}
// HACK - show all form sections (need to add buttons for page nave)
.pages.or .or-group-data {
  display: block !important;
}
// HACK - using emojis instead of icons so recolor as required
.icon {
  color: transparent;
  text-shadow: 0 0 0 white;
  margin-left: -12px;
  margin-right: 12px;
}

#form-footer {
  display: flex;
  padding: 20px;
  justify-content: center;
}
#form-footer > button {
  min-width: 180px;
  min-height: 48px;
  margin: 0 10px;
}

// Animations
@keyframes appearDelayed {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
