<ion-header>
  <ion-toolbar>
    <ion-title>🎵 Now Playing: {{currentSong.songTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="lyrics-content">
    <!--
        We may need to use
        https://ionicframework.com/docs/native/native-audio
        to deal with audio isses on older versions of Android
    -->
  <audio controls #audioElem [src]="currentSong.audioURL" autoplay="true"
      (timeupdate)="onAudioTimeUpdate(audioElem)"></audio>
  <!--<div class="button-container">
      <ion-button shape="round" (click)="toggleAudio()">
          <ion-icon name="{{paused ? 'play' : 'pause'}}"></ion-icon>
      </ion-button>
  </div>-->
  <p>Time: {{currentMinutes}}:{{currentSeconds}}</p>
  <div *ngIf="hasInstructions" class="lyrics-list">
      <div class="line">Instructions:</div>
      <div class="line" *ngFor="let line of lyricLinesInstructions">
          {{line}}
      </div>
  </div>
  <div class="lyric-section">
      <div class="blob-container">
          <img src="assets/images/body3.svg" class="body">
          <img src="assets/images/arm1.svg" class="arm">
          <img src="assets/images/mouth1.svg" class="mouth">
      </div>
      <div class="lyrics-list" [style]="'color:' + lyricPerson1Color">
          <div class="line" *ngFor="let line of lyricLinesPerson1">{{line}}</div>
      </div>
  </div>
  <div *ngIf="hasTwoPeople" class="lyric-section">
      <div class="blob-container blob-container2">
          <img src="assets/images/body3.svg" class="body">
          <img src="assets/images/body2.svg" class="toddler">
          <img src="assets/images/arm1.svg" class="arm">
          <img src="assets/images/mouth1.svg" class="mouth">
      </div>
      <div class="lyrics-list" [style]="'color:' + lyricPerson2Color">
          <div class="line" *ngFor="let line of lyricLinesPerson2">{{line}}</div>
      </div>
  </div>
</ion-content>