audio {
    width: 100%;
}

.title {
    margin: 30px;
    color: white;
}

.lyrics-list {
    flex-grow: 1;
    color: white;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
}

.lyrics-content {
    --ion-background-color: #c47d20;
}

.button-container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.blob-container {
    flex-shrink: 0;
    width: 120px;
    position: relative;
    margin: 20px;
}


.blob-container .arm {
    width: 10%;
    position: absolute;
    right: 3px;
    bottom: 64px;
    z-index: 2;
    transform: rotate(50deg);
    transform-origin: bottom left;
    animation: waving-arm 3s infinite linear;
    -webkit-transform: rotate(50deg);
    -webkit-transform-origin: bottom left;
    -webkit-animation: waving-arm 3s infinite linear;
}

@keyframes singing-mouth {
    0% {
        height: 3%;
    }
    50% {
        height: 12%;
    }
    100% {
        height: 3%;
    }
}


.blob-container .mouth {
    width: 14%;
    height: 3%;
    position: absolute;
    right: 38%;
    top: 45%;
    z-index: 2;
    animation: singing-mouth 1.5s infinite linear;
    -webkit-animation: singing-mouth 1.5s infinite linear;
}

.blob-container2 {
    filter: hue-rotate(60deg);
}

@keyframes waving-arm {
    0% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    10% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
    20% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    59% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    70% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
    80% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 30px;
    }
    50% {
        bottom: 80px;
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        bottom: 30px;
    }
}

.blob-container .toddler {
    width: 40%;
    position: absolute;
    right: 3px;
    bottom: 30px;
    z-index: 4;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear;
    filter: hue-rotate(60deg);
    -webkit-filter: hue-rotate(60deg);
}

.lyric-section {
    display: flex;
    width: 100%;
}