.pdf-viewer {
  margin-bottom: var(--large-margin);
}

ngx-extended-pdf-viewer {
  #toolbarViewer {
    background-color: var(--ion-color-primary);
  }
  #mainContainer {
    min-width: 250px !important;
  }
  .toolbarButton {
    color: var(--ion-color-primary-contrast) !important;
  }

  // Ensure presentation mode button is visible (if enabled)
  #presentationMode,
  pdf-presentation-mode {
    display: inline-block !important;

    // Tweak default styling to centrally align icon vertically
    button,
    .toolbarButton {
      .pdf-margin-top--2px {
        margin-top: -1px !important;
      }
    }
  }
}

.pdf-viewer > .error-message {
  font-size: var(--buttons-font-size-small);
  font-weight: var(--font-weight-standard);
  color: var(--ion-color-primary);
}
