ngx-extended-pdf-viewer {
  #toolbarViewer {
    background-color: var(--ion-color-primary);
    padding-inline-start: 4px;
    padding-inline-end: 4px;
  }
  #mainContainer {
    min-width: 250px !important;
  }
  .toolbarButton {
    svg,
    ion-icon {
      color: var(--ion-color-primary-contrast) !important;
    }

    ion-icon {
      height: 20px;
      width: 20px;
    }

    // Remove default styling for hover and focus
    &:hover {
      background-color: transparent !important;
    }
    &:focus {
      border: none !important;
    }
  }
}

.pdf-viewer > .error-message {
  font-size: var(--buttons-font-size-small);
  font-weight: var(--font-weight-standard);
  color: var(--ion-color-primary);
}
