<div class="pdf-viewer">
  @if (serviceReady()) {
    @if (service.isCompatible()) {
      <ngx-extended-pdf-viewer
        [src]="pdfSrc() | plhAsset"
        [page]="params().startingPage"
        [customToolbar]="customToolbar"
        [showBorders]="false"
        [mobileFriendlyZoom]="'1.3'"
        [height]="'80%'"
        [minHeight]="'400px'"
        [textLayer]="false"
        [backgroundColor]="'var(--ion-color-gray-light)'"
        [zoom]="'page-width'"
        [language]="locale"
      >
      </ngx-extended-pdf-viewer>
    } @else {
      <div class="error-message">
        {{ params().compatibilityErrorMessage }}
      </div>
      <ion-button (click)="openExternal()" fill="outline" style="margin-top: 1rem">
        <ion-icon name="open-outline" slot="start"></ion-icon>{{ params().openExternalText }}
      </ion-button>
    }
  } @else {
    Loading...
  }
</div>

<!-- Custom toolbar examples here: https://pdfviewer.net/extended-pdf-viewer/custom-toolbar -->
<ng-template #customToolbar>
  <div id="toolbarViewer">
    <div id="toolbarViewerMiddle">
      <pdf-zoom-out id="zoomOut"></pdf-zoom-out>
      <pdf-zoom-in id="zoomIn"></pdf-zoom-in>
    </div>
    <div id="toolbarViewerRight">
      @if (params().showOpenExternalButton) {
        <button class="toolbarButton" (click)="openExternal()" fill="outline">
          <ion-icon name="open-outline" slot="start"></ion-icon>
        </button>
      }
      @if (params().showDownloadButton) {
        <button class="toolbarButton" (click)="download()" fill="outline">
          <ion-icon name="download-outline" slot="start"></ion-icon>
        </button>
      }
    </div>
  </div>
</ng-template>
