<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{currentStory?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="audioPlayer" class="button-container">
    <ion-button shape="round" (click)="toggleAudio()">
      <ion-icon name="{{paused ? 'play' : 'pause'}}"></ion-icon>
    </ion-button>
  </div>
  <plh-reflect-animation *ngIf="!currentStory.panels[currentSlideIndex].imageSrc"></plh-reflect-animation>
  <!--<ion-slides id="slides" #slides pager="true" [options]="slideOpts">
    <ion-slide class="ion-slide" *ngFor="let panel of currentStory.panels">
      <img *ngIf="panel.imageSrc" class="story-panel-img" [src]="panel.imageSrc">
    </ion-slide>
  </ion-slides>-->
  <h1 class="swipe-left" *ngIf="!currentStory.hasChoices && !audioPlayer">Swipe left to continue...</h1>
  <div *ngIf="currentStory.hasChoices">
    <div *ngIf="currentStory.panels[currentSlideIndex].nextPanelOptions">
      <h1>{{currentStory.panels[currentSlideIndex].nextPanelQuestion}}</h1>
      <div class="option-container" *ngFor="let option of currentStory.panels[currentSlideIndex].nextPanelOptions; index as i">
        <ion-button *ngIf="option.type !== 'choice' && i == 0" (click)="storyOptionClicked(option)">Next</ion-button>
        <ion-button *ngIf="option.type === 'choice'" (click)="storyOptionClicked(option)">{{option.optionButtonType}}</ion-button>
        <h2>{{option.optionDescription}}</h2>
      </div>
    </div>
    <div *ngIf="!currentStory.panels[currentSlideIndex].nextPanelOptions">
      {{currentStory.panels[currentSlideIndex].conclusion}}
      <ion-button (click)="tryAgainClicked()">Try Again?</ion-button>
    </div>
  </div>

</ion-content>