.button-container {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.story-panel-img {
    margin-bottom: 10px;
    margin-top: 5px;
}

.ion-slide {
    padding-bottom: 40px;
}

.swipe-left {
    opacity: 0.5;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.option-container {
    display: flex;
    flex-direction: row;

    ion-button {
        max-width: 200px;
    }
}

.conclusion-container {
    margin: 20px;
}

.conclusion-text {
    font-size: 30px;
}