:host {
  display: block;
  margin: var(--tiny-padding) 0;
}

.course-accordion-container {
  padding: var(--small-padding);
  border: var(--border-thin-standard);
  border-radius: var(--ion-border-radius-small);
  background-color: var(--ion-color-primary-50);
  color: var(--ion-color-primary);
  width: 100%;
  height: 100%;

  .course-title {
    font-size: var(--font-size-text-large);
    font-weight: var(--font-weight-bold);
    color: var(--ion-color-primary);
    margin: 0;
    padding: 0;
  }

  .progress-bar-container {
    display: flex;
    gap: var(--tiny-padding);
    align-items: center;
    justify-content: space-between;
    plh-task-progress-bar {
      width: 100%;
    }
    .progress-bar-text {
      width: 100%;
      font-size: var(--font-size-text-tiny);
      color: var(--ion-color-primary);
      margin: 0;
      padding: 0;
    }
  }
}
