:host {
  display: block;
  margin: var(--small-padding) 0;
}

.course-accordion-container {
  border-radius: var(--ion-border-radius-small);
  background-color: var(--ion-color-primary-50);
  color: var(--ion-color-primary-800);
  letter-spacing: var(--font-letter-spacing, 0);
  width: 100%;
  height: 100%;

  &[data-state="locked"] {
    pointer-events: none;
    .course-button {
      border-color: var(--ion-color-primary-200);
      background-color: var(--ion-color-primary-50);
    }
    .course-image {
      opacity: 0.5;
    }
    .course-title-and-progress-bar {
      opacity: 0.5;
    }
    .course-button-icon {
      color: var(--ion-color-primary-600);
      opacity: 0.85;
    }
  }

  &[data-state="completed"] {
    color: var(--ion-color-primary-700);
    .course-button {
      border-color: var(--ion-color-primary-200);
      background-color: var(--ion-color-primary-50);
    }
    .sub-items-container {
      border-color: var(--ion-color-primary-200);
    }
  }

  /* When closed, button has rounded corners on all sides */
  &.accordion-closed .course-button {
    border-radius: var(--ion-border-radius-small);
  }

  /* Course button styling adapted from plh-module-list-item component */
  .course-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    min-height: 90px;
    padding: 0 var(--regular-padding);
    background-color: var(--ion-color-primary-100);
    border: 1px solid var(--ion-color-primary-500);
    border-radius: var(--ion-border-radius-small) var(--ion-border-radius-small) 0 0;

    .course-image {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      min-width: 40px;
      width: 56px;
      max-width: 66px;
      padding: var(--regular-padding) 0;
      img {
        width: 100%;
      }

      &[data-image-alignment="bottom"] {
        padding-bottom: 0;
        align-items: flex-end;
      }
    }
    .course-title-and-progress-bar {
      width: 100%;
      flex-shrink: 10;
      margin: 0 8px;
      margin-inline-end: auto;
      padding: var(--regular-padding) 8px;

      .course-title {
        font-size: var(--font-size-text-medium, 20px);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-text-small, 24px);
        text-align: start;
        margin: 0 4px;
      }

      .progress-bar-container {
        flex-shrink: 1;
        width: 100%;
        display: flex;
        gap: var(--tiny-padding, 6px);
        align-items: center;
        justify-content: space-between;
        --task-progress-bar-color: var(--ion-color-primary-700);
        --task-progress-bar-background-color: white;
        --task-progress-bar-height: 5px;
        plh-task-progress-bar {
          width: 100%;
        }
        .progress-bar-text {
          flex-shrink: 0;
          font-size: var(--font-size-text-small, 14px);
          font-weight: var(--font-weight-medium);
          color: var(--ion-color-primary-700);
          margin: 0;
          padding: 0;
        }
      }
    }
    .course-button-icon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: var(--icon-size-large, 32px);
      font-weight: var(--font-weight-bold);
      margin: 0 6px;
      padding: var(--regular-padding) 0;
      ion-icon {
        --ionicon-stroke-width: 48px;
      }
    }
  }

  .sub-items-container {
    border: var(--border-standard);
    border-top: 0;
    border-width: 1px;
    border-color: var(--ion-color-primary-500);
    border-radius: 0 0 var(--ion-border-radius-small) var(--ion-border-radius-small);
    padding: var(--small-padding);

    .sub-items-header {
      font-size: var(--font-size-text-small);
      font-weight: var(--font-weight-medium);
      color: var(--ion-color-gray-800);
      margin: 0 0 8px 0;
      padding: 0;
    }
  }
}
