// When the display group is "sticky", style it as an inline header/footer
:host {
  display: block;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 10;
}

// Top sticky positioning
:host[sticky-position="top"] {
  top: var(--ion-safe-area-top, 0);
}

:host[sticky-position="top"][ignore-safe-area="true"] {
  top: 0;
}

// Bottom sticky positioning
:host[sticky-position="bottom"] {
  bottom: var(--ion-safe-area-bottom, 0);
}

:host[sticky-position="bottom"][ignore-safe-area="true"] {
  bottom: 0;
}
