// When the display group is "sticky", style it as an inline header/footer
:host {
  display: flex;
  position: fixed;
  left: 0;
  width: 100vw;
  justify-content: center;
  z-index: 10;

  background-color: var(--ion-background-color);
  &[data-param-style~="background-transparent"] {
    background-color: transparent;
  }

  &[sticky-position="top"] {
    top: 0;
  }
  &[sticky-position="bottom"] {
    bottom: 0;
  }
}
