$toggleHeight: 22px;
$toggleWidth: 42px;
$togglePadding: 12px;

ion-toggle {
  width: $toggleWidth;
  height: $toggleHeight;
}

ion-toggle {
  --background: #b4b7b7;
  --handle-spacing: 2px;
  --background-checked: var(--ion-color-primary, "darkblue");
  --handle-background: var(--ion-item-background, #fefefe);
  --handle-background-checked: #fff;
  --padding-inline: $togglePadding;
}

.show-tick-cross {
  $iconPadding: 3px;
  ion-toggle[aria-checked="true"]::before,
  ion-toggle[aria-checked="false"]::after {
    position: absolute;
    top: $togglePadding + $iconPadding;
    left: $togglePadding + $iconPadding;
    color: white;
    z-index: 1;
    content: " ";
    width: $toggleWidth - 2 * $iconPadding;
    height: $toggleHeight - 2 * $iconPadding;
  }
  ion-toggle[aria-checked="true"]::before {
    background: url(/assets/icon/shared/tick.svg) no-repeat left / contain;
  }
  ion-toggle[aria-checked="false"]::after {
    background: url(/assets/icon/shared/cross.svg) no-repeat right / contain;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container[data-param-style~="in_button"] {
  flex-direction: row-reverse;
  ion-toggle {
    transform: translate($togglePadding, $togglePadding);
  }
}

.label {
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  text-align: right;
  line-height: 27px;
}

.center {
  justify-content: center;
}

.center .label {
  position: absolute;
  right: 0;
  max-width: calc(50% - 45px);
}

.right {
  flex-direction: row-reverse;
  .label {
    text-align: left;
  }
}

.toggle_wrapper {
  align-self: baseline;
  margin-top: 5px;
}
