ion-toggle {
  --background: #b4b7b7;
  width: 42px;
  height: 22px;
}

ion-toggle {
  --background: #b4b7b7;
  --background-checked: var(--ion-color-primary, "darkblue");
  --handle-background: var(--ion-item-background, #fefefe);
  --handle-background-checked: var(--ion-item-background, #fefefe);
}

ion-toggle {
  --handle-spacing: 2px;
}

.with_icons {
  ion-toggle.toggle-checked::before {
    position: absolute;
    top: 12px;
    left: 18px;
    right: auto;
    content: "\2713";
    color: white;
    font-weight: 600;
    font-size: 15px;
    z-index: 1;
  }

  ion-toggle.toggle-checked::after {
    position: absolute;
    top: 12px;
    left: auto;
    right: 16px;
    content: "";
    color: white;
    font-size: 20px;
    transform: rotate(135deg);
    z-index: 1;
    font-weight: 500;
  }

  ion-toggle::after {
    position: absolute;
    top: 12px;
    left: auto;
    right: 16px;
    content: "+";
    color: white;
    font-size: 20px;
    transform: rotate(135deg);
    z-index: 1;
    font-weight: 500;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  text-align: right;
  line-height: 27px;
}

.center {
  justify-content: center;
}

.center .label {
  position: absolute;
  right: 0;
  max-width: calc(50% - 45px);
}

.right .label {
  order: 1;
  text-align: left;
}

.toggle_wrapper {
  align-self: baseline;
  margin-top: 5px;
}

.right .toggle_wrapper {
  order: 2;
}
