$toggleHeight: 22px;
$toggleWidth: 42px;
$togglePadding: 12px;

ion-toggle {
  width: $toggleWidth;
  height: $toggleHeight;
}

ion-toggle {
  --track-background: #b4b7b7;
  --handle-spacing: 0px;
  --track-background-checked: var(--ion-color-primary, "darkblue");
  --handle-background: var(--ion-item-background, #fefefe);
  --handle-background-checked: #fff;
  --padding-inline: $togglePadding;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &[data-param-style~="in_button"],
  &[data-variant~="in_button"] {
    flex-direction: row-reverse;
    ion-toggle {
      transform: translate($togglePadding, $togglePadding);
    }
  }

  &[data-variant~="icon"] {
    .icon-wrapper {
      width: 24px;
      margin: 12px;
      img {
        width: 100%;
      }
    }
  }
}

.label {
  margin-left: var(--small-margin);
  margin-right: var(--small-margin);
  text-align: right;
  line-height: 27px;
}

.center {
  justify-content: center;
}

.center .label {
  position: absolute;
  right: 0;
  max-width: calc(50% - 45px);
}

.right {
  flex-direction: row-reverse;
  .label {
    text-align: left;
  }
}

.toggle_wrapper {
  align-self: baseline;
  margin-top: 5px;
}

.native-wrapper .toggle-icon {
  width: 36px;
  height: $toggleHeight;
}
