[data-variant~="caption"] {
  font-size: var(--font-size-text-small);
  text-align: center;
  position: relative;
  top: calc(0px - var(--large-margin));
  padding: 0 var(--tiny-padding);
}

[data-variant~="alternative"] {
  color: var(--ion-color-primary-contrast);
}

[data-variant~="contextual"] {
  font-weight: var(--font-weight-standard);
  font-style: italic;
}

[data-variant~="emphasised"] {
  font-weight: 700;
  font-style: normal;
}
