<plh-sub-header [title]="title"></plh-sub-header>

<ion-content class="ion-padding">
  <div *ngIf="modules">
    <div
      class="toolbox-button"
      *ngFor="let module of modules"
      (click)="onClickFlow(module)"
      [ngStyle]="{ 'background-color': 'var(--theme-var-' + module.module + ')' }"
    >
      <img
        class="toolbox-topic-icon"
        [src]="'assets/images/toolbox-icons/' + module.module + '.svg'"
      />
      <span class="toolbox-button-label">{{module.title}}</span>
    </div>
  </div>
</ion-content>
