@use "/src/theme/mixins";

.title-wrapper {
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
    line-height: var(--line-height-text-large);
    font-weight: var(--font-weight-bold);
    color: var(--title-text-color, var(--ion-color-primary));
    @media (max-width: 375px) {
      font-size: var(--font-size-title-tiny);
    }
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .alternative {
    line-height: var(--line-height-text-largest);
    color: var(--ion-color-primary-contrast);
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .tiny {
    font-size: var(--font-size-title-tiny);
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .small {
    font-size: var(--font-size-title-small);
  }
  .medium {
    font-size: var(--font-size-title-medium);
  }
  .large {
    font-size: var(--font-size-title-large);
  }
  .huge {
    font-size: var(--font-size-title-largest);
  }

  .title-help {
    margin-left: var(--tiny-margin);
    color: var(--ion-color-primary);
    @include mixins.small-square;
  }

  &[data-variant~="header"] {
    padding: var(--regular-padding);
    h1 {
      width: 100%;
      text-align: center !important;
    }
  }

  &[data-variant~="section_banner"] {
    padding: var(--regular-padding);
    background-color: color-mix(in srgb, var(--ion-color-primary-50), white 8%);
    border-bottom: 1.5px solid var(--ion-color-primary-200);
    h1 {
      font-size: var(--font-size-title-tiny);
      font-weight: var(--font-weight-bold);
    }
  }

  &[data-variant~="page_banner"] h1 {
    font-size: var(--font-size-title-medium);
    margin: var(--regular-margin) 0;
  }
}
