@use "/src/theme/mixins";

.searchbar {
  padding-top: 12px;
  padding-bottom: 12px;
  &.ios {
    position: unset;
    top: unset;
  }
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--ion-color-primary-800);
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  top: auto;
  margin-left: 32px;
}

ion-radio {
  --color: transparent;
  --color-checked: transparent;
}

ion-list {
  background-color: white;
}

ion-item {
  --background: white;
}

ion-item.selected {
  --background: var(--combo-box-background-with-value, var(--ion-color-primary-700));
  --color: var(--combo-box-selected-value-text, var(--ion-color-primary-50));
}
