.plh-tmpl-comp {
  // border:2px solid purple;
}

.hidden {
  display: none;
}

.display-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.plh-tmpl-comp {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  .animated_section{
    display: flex;
  }
}

.tmpl-image-container {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  margin: 10px;
}

.tmpl-video-container {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  margin: 10px;

  video {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
}

.template {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 100%;
  text-align: center;
}

::ng-deep .round-container {
  width: 100%;
  background-color: #fff;
  border: 2px solid #0d3f60;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  &-br-15 {
    border-radius: 15px;
  }
}

::ng-deep h2 {
  font-weight: bold;
  font-size: 25px;
  color: #0d3f60;
}

.title-wrapper {
  display: flex;
  align-items: center;

  .timer-help {
    margin-left: 8px;
    margin-top: 7px;
    color: #0d3f60;
    height: 32px;
    width: 32px;
  }
}
