@import "../../../../../theme/mixins.scss";

.plh-tmpl-comp {
  // border:2px solid purple;

  &.disabled {
    filter: grayscale(100%);
  }
}

.hidden {
  display: none;
}
:host .display-group .offset :nth-child(1n) {
  width: 100%;
}

.display-group {
  @include flex-centered;
  flex-direction: row;
  width: 100%;
  .offset {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    width: inherit;
  }
}
.tool_1 {
  @include essential-tool;
  background: var(--tool-one-bg);
}
.tool_2 {
  @include essential-tool;
  background: var(--tool-two-bg);
}
.tool_3 {
  @include essential-tool;
  background: var(--tool-three-bg);
}
.tool_4 {
  @include essential-tool;
  background: var(--tool-four-bg);
}
.tool_5 {
  @include essential-tool;
  background: var(--tool-five-bg);
}
.white_box {
  @include essential-tool;
  background: var(--ion-color-primary-contrast);
  border: var(--ion-border-standard);
}
.banner {
  margin-top: var(--regular-margin);
  padding: var(--largest-padding);
  border-radius: var(--ion-border-radius-secondary);
  background: var(--ion-dg-bg-default);
  margin-bottom: var(--regular-margin);
}

.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.plh-tmpl-comp {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  height: 100%;
  justify-content: inherit;
  align-items: inherit;
  .animated_section {
    display: flex;
  }
}

.tmpl-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.tmpl-video-container {
  width: 100%;
  display: flex;
  justify-content: center;

  video {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
}

.template {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--large-margin);
  h1 {
    margin: 0;
    line-height: 29px;
    font-weight: var(--font-weight-bold);
    @media (max-width: 375px) {
      font-size: var(--font-size-title-tiny);
    }
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .alternative {
    line-height: 26px;
    color: var(--ion-color-primary-contrast);
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .tiny {
    font-size: var(--font-size-title-tiny);
    @media (max-width: 320px) {
      font-size: var(--font-size-title-small-device);
    }
  }
  .small {
    font-size: var(--font-size-title-small);
  }
  .medium {
    font-size: var(--font-size-title-medium);
  }
  .large {
    font-size: var(--font-size-title-large);
  }
  .huge {
    font-size: var(--font-size-title-largest);
  }

  .title-help {
    margin-left: 8px;
    color: var(--ion-color-primary);
    height: 32px;
    width: 32px;
  }
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  color: var(--ion-color-primary);
  h2 {
    line-height: var(--line-height-text);
    margin: 0;
  }
  .medium {
    font-size: var(--font-size-subtitle-medium);
  }
  .small {
    font-size: var(--font-size-subtitle-small);
  }
  .large {
    font-size: var(--font-size-subtitle-large);
  }
}

.accordion-section {
  h2 {
    z-index: 2;
    text-align: center;
    margin: 0;
    font-size: var(--font-size-subtitle-small);
    font-weight: var(--font-weight-bold);
    padding: var(--accordion-section-padding);
    @media (max-width: 320px) {
      font-size: var(--font-size-subtitle-small-device);
    }
  }
}

.banner_active {
  background: var(--ion-banner-secondary);
  @include banner;
}

.banner_passive {
  background: var(--ion-banner-primary);
  @include banner;
}

.banner_light {
  color: var(--ion-color-primary);
  @include banner;
  background: var(--ion-color-primary-contrast);
}

.banner_welcome {
  margin-top: var(--regular-margin);
  border-radius: var(--ion-border-radius-secondary);
  width: 100%;
  margin-bottom: var(--largest-margin) !important;
  background: var(--ion-dg-bg-default);
  .offset {
    margin-bottom: -30px !important;
  }
  .offset {
    plh-template-component > .plh-tmpl-comp > plh-tmpl-image > .tmpl-image-container {
      height: 220px;
      &.margin-t-regular {
        margin-top: 0 !important;
      }
    }
  }
}

.banner_short {
  margin-top: var(--regular-margin);
  border-radius: var(--ion-border-radius-secondary);
  width: 100%;
  margin-bottom: var(--largest-margin) !important;
  padding: 0 24px;
  background: var(--ion-dg-bg-default);
  min-height: var(--banner-short-height);
  max-height: var(--banner-short-height);
  .offset {
    plh-template-component:first-child {
      flex: 2;
      padding: 0 15px 15px 0;
    }
    plh-template-component:last-child {
      flex: 1;
      min-width: 75px;
      max-width: fit-content;
      .plh-tmpl-comp > plh-tmpl-image > .tmpl-image-container {
        &.margin-t-regular {
          margin-top: 0 !important;
        }
      }
    }
  }
}

.home_screen {
  border-radius: var(--ion-border-radius-secondary);
  width: 100%;
  height: var(--home-screen-height);
  justify-content: space-between;
  @media (max-width: 320px) {
    height: var(--home-screen-height-small);
  }
  & .offset {
    width: 100%;
    plh-template-component:first-child {
      margin-bottom: 45px;
      padding-left: var(--large-padding);
      max-width: 15%;
      @media (max-width: 1024px) {
        max-width: 20%;
      }
      @media (max-width: 768px) {
        max-width: 25%;
      }
      @media (max-width: 414px) {
        max-width: 48%;
      }
      @media (max-width: 375px) {
        max-width: 50%;
      }
    }
    plh-template-component:last-child {
      flex: 1;
      padding-top: var(--huge-padding);
      @media (max-width: 375px) {
        h1 {
          font-size: var(--font-size-title-small-device) !important;
        }
      }
      @media (max-width: 320px) {
        h1 {
          font-size: 18px !important;
        }
      }
    }
  }
}
.light {
  background: var(--home-screen-light-bg);
}
.shade {
  background: var(--home-screen-shade-bg);
}
.dark {
  background: var(--home-screen-dark-bg);
}

.left {
  justify-content: start;
}
.right {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.rounded_corners {
  border-radius: var(--ion-border-radius-standard);

  img {
    border-radius: var(--ion-border-radius-standard);
  }
}
.whiteText {
  color: var(--ion-color-primary-contrast);
}
:host {
  plh-template-container {
    width: 100%;
  }
}

.plh-tmpl-comp[data-debug="true"] {
  display: block;
  border: 1px solid #c7c7c7;
  padding: 2px;
  margin: 2px;
}
