@import "../../../../../theme/variables.scss";

.plh-tmpl-comp {
  // border:2px solid purple;

  &.disabled {
    filter: grayscale(100%);
  }
}

.hidden {
  display: none;
}
:host .display-group .offset :nth-child(1n) {
  width: 100%;
}

.display-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  .offset {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    width: inherit;
  }
}
.tool_1 {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #f89b2d;
  border-radius: 20px;
}
.tool_2 {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #ff7a00;
  border-radius: 20px;
}
.tool_3 {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #0f8ab2;
  border-radius: 20px;
}
.tool_4 {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #096b8b;
  border-radius: 20px;
}
.tool_5 {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #0d3f60;
  border-radius: 20px;
}
.white_box {
  margin-top: var(--regular-margin);
  padding: 15px;
  flex-direction: column;
  background: #fff;
  border: 2px solid #0d3f60;
  border-radius: 20px;
}
.banner {
  margin-top: var(--regular-margin);
  padding: 15px;
  border-radius: 20px;
  background: var(--ion-dg-bg-default);
  margin-bottom: var(--regular-margin);
}

.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.plh-tmpl-comp {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  height: 100%;
  justify-content: inherit;
  align-items: inherit;
  .animated_section {
    display: flex;
  }
}

.tmpl-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.tmpl-video-container {
  width: 100%;
  display: flex;
  justify-content: center;

  video {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
}

.template {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--large-margin);
  h1 {
    margin: 0;
    line-height: 29px;
    font-weight: $font-weight-bold;
    @media (max-width: 375px) {
      font-size: 23px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
  .alternative {
    line-height: 26px;
    color: var(--ion-color-primary-contrast);
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
  .tiny {
    font-size: $font-size-title-tiny;
    @media (max-width: 375px) {
      font-size: 23px;
    }
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
  .small {
    font-size: $font-size-title-small;
  }
  .medium {
    font-size: $font-size-title-medium;
  }
  .large {
    font-size: $font-size-title-large;
  }
  .huge {
    font-size: $font-size-title-largest;
  }

  .title-help {
    margin-left: 8px;
    color: #0d3f60;
    height: 32px;
    width: 32px;
  }
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  color: var(--ion-color-primary);
  h2 {
    line-height: $line-height-text;
    margin: 0;
  }
  .medium {
    font-size: $font-size-subtitle-medium;
  }
  .small {
    font-size: $font-size-subtitle-small;
  }
  .large {
    font-size: $font-size-subtitle-large;
  }
}

.accordion-section {
  h2 {
    z-index: 2;
    text-align: center;
    margin: 0;
    font-size: $font-size-subtitle-small;
    font-weight: $font-weight-bold;
    padding: 10px 0 10px 0;
    @media (max-width: 320px) {
      font-size: 17px;
      padding: 11px 0 10px 0;
    }
  }
}

.banner_active {
  margin-top: var(--regular-margin);
  background: var(--ion-banner-secondary);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto 5px auto;
}

.banner_passive {
  margin-top: var(--regular-margin);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto 5px auto;
  background: var(--ion-banner-primary);
}

.banner_light {
  color: var(--ion-color-primary);
  margin-top: var(--regular-margin);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto 5px auto;
  background: var(--ion-color-primary-contrast);
}

.banner_welcome {
  margin-top: var(--regular-margin);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px !important;
  background: var(--ion-banner-primary);
  .offset {
    margin-bottom: -30px !important;
  }
  .offset {
    plh-template-component > .plh-tmpl-comp > plh-tmpl-image > .tmpl-image-container {
      height: 220px;
      &.margin-t-regular {
        margin-top: 0 !important;
      }
    }
  }
  &.active {
    background: var(--ion-banner-secondary);
  }
  &.passive {
    background: var(--ion-banner-primary);
  }
}

.banner_short {
  margin-top: var(--regular-margin);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px !important;
  background: var(--ion-banner-primary);
  padding: 0 24px;
  min-height: var(--banner-short-height);
  max-height: var(--banner-short-height);
  .offset {
    plh-template-component:first-child {
      flex: 2;
      padding: 0 15px 15px 0;
    }
    plh-template-component:last-child {
      flex: 1;
      min-width: 75px;
      max-width: fit-content;
      .plh-tmpl-comp > plh-tmpl-image > .tmpl-image-container {
        &.margin-t-regular {
          margin-top: 0 !important;
        }
      }
    }
  }
  &.active {
    background: var(--ion-banner-secondary);
  }
  &.passive {
    background: var(--ion-banner-primary);
  }
}

.home_screen {
  border-radius: 20px;
  width: 100%;
  height: 154px;
  justify-content: space-between;
  @media (max-width: 320px) {
    height: 130px;
  }
  & .offset {
    width: 100%;
    padding-left: 10px;
    plh-template-component:first-child {
      margin-bottom: 40px;
      max-width: 50%;
      @media (max-width: 375px) {
        width: 52%;
      }
    }
    plh-template-component:last-child {
      flex: 1;
      padding-top: 40px;
      @media (max-width: 375px) {
        h1 {
          font-size: 21px !important;
        }
      }
      @media (max-width: 320px) {
        h1 {
          font-size: 18px !important;
        }
      }
    }
  }
}
.light {
  background: linear-gradient(to right, #b3edfd, #08a6d1);
}
.shade {
  background: linear-gradient(168.11deg, #69cce7 36%, #076179 111.65%);
}
.dark {
  background: linear-gradient(172.6deg, #0391b8 20.92%, #002934 96.06%);
}

.left {
  justify-content: start;
}
.right {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.rounded_corners {
  border-radius: 15px;

  img {
    border-radius: 15px;
  }
}
.whiteText {
  color: #fff;
}
:host {
  plh-template-container {
    width: 100%;
  }
}

.plh-tmpl-comp[data-hidden="true"] {
  display: none;
}
.plh-tmpl-comp[data-debug="true"] {
  display: block;
  border: 1px solid #c7c7c7;
  padding: 2px;
  margin: 2px;
}
