.plh-tmpl-comp {
  // border:2px solid purple;
}

.hidden {
  display: none;
}
:host .display-group .offset :nth-child(1n) {
  width: 100%;
}

.display-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  .offset {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    width: inherit;
  }
}
.tool_1 {
  padding: 15px;
  flex-direction: column;
  background: #f89b2d;
  border-radius: 20px;
}
.tool_2 {
  padding: 15px;
  flex-direction: column;
  background: #ff7a00;
  border-radius: 20px;
}
.tool_3 {
  padding: 15px;
  flex-direction: column;
  background: #0f8ab2;
  border-radius: 20px;
}
.tool_4 {
  padding: 15px;
  flex-direction: column;
  background: #096b8b;
  border-radius: 20px;
}
.tool_5 {
  padding: 15px;
  flex-direction: column;
  background: #0d3f60;
  border-radius: 20px;
}
.white_box {
  padding: 15px;
  flex-direction: column;
  background: #fff;
  border: 2px solid #0d3f60;
  border-radius: 20px;
}

.plh-tmpl-comp {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  justify-content: inherit;
  align-items: inherit;
  .animated_section {
    display: flex;
  }
}

.tmpl-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tmpl-video-container {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  margin: 10px;

  video {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
  }
}

.template {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 100%;
  margin: 0;
}

::ng-deep .round-container {
  width: 100%;
  background-color: #fff;
  border: 2px solid #0d3f60;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  &-br-15 {
    border-radius: 15px;
  }
}

::ng-deep h2 {
  font-weight: bold;
  font-size: 18px;
  color: #0d3f60;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding: var(--regular-padding);
  h1 {
    font-size: 25px;
    margin: 0;
    @media (max-width: 375px) {
      font-size: 23px;
    }
  }
  .primary {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #0d4060;
  }
  .white {
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
    color: #ffffff;
    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
  .title-help {
    margin-left: 8px;
    color: #0d3f60;
    height: 32px;
    width: 32px;
  }
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  padding: var(--regular-padding);
  h2 {
    font-size: 20px;
    line-height: 22px;
  }
  .standard {
    color: #0d4060;
  }
  .alternative {
    color: white;
  }
}

.accordion-section {
  h2 {
    z-index: 2;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
  }
}

.banner_active {
  background: linear-gradient(179.77deg, #ffe16a 34.6%, #ffb833 105.68%);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto 5px auto;
}

.banner_passive {
  border-radius: 20px;
  width: 100%;
  margin: 0 auto 5px auto;
  background: linear-gradient(179.77deg, #b3edfd 34.6%, #60ddff 65.78%, #09b9e9 105.68%);
}

.home_screen {
  border-radius: 20px;
  width: 100%;
  height: 154px;
  justify-content: space-between;
  @media (max-width: 320px) {
    height: 130px;
  }
  & .offset {
    width: 100%;
    plh-template-component:first-child {
      margin-bottom: 40px;
      width: 57%;
      @media (max-width: 375px) {
        width: 52%;
      }
    }
    plh-template-component:last-child {
      flex: 1;
      padding-top: 15px;
    }
  }
}
.standart {
  background: linear-gradient(to right, #b3edfd, #08a6d1);
}
.shade {
  background: linear-gradient(168.11deg, #69cce7 36%, #076179 111.65%);
}
.dark {
  background: linear-gradient(172.6deg, #0391b8 20.92%, #002934 96.06%);
}

.left {
  justify-content: start;
}
.right {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.rounded_corners {
  border-radius: 15px;
}
.whiteText {
  color: #fff;
}
:host {
  plh-template-container {
    width: 100%;
  }
}

.plh-tmpl-comp[data-hidden="true"] {
  display: none;
}
.plh-tmpl-comp[data-debug="true"] {
  display: block;
  border: 1px solid #c7c7c7;
  padding: 2px;
  margin: 2px;
}
