<div class="toolbar-container">
  <ion-item lines="none" style="width: 100px">
    <ion-checkbox
      labelPlacement="stacked"
      [(ngModel)]="feedbackService.options.navigationEnabled"
      (ionChange)="feedbackService.setNavigationEnabled(feedbackService.options.navigationEnabled)"
      >Navigation</ion-checkbox
    >
  </ion-item>
  <ion-item lines="none" style="flex: 2">
    <ion-range
      class="width-select"
      [pin]="true"
      [ticks]="true"
      [snaps]="true"
      [min]="320"
      [max]="1280"
      [step]="160"
      [(ngModel)]="feedbackService.options.contentPageWidth"
      (ionChange)="feedbackService.setContentPageWidth(feedbackService.options.contentPageWidth)"
      label="Page Width"
      labelPlacement="stacked"
    >
    </ion-range>
  </ion-item>
</div>
