<div class="toolbar-container">
  <ion-item lines="none" style="flex: 1">
    <ion-label class="tool-label" position="stacked">Enabled</ion-label>
    <ion-checkbox
      [(ngModel)]="feedbackEnabled"
      (ionChange)="feedbackService.setReviewMode(feedbackEnabled)"
    ></ion-checkbox>
  </ion-item>
  <ion-item lines="none" style="flex: 1">
    <ion-label class="tool-label" position="stacked">Navigation</ion-label>
    <ion-checkbox
      [(ngModel)]="navigationEnabled"
      (ionChange)="feedbackService.setNavigationEnabled(navigationEnabled)"
    ></ion-checkbox>
  </ion-item>
  <ion-item lines="none" style="flex: 2">
    <ion-label class="tool-label" position="stacked">Page Width</ion-label>
    <ion-range
      class="width-select"
      [pin]="true"
      [ticks]="true"
      [snaps]="true"
      [min]="320"
      [max]="1280"
      [step]="160"
      [(ngModel)]="contentPageWidth"
      (ionChange)="feedbackService.setContentPageWidth(contentPageWidth)"
    >
    </ion-range>
  </ion-item>
</div>
