ion-modal.combo-box-modal {
  --height: auto;
  --max-height: 90vh;
  --border-color: var(--ion-border-standard);
  --border-radius: var(--ion-border-radius-secondary);
  --border-style: solid;
  --border-width: 2px;
  --background: var(--ion-color-primary-contrast);
  --max-width: 90vw;
}
