<div class="wrapper margin-t-regular" [class]="parameters.style()">
  <ion-input
    #input
    class="text-box-input"
    [inputmode]="parameters.isNumberInput() ? 'tel' : 'text'"
    (ionChange)="handleChange(input.value)"
    [value]="parameters.prioritisePlaceholder() ? '' : value()"
    [placeholder]="parameters.placeholder()"
    [maxlength]="parameters.maxLength()"
    [style.textAlign]="parameters.textAlign()"
    [disabled]="parameters.disabled()"
    [attr.data-test]="name()"
  ></ion-input>
</div>
