.plh-bottom-nav-wrapper {
  display: flex;
}
.nav-item {
  flex: 1 0 0;
  overflow: hidden; // text overflow will be wrapped in elipsis below
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.label {
  width: 100%;
  text-align: center;
}
// Hide inactive text buttons when set by param
.label[data-isActive="false"][data-hideInactiveText="true"] {
  // visibility: hidden;
  display: none;
}

.label[data-hideOverflowText="true"] > p {
  white-space: nowrap; /* don’t wrap */
  overflow: hidden; /* hide overflow */
  text-overflow: ellipsis; /* show "..." */
  display: block; /* required for ellipsis to work reliably */
}
