.plh-bottom-nav-wrapper {
  display: flex;
}
.nav-item {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.label {
  width: 100%;
  text-align: center;
  p {
    white-space: nowrap;
  }
}

// Hide inactive text buttons when set by param
.label[data-isActive="false"][data-hideInactiveText="true"] {
  display: none;
}
