/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom Styles */
@import "./theme/layout";
@import "./theme/typography";
@import "./theme/tooltip";
.slide-up-modal {
  .modal-wrapper {
    max-width: 80%;
    min-height: 200px;
    height: auto;
    display: flex;
    margin: 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    animation-name: slide-up;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    position: relative;
    transform: rotate(-60deg);
  }

  @keyframes slide-up {
    from {
      transform: rotate(-60deg);
      bottom: -600px;
    }
    to {
      transform: rotate(0deg);
      bottom: 0px;
    }
  }
}
// TODO - these need to be resolved with some of the hardcoded methods that set height:100% and display:flex
plh-template-component[data-hidden="true"] {
  display: none !important;
}
plh-template-component[data-debug-hidden="true"] {
  display: flex !important;
  flex: 1 !important;
  height: unset !important;
}
.plh-tmpl-comp[data-debug="true"] {
  height: unset;
}
.no_padding {
  padding: 0 !important;
}
.picker {
  padding: 0 50px;
  .picker-col:nth-child(2) {
    max-width: 30px;
    margin-left: 50px;
  }
  .picker-col:nth-child(5) {
    max-width: 30px;
    margin-right: 50px;
  }
  .picker-col:nth-child(3)::after {
    content: ":";
    position: absolute;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 30px;
    height: 100%;
    transform: translate(13px, -13px);
  }
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.min.css";
