/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom Styles */
@import "./theme/layout";
@import "./theme/typography";

.slide-up-modal {
    .modal-wrapper {
        max-width: 80%;
        min-height: 200px;
        height: auto;
        display: flex;
        margin: 40px;
        border-radius: 40px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        animation-name: slide-up;
        animation-iteration-count: 1;
        animation-duration: 0.4s;
        position: relative;
        transform: rotate(-60deg);
    }

    @keyframes slide-up {
        from {
            transform: rotate(-60deg);
            bottom: -600px;
        }
        to {
            transform: rotate(0deg);
            bottom: 0px;
        }
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";