/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use "./theme/breakpoints";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom Styles */
@import "./theme/fonts";
@import "./theme/layout";
@import "./theme/typography";
@import "./theme/tooltip";
@import "./theme/variables.scss";
@import "./theme/deployment/deployment.scss";

/* Styles for 3rd prty libraries */
@import "~nouislider/distribute/nouislider.min.css";
@import "~swiper/scss";

$tour-next-button-background: var(
  --tour-next-button-background,
  var(--gradient-secondary-mid-vertical)
);

.slide-up-modal {
  .modal-wrapper {
    max-width: 80%;
    min-height: 200px;
    height: auto;
    display: flex;
    margin: 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    animation-name: slide-up;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    position: relative;
    transform: rotate(-60deg);
  }

  @keyframes slide-up {
    from {
      transform: rotate(-60deg);
      bottom: -600px;
    }
    to {
      transform: rotate(0deg);
      bottom: 0px;
    }
  }
}
// TODO - these need to be resolved with some of the hardcoded methods that set height:100% and display:flex

.no_padding {
  padding: 0 !important;
}
.picker {
  padding: 0 50px;
  .picker-col:nth-child(2) {
    max-width: 30px;
    margin-left: 50px;
  }
  .picker-col:nth-child(5) {
    max-width: 30px;
    margin-right: 50px;
  }
  .picker-col:nth-child(3)::after {
    content: ":";
    position: absolute;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 30px;
    height: 100%;
    transform: translate(13px, -13px);
  }
}
//TOUR STYLES
.tooltipClass {
  border-radius: var(--ion-border-radius-standard);
  color: var(--ion-color-primary);
  min-width: calc(var(--content-max-width) - 2rem);
  @include breakpoints.desktop {
    min-width: var(--content-max-width);
  }
  margin: auto;
  font-size: var(--font-size-text-medium);
  right: 0;
  @media (max-width: 320px) {
    font-size: 16px;
  }
  .introjs-tooltip-header {
    padding-top: var(--largest-padding);
    .introjs-tooltip-title {
      font-size: var(--font-size-title-tiny);
      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
  }
  .introjs-skipbutton {
    position: absolute;
    top: 0;
    right: 1px;
    font-weight: 300;
    font-size: 35px;
    color: var(--ion-color-primary);
  }
  .introjs-tooltipbuttons {
    border-top: none;
    padding: 10px 10px 20px 10px;
  }
  .introjs-bullets {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%, -5%);
  }
  .introjs-bullets ul li a {
    border: var(--ion-border-thin-standard);
    background: var(--ion-color-primary-contrast);
  }
  .introjs-bullets ul li a.active {
    width: 6px;
    background: var(--ion-color-primary);
  }
}
.buttonClass {
  border: var(--ion-border-thin-standard);
  padding: 10px 15px;
  border-radius: var(--ion-border-radius-small);
  box-shadow: var(--ion-default-box-shadow);
  outline: none;
  color: var(--ion-color-primary);
  font-weight: 500;
  font-size: 20px;
  @media (max-width: 320px) {
    font-size: 16px;
  }
  &.introjs-nextbutton {
    background: $tour-next-button-background;
    color: var(--ion-color-primary-contrast);
    border: none;
  }
}
