.lesson-cta-container {
  border-radius: var(--ion-border-radius-small);
  background-color: var(--ion-color-primary-50);
  color: var(--ion-color-primary-800);
  width: 100%;
  padding: var(--regular-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-padding);
  position: relative;

  .badge {
    position: absolute;
    top: -12px;
    left: -10px;
    background-color: var(--ion-background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-color-green);
    border-radius: var(--ion-border-radius-rounded);
    padding: 4px 16px;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-medium);
    margin: 0;

    .badge-text {
      margin: 0;
    }
  }

  .title {
    font-size: var(--font-size-text-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-text-medium);
    margin: 0;
  }

  .subtitle {
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-text-small);
    margin: 0;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cta-text {
      font-size: var(--font-size-text-small);
      font-weight: var(--font-weight-medium);
      margin: 0;
    }
  }
}
