$border-color: var(--plh-lesson-cta-border-color, var(--ion-color-green-900));
$background-color: var(--plh-lesson-cta-background-color, var(--ion-color-green-700));

:host {
  margin-bottom: var(--small-margin);
}

.lesson-cta-container {
  border-radius: var(--ion-border-radius-small);
  border: 1px solid $border-color;
  background-color: $background-color;
  color: white;
  letter-spacing: var(--font-letter-spacing);
  width: 100%;
  padding: var(--large-padding) var(--regular-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-padding);
  position: relative;
  cursor: pointer;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;

  .badge {
    position: absolute;
    top: -12px;
    left: -10px;
    background-color: var(--ion-background-color);
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    border-radius: var(--ion-border-radius-rounded);
    padding: 4px 16px;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-medium);
    margin: 0;

    .badge-text {
      margin: 0;
    }
  }

  .content {
    width: 100%;
    padding-bottom: var(--small-padding);

    .title {
      font-size: var(--font-size-text-large);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-text-medium);
      margin: 0;
    }

    .subtitle {
      font-size: var(--font-size-text-small);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-text-small);
      margin: 0;
    }

    .progress-bar-container {
      width: 80%;
      margin-top: var(--small-padding);
      // Override the default task progress bar styles for the lesson CTA using theme variables
      --task-progress-bar-color: #{$border-color};
      --task-progress-bar-background-color: white;
      --task-progress-bar-height: 5px;
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ion-button.cta-button {
      margin: 2px;
      height: 60px;
      width: 60px;
      --background: white;
      --border-color: #{$border-color};
      --color: #{$border-color};
      --border-style: solid;
      --border-width: 1px;
    }

    .cta-text {
      font-size: var(--font-size-text-small);
      font-weight: var(--font-weight-medium);
      text-align: center;
      margin: 0;
    }

    ion-icon {
      font-size: 32px;
      --ionicon-stroke-width: 36px;
    }
  }
}
