<ion-content class="ion-padding container">
  <h3>Things to do</h3>
  <div *ngFor="let task of tasksService.userRegularTasks" trackBy:trackById>
    <plh-task-reminder-item [task]="task"></plh-task-reminder-item>
  </div>

  <h3>Next on your journey</h3>
  <div *ngFor="let task of tasksService.userJourneyTasks" trackBy:trackById>
    <plh-task-reminder-item [task]="task"></plh-task-reminder-item>
  </div>
  <ion-button (click)="openRewardModal('elder-waving')">Open Reward Modal (Waving Elder Blob)</ion-button>
</ion-content>
