<div [style]="{ width: isInPopUp ? '100%' : '50%' }" class="formWrapper">
  <form *ngIf="isSuggest || isComment" action="">
    <div *ngIf="isComment" class="comment">
      <textarea
        [(ngModel)]="reviewingForm.comment"
        name="comment"
        style="width: 100%; height: 200px"
        placeholder="Leave a comment here"
      ></textarea>
    </div>
    <div *ngIf="isSuggest" class="form">
      <div class="input">
        <input [(ngModel)]="reviewingForm.currentValue" name="current" type="text" />
      </div>
      <div class="input">
        <input
          [(ngModel)]="reviewingForm.suggestChange"
          name="suggestChange"
          placeholder="suggest change"
          type="text"
        />
      </div>
    </div>
    <ion-button (click)="submit()">Submit</ion-button>
  </form>
</div>
