/* quicksand-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/quicksand-v37-latin/quicksand-v37-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../../../assets/fonts/quicksand-v37-latin/quicksand-v37-latin-500.woff2")
    format("woff2");
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("../../../assets/fonts/quicksand-v37-latin/quicksand-v37-latin-600.woff2")
    format("woff2");
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../../../assets/fonts/quicksand-v37-latin/quicksand-v37-latin-700.woff2")
    format("woff2");
}
