@import "../../../../../../theme/variables.scss";
.workshops-accordion {
  position: relative;
  margin-top: var(--large-margin);
  &::after {
    content: "";
    width: 1px;
    height: calc(100% - 35px);
    background: var(--ion-color-tertiary);
    position: absolute;
    left: 21px;
    top: 0;
    margin-top: 15px;
  }
}
.accordion-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  height: 100%;
  .accordion-status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    background: var(--ion-color-primary-contrast);
    z-index: 2;
    &.inProgress {
      background: var(--ion-accrodion-status-gradient);
    }
    &.disabled {
      background: var(--ion-color-primary-contrast);
    }
    &.completed {
      background: var(--ion-accrodion-status-gradient);
    }
  }
  .accordion-section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    border-radius: $border-radius-standard;
    overflow: hidden;
    max-height: 43px;
    padding: 0 10px 10px 10px;
    border: 1px solid var(--ion-color-primary);
    transition: max-height 0.4s;
    overflow-y: hidden;
    &.completed {
      background: var(--ion-accordion-bg);
      color: var(--ion-color-primary);
      .progress {
        opacity: 0;
      }
    }
    &.disabled {
      background: var(--ion-color-primary-contrast);
      color: var(--ion-color-primary);
      .progress {
        opacity: 0;
      }
    }
    &.inProgress {
      background: var(--ion-color-primary-contrast);
      color: var(--ion-color-primary);
    }
    &.openSection {
      max-height: 600px !important;
      background: var(--ion-accordion-bg);
      transition: max-height 0.4s;
      .progress {
        opacity: 0;
        transition: none !important;
      }
    }
    .progress {
      position: absolute;
      height: 100%;
      left: 0;
      z-index: 1;
      background: var(--ion-accordion-bg);
      opacity: 1;
      transition: opacity 0.4s ease-in;
    }
  }
}
