:host {
  width: 100%;
}
.display-group-wrapper {
  display: flex;
  align-items: center;
}
/// In flex box components should try to fill height, but not width (leave to flex property)
.display-group-wrapper > plh-template-component {
  height: 100%;
  width: unset;
}
/// In columns we want the opposite, so that width full but not necessarily height
.display-group-wrapper[data-param-style~="column"] {
  flex-direction: column;
}
.display-group-wrapper[data-param-style~="column"] > plh-template-component {
  height: unset;
  width: 100%;
}
.display-group-wrapper[data-param-style~="wrap"] {
  flex-wrap: wrap;
}

// Default spacing within display groups. Adapted from `template-component.scss`

.display-group-wrapper > plh-template-component:not([data-hidden="true"]) {
  margin: 0 0 0 1em;
}
.display-group-wrapper > plh-template-component:not([data-hidden="true"]):first-of-type {
  margin: 0;
}

.display-group-wrapper[data-param-style~="column"]
  > plh-template-component:not([data-hidden="true"]) {
  margin: 1em 0 0 0;
}
.display-group-wrapper[data-param-style~="column"]
  > plh-template-component:not([data-hidden="true"]):first-of-type {
  margin: 0;
}
