:host {
  width: 100%;
}
.display-group-wrapper {
  display: flex;
  align-items: center;
}
/// In flex box components should try to fill height
.display-group-wrapper > plh-template-component {
  height: 100%;
}
.display-group-wrapper[data-param-style~="column"] > plh-template-component {
  height: unset;
}
