::ng-deep {
  .my-custom-modal {
    --height: auto;
    @media (max-width: 450px) {
      //padding: 20% 2%  !important;
    }

    //padding: 20% 10%  !important;
    .modal-wrapper {
      max-width: 90vw;
      background: #fff;
      border: 2px solid #0d4060;
      box-sizing: border-box;
      border-radius: 20px;
      .ion-page {
        max-height: 90vh;
        position: relative;
        contain: content;
      }
    }
  }
  .wrapper {
    padding: 0;
    .text-box-input {
      background: #fff;
      border: 2px solid #096b8b;
      width: 100%;
      min-height: 55px;
      border-radius: 20px;
      font-size: 20px;
      color: #0d4060;
      text-align: center;
      font-weight: 500;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
    }
  }
}

.container-modal {
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 20px;
  overflow: auto;
  .header {
    font-size: 20px;
    text-align: center;
    color: #0d4060;
    margin-bottom: 20px;
  }
  .form {
    display: flex;
    width: 100%;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .reverse {
      flex-direction: column-reverse;
    }
    .container-radio {
      margin-bottom: 20px;
      min-height: 55px;
      width: 100%;
      background: #ffffff;
      border: 2px solid #0d4060;
      box-sizing: border-box;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        display: none;
      }
      label {
        padding: 5px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        color: #0d3f60;
      }
    }
    .checked-radio {
      background: var(--ion-btn-primary);
      label {
        color: #fff;
      }
    }
  }
}
