<div class="navigation-bar-wrapper" [attr.data-variant]="params().variant">
  @for (button of params().buttonList; track button.target_template) {
    <a
      class="button-wrapper"
      routerLinkActive="active-link"
      [routerLink]="'template/' + button.target_template"
      [attr.data-name]="button.name"
    >
      <div class="image-wrapper">
        <img [src]="button.image | plhAsset" />
      </div>
      @if (button.text) {
        <p>{{ button.text }}</p>
      }
    </a>
  }
</div>
