@use "/src/theme/mixins";

$item-background: var(--points-item-background, var(--ion-color-primary-200));

.wrapper-point {
  padding: calc(var(--regular-padding) * var(--scale-factor--point))
    calc(5px * var(--scale-factor--point));
  .item {
    @include mixins.flex-centered;
    margin: 0 auto;
    padding: calc(20px * var(--scale-factor--point)) 0;
    width: calc(var(--points-item-width) * var(--scale-factor--point));
    height: calc(var(--points-item-height) * var(--scale-factor--point));
    background: $item-background;
    box-shadow: var(--ion-default-box-shadow);
    border-radius: var(--ion-border-radius-standard);
    position: relative;
    flex-direction: column;

    .star {
      @include mixins.flex-centered;
      position: absolute;
      left: -12px;
      top: -16px;
      .star-value {
        padding-top: 4px;
        font-weight: var(--font-weight-standard);
        font-size: calc(var(--line-height-text-tiny) * var(--scale-factor--point));
        color: var(--ion-color-primary);
        position: absolute;
      }
      img {
        width: calc(47px * var(--scale-factor--point));
        height: calc(47px * var(--scale-factor--point));
      }
    }
    .info-button {
      position: absolute;
      right: 6px;
      top: 6px;
      img {
        width: calc(28px * var(--scale-factor--point));
        height: calc(28px * var(--scale-factor--point));
      }
    }
    .image {
      max-height: calc(100% * var(--scale-factor--point));
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin: var(--tiny-margin) 0;
      font-weight: var(--font-weight-standard);
      font-size: calc(var(--font-size-text-small) * var(--scale-factor--point));
      line-height: var(--line-height-text-small);
      text-align: center;
      color: var(--ion-color-primary);
      padding: 0 var(--tiny-padding);
    }
  }
  .complete {
    background: var(--ion-color-primary-contrast);
  }
}
.celebrationAnim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.on-add {
  animation: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
