@import "../../../../../../theme/mixins.scss";

.wrapper-point {
  padding: calc(15px * var(--scale-factor--point)) calc(5px * var(--scale-factor--point));
  .item {
    @include flex-centered;
    margin: 0 auto;
    padding: calc(20px * var(--scale-factor--point)) 0;
    width: calc(176px * var(--scale-factor--point));
    height: calc(152px * var(--scale-factor--point));
    background: #b3edfd;
    box-shadow: var(--ion-default-box-shadow);
    border-radius: var(--ion-border-radius-standard);
    position: relative;
    flex-direction: column;

    .star {
      @include flex-centered;
      position: absolute;
      right: -12px;
      top: -16px;
      .star-value {
        padding-top: 4px;
        font-weight: 500;
        font-size: calc(15px * var(--scale-factor--point));
        color: var(--ion-color-primary);
        position: absolute;
      }
      img {
        width: calc(47px * var(--scale-factor--point));
        height: calc(47px * var(--scale-factor--point));
      }
    }
    .image {
      max-height: calc(100% * var(--scale-factor--point));
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin: 7px 0;
      font-weight: 500;
      font-size: calc(16px * var(--scale-factor--point));
      line-height: 18px;
      text-align: center;
      color: var(--ion-color-primary);
      padding: 0 5px;
    }
  }
  .complete {
    background: var(--ion-color-primary-contrast);
  }
}
.on-add {
  animation: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
