.wrapper-point {
  padding: 5px;
  .item {
    margin: 0 auto;
    padding: 12px 0;
    width: 174px;
    height: 153px;
    background: #b3edfd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .star {
      position: absolute;
      right: -12px;
      top: -16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .star-value {
        padding-top: 4px;
        font-weight: 500;
        font-size: 15px;
        color: #0d4060;
        position: absolute;
      }
      img {
        width: 47px;
        height: 47px;
      }
    }
    .image {
      max-height: 115px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      margin-top: 7px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      color: #0d4060;
      padding: 0 5px;
    }
  }
  .complete {
    background: white;
  }
}
.on-add {
  animation: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
