<div class="wrapper" [class.home_screen_wrapper]="isHomeScreen">
  <ion-tab-button
    [attr.data-variant]="params.variant"
    [class]="params.style || 'information'"
    (click)="onClick($event)"
    class="round-icon-button"
    [disabled]="_row.disabled"
  >
    <ion-icon
      [name]="params.icon_src"
      [style.place-items]="params.text ? 'flex-end' : 'center'"
      [style.margin-top]="params.text ? '5px' : '0'"
      [src]="isCustomIcon ? (params.icon_src | plhAsset) : params.icon_src"
    ></ion-icon>
    <div *ngIf="params.text">{{ params.text }}</div>
  </ion-tab-button>
</div>
