<div class="wrapper" [class.home_screen_wrapper]="isHomeScreen()">
  <ion-tab-button
    [attr.data-variant]="variantsString()"
    [class]="params().style"
    (click)="onClick($event)"
    class="round-icon-button"
    [disabled]="isDisabled()"
    [attr.data-has-text]="params().text ? true : null"
  >
    @if (params().iconSrc) {
      <!-- HACK: support icon being a path to an asset or assume it is the name of an ion-icon (e.g. chevron-forward) -->
      @if (params().iconSrc.includes(".")) {
        <ion-icon [src]="params().iconSrc | plhAsset"></ion-icon>
      } @else {
        <ion-icon [name]="params().iconSrc"></ion-icon>
      }
    }
    @if (params().text) {
      <div>{{ params().text }}</div>
    }
  </ion-tab-button>
</div>
