@use "/src/theme/mixins";

ion-tab-button {
  color: var(--ion-color-primary-contrast);
  text-transform: none;
  white-space: pre-line;
  min-height: var(--round-button-min-height);
  background: var(--ion-btn-primary);
  box-shadow: var(--ion-btn-dark-box-shadow);
  width: var(--round-button-width);
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: var(--ion-border-radius-rounded);
  ion-icon {
    @include mixins.flex-centered;
    width: 100%;
    margin-bottom: 0;
    flex: auto;
  }
}

ion-tab-button::part(native) {
  height: auto;
  flex: 1;
}

ion-tab-button:disabled,
ion-tab-button[disabled] {
  filter: brightness(55%);
}

ion-tab-button.round-icon-button::part(native) {
  border-radius: var(--ion-border-radius-rounded);
  padding: 0;
  height: 100%;
}
ion-tab-button {
  div {
    font-size: var(--round-button-font-size);
    white-space: pre-line;
    margin-top: var(--tiny-margin);
    margin-bottom: var(--small-margin);
    display: flex;
    align-items: center;
    text-transform: none;
  }
}
.home_screen {
  @include mixins.largest-square;
  @include mixins.absolute-centered;
  padding: var(--tiny-padding);
  @media (max-width: 375px) {
    width: var(--round-button-small-device-width);
    height: var(--round-button-small-device-height);
  }
  ion-icon {
    width: 75%;
  }
  div {
    margin-top: unset;
    margin-bottom: var(--tiny-margin);
    display: block;
    font-size: var(--round-button-home-screen-font-size);
  }
}
.wrapper {
  display: flex;
  width: fit-content;
}
.home_screen_wrapper {
  width: var(--round-button-wrapper-width);
  height: var(--round-button-wrapper-height);
  border-radius: var(--ion-border-radius-rounded);
  background: var(--ion-color-quaternary);
  position: relative;
  margin-left: auto;
  margin-right: -13px;
  @media (max-width: 375px) {
    width: var(--round-button-wrapper-small-device-width);
    height: var(--round-button-wrapper-small-device-height);
  }
}
.yellow {
  background: var(--round-icon-button-light);
}
.orange {
  background: var(--round-icon-button);
}
.dark_orange {
  background: var(--round-icon-button-dark);
}

.navigation {
  width: var(--round-button-navigation-width);
  min-height: var(--round-button-navigation-min-height);
  background: var(--ion-btn-secondary);
}

.information {
  background: var(--ion-btn-primary);
}

.make_me_smile {
  background: var(--ion-btn-primary);
  color: var(--ion-color-primary-contrast);
}

.get_me_going {
  background: var(--ion-btn-secondary);
  color: var(--ion-color-primary-contrast);
}

.options {
  background: var(--ion-gradient-option-btn);
  color: var(--ion-color-primary-contrast);
}

.standard {
  color: var(--ion-color-primary-contrast);
}
.alternative {
  color: var(--ion-color-primary);
}
