@use "/src/theme/mixins";

$background-primary: var(--button-background-primary, var(--gradient-primary-mid-vertical));
$background-secondary: var(--button-background-secondary, var(--gradient-secondary-mid-vertical));
$background-option: (--button-background-option, var(--gradient-primary-dark-vertical));
$background-secondary-light: var(
  --round-button-background-secondary-light,
  var(--ion-color-secondary-200)
);
$background-secondary-mid: var(
  --round-button-background-secondary-mid,
  var(--ion-color-secondary-400)
);
$background-secondary-dark: var(
  --round-button-background-secondary-dark,
  var(--ion-color-secondary-600)
);

ion-tab-button {
  color: var(--ion-color-primary-contrast);
  text-transform: none;
  white-space: pre-line;
  min-height: var(--round-button-min-height);
  background: $background-primary;
  box-shadow: var(--ion-default-box-shadow);
  width: var(--round-button-width);
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: var(--ion-border-radius-rounded);
  ion-icon {
    @include mixins.flex-centered;
    width: 100%;
    margin-bottom: 0;
    flex: auto;
  }
}

ion-tab-button::part(native) {
  height: auto;
  flex: 1;
}

ion-tab-button:disabled,
ion-tab-button[disabled] {
  filter: brightness(55%);
}

ion-tab-button.round-icon-button::part(native) {
  border-radius: var(--ion-border-radius-rounded);
  padding: 0;
  height: 100%;
}
ion-tab-button {
  div {
    font-size: var(--round-button-font-size);
    white-space: pre-line;
    margin-top: var(--tiny-margin);
    margin-bottom: var(--small-margin);
    display: flex;
    align-items: center;
    text-transform: none;
  }
}

.home_screen {
  @include mixins.largest-square;
  @include mixins.absolute-centered;
  padding: var(--tiny-padding);
  @media (max-width: 375px) {
    width: var(--round-button-small-device-width);
    height: var(--round-button-small-device-height);
  }
  ion-icon {
    width: 75%;
  }
  div {
    margin-top: unset;
    margin-bottom: var(--tiny-margin);
    display: block;
    font-size: var(--round-button-home-screen-font-size);
  }
}
.wrapper {
  display: flex;
  width: fit-content;
}
.home_screen_wrapper {
  width: var(--round-button-wrapper-width);
  height: var(--round-button-wrapper-height);
  border-radius: var(--ion-border-radius-rounded);
  background: var(--ion-background-color);
  position: relative;
  margin-left: auto;
  margin-right: -13px;
  @media (max-width: 375px) {
    width: var(--round-button-wrapper-small-device-width);
    height: var(--round-button-wrapper-small-device-height);
  }
}

ion-tab-button {
  &[data-variant~="information"],
  &.information {
    background: $background-primary;
  }

  &[data-variant~="yellow"],
  &.yellow {
    background: $background-secondary-light;
  }

  &[data-variant~="orange"],
  &.orange {
    background: $background-secondary-mid;
  }

  &[data-variant~="dark_orange"],
  &.dark_orange {
    background: $background-secondary-dark;
  }

  &[data-variant~="navigation"],
  &.navigation {
    width: var(--round-button-navigation-width);
    min-height: var(--round-button-navigation-min-height);
    background: $background-secondary;
  }

  &[data-variant~="make_me_smile"],
  &.make_me_smile {
    background: $background-primary;
    color: var(--ion-color-primary-contrast);
  }

  &[data-variant~="get_me_going"],
  &.get_me_going {
    background: $background-secondary;
    color: var(--ion-color-primary-contrast);
  }

  &[data-variant~="options"],
  &.options {
    background: $background-option;
    color: var(--ion-color-primary-contrast);
  }

  &[data-variant~="standard"],
  &.standard {
    color: var(--ion-color-primary-contrast);
  }

  &[data-variant~="alternative"],
  &.alternative {
    color: var(--ion-color-primary);
  }

  &[data-variant~="no-background"],
  &.no-background {
    background: transparent;
    box-shadow: none;
    ion-icon {
      height: 32px;
    }
  }
}
