@import "../../../../../../theme/mixins.scss";

ion-tab-button {
  color: var(--ion-color-primary-contrast);
  text-transform: none;
  white-space: pre-line;
  min-height: 58px;
  background: var(--ion-btn-primary);
  box-shadow: var(--ion-btn-dark-box-shadow);
  width: 58px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: var(--ion-border-radius-rounded);
  ion-icon {
    @include flex-centered;
    width: 100%;
    margin-bottom: 0;
    flex: auto;
  }
}

ion-tab-button::part(native) {
  height: auto;
  flex: 1;
}

ion-tab-button:disabled,
ion-tab-button[disabled] {
  filter: brightness(55%);
}

ion-tab-button.round-icon-button::part(native) {
  border-radius: var(--ion-border-radius-rounded);
  padding: 0;
  height: 100%;
}
ion-tab-button {
  div {
    font-size: 12px;
    white-space: pre-line;
    margin-top: var(--tiny-margin);
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    text-transform: none;
  }
}
.home_screen {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  @media (max-width: 375px) {
    width: 70px;
    height: 70px;
  }
}
.wrapper {
  display: flex;
  width: fit-content;
}
.home_screen_wrapper {
  width: 94px;
  height: 94px;
  border-radius: var(--ion-border-radius-rounded);
  background: #e3f4ff;
  position: relative;
  margin-left: auto;
  margin-right: -10px;
  @media (max-width: 375px) {
    width: 84px;
    height: 84px;
  }
}
.yellow {
  background: var(--button-icon-secondary-light);
}
.orange {
  background: var(--button-icon-secondary);
}
.dark_orange {
  background: var(--button-icon-secondary-dark);
}

.navigation {
  width: 50px;
  min-height: 50px;
  background: var(--ion-btn-secondary);
}

.information {
  background: var(--ion-btn-primary);
}

.make_me_smile {
  background: var(--ion-btn-primary);
  color: var(--ion-color-primary-contrast);
}

.get_me_going {
  background: var(--ion-btn-secondary);
  color: var(--ion-color-primary-contrast);
}

.options {
  background: var(--ion-gradient-option-btn);
  color: var(--ion-color-primary-contrast);
}

.standard {
  color: var(--ion-color-primary-contrast);
}
.alternative {
  color: var(--ion-color-primary);
}
