:host {
  flex: 2;
  border-left: 1px solid black;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        margin-top: 10px;
      }
    }
    ion-button {
      margin-top: 20px;
    }
  }
  .contextMenu {
    position: fixed;
    visibility: hidden;
    height: 100px;
    width: 250px;
    background: var(--ion-color-primary-contrast);
    height: fit-content;
    padding: var(--regular-padding);
    font-size: 13px;
    box-shadow: var(--ion-default-box-shadow);
    z-index: 10;
    .info {
      margin-bottom: 10px;
    }
    .dismiss {
      position: absolute;
      top: -9px;
      right: -5px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
