<div class="container">
  <h1>Leave your comment about page</h1>
  <h2>Right click on a specific component to comment about it</h2>
  <div class="formWrapper">
    <form *ngIf="isForm || isComment" action="">
      <div *ngIf="isComment" class="comment">
        <textarea style="width: 80%; height: 200px" placeholder="Leave a comment here"></textarea>
      </div>
      <div *ngIf="isForm" class="form">
        <div class="input">
          <input [value]="reviewingForm.currentValue" type="text" />
        </div>
        <div class="input">
          <input placeholder="suggest change" type="text" />
        </div>
      </div>
      <ion-button (click)="submit()" type="submit">Submit</ion-button>
    </form>
  </div>
  <div class="comments">
    <h2>Existing comments about this screen</h2>
    <p>no comments submitted yet</p>
  </div>
  <div #contextMenu class="contextMenu">
    <div class="info">
      <div *ngIf="isTextTypeRow" class="value">Text: {{ targetRow?.value }}</div>
    </div>
    <ion-button (click)="openComment()">Leave a comment</ion-button>
    <ion-button *ngIf="isTextTypeRow" (click)="openForm()">Suggest change</ion-button>
    <div (click)="dismissContextMenu()" class="dismiss">X</div>
  </div>
</div>
