# Generate a set of screenshots for the current branch and compare against previously generated on master
name: Test-Visual Compare Screenshots
on:
  pull_request:
    types: [labeled, synchronize]
    branches:
      - master
concurrency:
  group: test-visual-compare-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# env:
  # TODO - replace with dedicated screenshots deployment
  # DEPLOYMENT: plh_global

jobs:
  generate:
    if: contains(github.event.pull_request.labels.*.name, 'Test - visual')
    uses: ./.github/workflows/test-visual.yml
    secrets: inherit
    with:
      compare: true