.tile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    div {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
    }
  }

  .button-wrapper {
    .btn-tile {
      width: 73px;
      height: 73px;
      --background: transparent;
      --box-shadow: none;
      border: 1px solid #fff;
      --border-radius: 50%;
      border-radius: 50%;
      box-shadow: none;
      --ripple-color: transparent;
      img {
        width: 60px;
        height: 60px;
        max-width: initial;
      }
    }
  }
}
.default_style {
  padding: 17px 27px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 104px;
  max-width: 371px;
  border-radius: 15px;
  margin: 15px auto;
}

.workshop_page {
  display: flex;
  flex-direction: column;
  width: 132px;
  height: 111px;
  border-radius: 15px;
  background: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @media (max-width: 375px) {
    width: 122px;
    height: 101px;
  }
  @media (max-width: 320px) {
    width: 102px;
    height: 90px;
  }
  .button-wrapper {
    order: 1;
    .btn-tile {
      pointer-events: none;
      width: unset;
      height: 60px;
      --border-radius: unset;
      border-radius: unset;
    }
  }
  .text {
    order: 2;
    div {
      font-size: 16px;
      line-height: 16px;
      color: #0d4060;
    }
  }
}

.quick_start {
  background: linear-gradient(281.65deg, #ffd943 41.02%, #f49d04 102.14%);
}

.quick_start_passive {
  background: linear-gradient(168.87deg, #0f8ab2 28.12%, #0d4060 100%);
}
.quick_start_blue {
  background: linear-gradient(281.65deg, #b3edfd 41.02%, #08a6d1 102.14%);
  .text {
    div {
      color: #0d4060;
    }
  }
}
.quick_start_red {
  background: linear-gradient(168.87deg, #ff7a00 28.12%, #e13917 100%);
}
