@use "/src/theme/mixins.scss";

$background-default: var(--tile-button-background-default, var(--ion-color-primary-200));
$background-primary: var(--tile-button-background-primary, var(--gradient-primary-mid-vertical));
$background-primary-light: var(
  --tile-button-background-primary-light,
  var(--gradient-primary-light-vertical)
);
$background-secondary: var(
  --tile-button-background-secondary,
  var(--gradient-secondary-mid-vertical)
);
$background-secondary-light: var(
  --tile-button-background-secondary-light,
  var(--gradient-secondary-light-vertical)
);

// NOTE CC 2021-12-16 - Presumably this is for case of rendered markdown
// (but ideally should be handled from within markdown itself)
.first-line-text ::ng-deep,
.second-line-text ::ng-deep {
  p {
    margin: 0;
  }
}

.tile-wrapper {
  @include mixins.flex-space-between;
  .text > div {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-large);
    line-height: var(--line-height-text-largest);
    color: var(--ion-color-primary-contrast);
  }

  .button-wrapper {
    .btn-tile {
      width: var(--tile-button-width);
      height: var(--tile-button-height);
      --background: transparent;
      --box-shadow: none;

      box-shadow: none;
      --ripple-color: transparent;
      img {
        width: 60px;
        height: 60px;
      }
    }
    // Note - CC 2021-12-21 - Currently not in use in any templates, but keeping in case we want
    // to expose as a parameter option in the future
    .circle-border {
      border: var(--ion-border-light-thicker);
      --border-radius: var(--ion-border-radius-rounded);
      border-radius: var(--ion-border-radius-rounded);
    }
  }
}
.default_style {
  padding: var(--regular-padding, 10px);
  box-shadow: var(--ion-default-box-shadow);
  min-height: var(--tile-default-height);
  border-radius: var(--ion-border-radius-standard);
}

/***********************************************************************************************
*     PLH-specific page type stylings
    TODO - CC 2022-01-13 - Most of this should be reviewed and ideally replaced with more
    simple components (e.g. display groups)
************************************************************************************************/
.workshop_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  min-height: 7rem;
  border-radius: var(--ion-border-radius-standard);
  border: var(--ion-border-thin-standard);
  background: var(--ion-color-primary-contrast);
  text-align: center;
  padding: var(--tiny-padding);
  box-shadow: var(--ion-default-box-shadow);

  .button-wrapper {
    order: 1;
    width: 100%;

    .btn-tile {
      pointer-events: none;
      border: 0;
      margin: 0;
      --border-radius: unset;
      border-radius: unset;
      width: 100%;
      height: 100%;

      img {
        width: 6rem;
        height: 4.5rem;
      }
    }
  }
  .text {
    order: 2;
    div {
      color: var(--ion-color-primary);
    }
  }
}

.quick_start {
  background: $background-secondary-light;
}

.quick_start_passive {
  background: $background-primary;
}
.quick_start_blue {
  background: $background-primary-light;
}
.quick_start_dark {
  background: $background-secondary;
}
.parent_centre_1 {
  background: $background-primary-light;
}
.parent_centre_2 {
  background: $background-secondary-light;
}
.parent_centre_3 {
  background: $background-secondary;
}
.parent_centre_4 {
  background: $background-primary;
}

.image_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: var(--small-padding);
  width: 10rem;
  margin-bottom: var(--regular-margin);
  max-width: var(--tile-image-text-width);
  background: $background-default;
  box-shadow: var(--ion-default-box-shadow);
  border-radius: var(--ion-border-radius-standard);
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  .button-wrapper {
    order: 1;
    height: auto;
    width: 100%;
    margin-bottom: 1em;
    .btn-tile {
      pointer-events: none;
      border: 0;
      --border-radius: unset;
      border-radius: unset;
      width: 100%;
      height: 100%;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .text {
    order: 2;
    div {
      color: var(--ion-color-primary);
      text-align: center;
    }
  }
}

.two_columns {
  &.image_text {
    height: 100%;
  }
}

.button_tile {
  background: $background-default;
  overflow: hidden;
  justify-content: space-between;
  height: var(--tile-button-style-height);
  &.default_style {
    min-height: unset;
    padding: var(--regular-padding);
  }
  .left-icon {
    flex: 1;
    height: 80%;
    img {
      height: 100%;
    }
    ion-icon {
      font-size: x-large;
      color: var(--ion-color-primary);
      .icon-inner {
        width: 60px;
      }
    }
  }
  &.tile-wrapper {
    margin-bottom: 0;
    .text {
      flex: 6;
      div {
        font-size: var(--font-size-text-medium);
        line-height: var(--line-height-text-small);
        font-weight: var(--font-weight-standard);
        color: var(--ion-color-primary);
      }
    }
    .button-wrapper {
      width: 50px;
      ion-button::part(native) {
        padding-inline-end: 0;
      }
      .btn-tile {
        border: none;
        width: 100%;
        margin-left: 10px;
        img {
          width: 100%;
          margin-right: 10px;
        }
        ion-icon {
          font-size: xxx-large;
          color: var(--ion-color-primary);
          .icon-inner {
            width: 60px;
          }
        }
      }
    }
  }
}
