<div [class]="style" class="tile-wrapper default_style" (click)="triggerActions('click')">
  @if (left_icon_src) {
    <div class="left-icon">
      @if (!isCustomIcon) {
        <ion-icon [name]="left_icon_src"></ion-icon>
      }
    </div>
  }
  <div class="text">
    @if (first_line_text) {
      <div class="first-line-text" [innerHTML]="first_line_text | markdown">
        {{ first_line_text }}
      </div>
    }
    @if (second_line_text) {
      <div class="second-line-text" [innerHTML]="second_line_text | markdown">
        {{ second_line_text }}
      </div>
    }
  </div>
  @if (icon_src) {
    <div class="button-wrapper">
      <ion-button class="btn-tile">
        @if (isCustomIcon) {
          <img
            [style.max-width]="is_play_icon ? '' : 'initial'"
            [style.margin-left]="is_play_icon ? '5px' : '0'"
            [src]="icon_src | plhAsset"
            alt=""
          />
        }
        @if (!isCustomIcon) {
          <ion-icon [name]="icon_src"></ion-icon>
        }
      </ion-button>
    </div>
  }
</div>
