<div [class]="style" class="tile-wrapper default_style" (click)="triggerActions('click')">
  <div class="text">
    <div class="first" *ngIf="first_line_text">{{ first_line_text }}</div>
    <div class="second" *ngIf="second_line_text">{{ second_line_text }}</div>
  </div>
  <div class="button-wrapper" *ngIf="icon_src">
    <ion-button class="btn-tile">
      <img
        [style.max-width]="is_play_icon ? '' : 'initial'"
        [style.margin-left]="is_play_icon ? '5px' : '0'"
        [src]="icon_result"
        alt=""
      />
    </ion-button>
  </div>
</div>
