@import "../../../../../../theme/mixins.scss";

.tile-wrapper {
  @include flex-space-between;
  .text {
    div {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: var(--ion-color-primary-contrast);
    }
  }

  .button-wrapper {
    .btn-tile {
      width: 73px;
      height: 73px;
      --background: transparent;
      --box-shadow: none;
      border: var(--ion-border-light);
      --border-radius: 50%;
      border-radius: var(--ion-border-radius-rounded);
      box-shadow: none;
      --ripple-color: transparent;
      img {
        width: calc(60px * var(--scale-factor-tile));
        height: calc(60px * var(--scale-factor-tile));
      }
    }
  }
}
.default_style {
  padding: 17px 27px;
  box-shadow: var(--ion-default-box-shadow);
  min-height: 104px;
  max-width: 371px;
  border-radius: var(--ion-border-radius-standard);
  margin: var(--regular-margin) auto;
}

.workshop_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(132px * var(--scale-factor-tile));
  max-height: calc(111px * var(--scale-factor-tile));
  background: white;
  border-radius: var(--ion-border-radius-standard);
  background: var(--ion-color-primary-contrast);
  text-align: center;
  padding: var(--small-padding);
  box-shadow: var(--ion-default-box-shadow);
  @media (max-width: 375px) {
    width: calc(122px * var(--scale-factor-tile));
    max-height: calc(101px * var(--scale-factor-tile));
    &.default_style {
      min-height: calc(101px * var(--scale-factor-tile));
    }
  }
  @media (max-width: 320px) {
    width: calc(102px * var(--scale-factor-tile));
    max-height: calc(91px * var(--scale-factor-tile));
    padding: calc(5px * var(--scale-factor-tile));
    resize: both;
    &.default_style {
      min-height: calc(91px * var(--scale-factor-tile));
    }
  }
  .button-wrapper {
    order: 1;
    width: 100%;
    .btn-tile {
      pointer-events: none;
      border: 0;
      --border-radius: unset;
      border-radius: unset;
      width: calc(100% * var(--scale-factor-tile));
      height: calc(55px * var(--scale-factor-tile));
      img {
      }
    }
  }
  .text {
    order: 2;
    div {
      font-size: calc(var(--font-size-text-small) * var(--scale-factor-tile));
      line-height: calc(16px * var(--scale-factor-tile));
      color: var(--ion-color-primary);
    }
  }
}

.quick_start {
  background: var(--tile-secondary-light-gradient);
}

.quick_start_passive {
  background: var(--tile-primary-gradient);
}
.quick_start_blue {
  background: var(--tile-primary-light-gradient);
}
.quick_start_dark {
  background: var(--tile-secondary-gradient);
}
// PARENT CENTRE
.parent_point {
  padding: calc(17px * var(--scale-factor-tile)) 10px;
  width: calc(200px * var(--scale-factor-tile));
  height: calc(104px * var(--scale-factor-tile));
  min-height: unset;
  max-width: unset;
  &.tile-wrapper {
    .text {
      div {
        font-size: calc(20px * var(--scale-factor-tile));
        line-height: calc(28px * var(--scale-factor-tile));
      }
    }
    .button-wrapper {
      .btn-tile {
        width: calc(63px * var(--scale-factor-tile));
        height: calc(63px * var(--scale-factor-tile));
        border: none;
        img {
          width: calc(50px * var(--scale-factor-tile));
          height: calc(50px * var(--scale-factor-tile));
        }
      }
    }
  }
}
.parent_centre_1 {
  background: var(--parent-centre-primary-light-gradient);
}
.parent_centre_2 {
  background: var(--parent-centre-secondary-light-gradient);
}
.parent_centre_3 {
  background: var(--parent-centre-secondary-gradient);
}
.parent_centre_4 {
  background: var(--parent-centre-primary-gradient);
}
