<div [class]="style" class="tile-wrapper default_style" (click)="triggerActions('click')">
  <div *ngIf="left_icon_src" class="left-icon">
    <ion-icon *ngIf="!isCustomIcon" [name]="left_icon_src"></ion-icon>
  </div>
  <div class="text">
    <div class="first-line-text" *ngIf="first_line_text" [innerHTML]="first_line_text | markdown">
      {{ first_line_text }}
    </div>
    <div
      class="second-line-text"
      *ngIf="second_line_text"
      [innerHTML]="second_line_text | markdown"
    >
      {{ second_line_text }}
    </div>
  </div>
  <div class="button-wrapper" *ngIf="icon_src">
    <ion-button class="btn-tile">
      <img
        *ngIf="isCustomIcon"
        [style.max-width]="is_play_icon ? '' : 'initial'"
        [style.margin-left]="is_play_icon ? '5px' : '0'"
        [src]="icon_src | plhAsset"
        alt=""
      />
      <ion-icon *ngIf="!isCustomIcon" [name]="icon_src"></ion-icon>
    </ion-button>
  </div>
</div>
